In [90]:
import os, sys
sys.path.insert(0, '/home/jtorrenc/mvesc/ETL')
from mvesc_utility_functions import *
import numpy as np
import random

In [127]:
def build_outcomes_plus_features(subset_n=None):
    with postgres_pgconnection_generator() as connection:
        #outcome_name = model_options['outcome_name']
        outcome_name = 'definite'
        outcomes_with_student_lookup = read_table_to_df(connection,
            table_name = 'outcome', schema = 'model', nrows = -1,
            columns = ['student_lookup', outcome_name, 'cohort_9th'])
        outcomes_with_student_lookup.dropna(inplace=True)
        if subset_n:
            fraction = subset_n/float(outcomes_with_student_lookup.shape[0])
            print(fraction)
            outcomes_with_student_lookup = outcomes_with_student_lookup \
            .groupby(outcome_name).apply(lambda x :x.sample(frac=fraction))
            outcomes_with_student_lookup.index = outcomes_with_student_lookup.index.droplevel()
    return outcomes_with_student_lookup

In [136]:
a = build_outcomes_plus_features(100)
outcome_name = 'definite'

0.01073998496402105

In [137]:
a.groupby(outcome_name).agg('count')

          student_lookup  cohort_9th
definite
0.0                   96          96
1.0                    4           4

In [138]:
a[outcome_name].eq(1).any()

True

In [139]:
print(a.head(1))
a.set_value(a.index[0],outcome_name,1)
print(a.head(1))

      student_lookup  definite  cohort_9th
9490          9736.0       0.0        2012
      student_lookup  definite  cohort_9th
9490          9736.0       1.0        2012

In [110]:
a

       student_lookup  definite  cohort_9th
6630          40863.0       0.0        2011
2852          36764.0       0.0        2008
9840           7887.0       0.0        2012
7215          42820.0       0.0        2011
8949          13182.0       0.0        2012
10543         16715.0       0.0        2012
2689          41203.0       0.0        2008
4335          40724.0       0.0        2009
5350          42072.0       0.0        2010
3718          34908.0       0.0        2009
8483           1943.0       0.0        2012
233           58317.0       0.0        2006
3057          39961.0       0.0        2008
6382          39552.0       0.0        2011
6337          38752.0       0.0        2011
9981           6794.0       0.0        2012
2281          39326.0       0.0        2007
164           57155.0       0.0        2006
10720          4564.0       0.0        2012
4843          35709.0       0.0        2010
8720          13431.0       0.0        2012
10370         16873.0       0.0        2012
8407           2888.0       0.0        2012
1864          36521.0       0.0        2007
1728          35916.0       0.0        2007
10422         13674.0       0.0        2012
2286          39336.0       0.0        2007
1785          36256.0       0.0        2007
8403           3195.0       0.0        2012
4672          41284.0       0.0        2009
...               ...       ...         ...
965           57668.0       0.0        2006
490           58191.0       0.0        2006
10138          6571.0       0.0        2012
3079          35081.0       0.0        2008
7413          43038.0       0.0        2011
1590          34734.0       0.0        2007
7310          42923.0       0.0        2011
6727          41150.0       0.0        2011
1306          41249.0       0.0        2007
10076          6647.0       0.0        2012
10628         14617.0       0.0        2012
9664           8809.0       0.0        2012
1995          37130.0       0.0        2007
9697           8756.0       0.0        2012
1686          35430.0       0.0        2007
7589          43229.0       0.0        2011
6467          40088.0       0.0        2011
10167          6006.0       0.0        2012
7508          43144.0       0.0        2011
8933            824.0       0.0        2012
2267          38908.0       0.0        2007
1589          34729.0       0.0        2007
3687          34795.0       0.0        2009
5986          38559.0       0.0        2010
5006          40757.0       0.0        2010
8767          43080.0       0.0        2012
8260         700248.0       1.0        2011
7882          49080.0       1.0        2011
11073         52098.0       1.0        2008
8244         699772.0       1.0        2011

[100 rows x 3 columns]