In [1]:
import sys, os
sys.path.insert(0, '/home/jgutman/mvesc/ETL')
from mvesc_utility_functions import *
import pandas as pd

In [2]:
import re
import numpy as np

In [3]:
import pickle

In [4]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [26]:
def get_specific_cross_tabs(crosstabs, key, feature):
    """
    Given the dictionary of all possible crosstabs, and a filename for a
    single model, and a single feature, and whether to use the predictions on
    train/val/test set, returns a nicely formatted crosstab dataframe for that
    model/feature/set.

    :param dict(tuple: list(dataframe)) crosstabs: the full crosstabs dictionary
        as computed by loop_through_top_models function
    :param str model_name: a string containing the model type for the
        specific model run to pull crosstabs for
    :param str label: a string containing the outcome label to pull
    :param str feature: a string containing the feature e.g. 'days_present_gr_9'
    :param str split: whether to pull predictions on train, val, or test
    :returns dataframe containing actual vs predicted vs marginal proportions
        on positive/negative class by binned level of feature
    :rtype pd.dataframe
    """
    crosstab = crosstabs[key][feature]
    totals = crosstab.ix['true_label: All']
    predicted = 100*crosstab.ix[['predicted_label: True',
        'predicted_label: False']]/totals
    actual = 100*crosstab.ix[['true_label: True',
        'true_label: False']]/totals
    full = predicted.append(actual)
    full = full.append(totals*100)
    full = full.round(2)
    return full

In [6]:
def build_temp_table_best_models(cursor, optimization_criteria,
    table_name = 'top_models', feature_categories = 'all',
    prediction_grade = 10, timestamp_filter = '2016-08-09 06:00:00'):
    """
    For each model_name and label category, filtered on specified options
    grab the highest ranking model according to the optimization criteria.
    Return a list of tuples containing the filename, model_name, label,
    feature list, and grade range for the models you want to pull predictions

    :param pscyopg2.cursor cursor: a cursor to execute queries on the database
    :param str table_name: name for the temporary table to hold best models
    :param str feature_categories: specify what features are given to the models
        being compared, by default include only models trained on all features
    :param int prediction_grade: the prediction time point for all models
    :param str timestamp_filter: a timestamp format string to ignore all models
        run prior to the time specified here

    :returns a list of the top models to compare features for
        each model specified as (filename, model_name, label, features, grades)
    :rtype list(tuple)
    """
    if (feature_categories == 'all'):
        feature_categories = '%,%,%'
    top_models_query = """
    drop table if exists {table};
    create temporary table {table} as
    select distinct on (model_name, label) * from
        (select model_name, filename, label, feature_categories,
        feature_grades, {criteria},
        rank() over (partition by (model_name, label)
        order by {ranker} desc) as val_rank
        from model.reports
        where debug=false
        and feature_categories like '{features}'
        and cv_scheme = 'leave_cohort_out'
        and prediction_grade = {grade}
        and timestamp > '{timestamp}'
        order by model_name, label, val_rank) vr
    order by model_name, label, val_rank;
    """.format(table = table_name, features = feature_categories,
        grade = prediction_grade, timestamp = timestamp_filter,
        criteria = ", ".join(optimization_criteria),
        ranker = optimization_criteria[0])

    cursor.execute(top_models_query)
    cursor.execute("""select filename, model_name, label,
        feature_categories, feature_grades from {table}
        """.format(table=table_name))
    models_and_features = cursor.fetchall()

    print('done grabbing models')
    return models_and_features

In [27]:
def loop_through_top_models(cursor, models_and_features,
    splits = ['train', 'val', 'test']):
    """
    Get a list of models to search over and then for each model, pull the
    predictions and feature values for every student in the specified splits
    for all features included in the feature categories and grade range of the
    model. Then bin those features into categorical variables and build rough
    crosstabs on each model-feature-split combination.

    :param list(str) optimization_criteria: a list of model selection criteria
        to compare models, with the first element used to pull the top model
    :param list(str) splits: a list of what sets should be included, i.e. some
        combination of 'train', 'test', 'val'
    :returns a dictionary of rough crosstabs, keyed by model
    """
    crosstabs_by_model_and_feature = dict()

    for (table_name, model_name, label, feature_tables,
            feature_grade_range) in models_and_features:
        print('working on {}:{}'.format(model_name, label))
        feature_table_list = feature_tables.split(", ")
        feature_grades = [int(i) for i in
                feature_grade_range.split(", ")]
        feature_grade_regex = '({})'.format('|'.join(
            [str(i) for i in feature_grades]))
        pattern = re.compile('(_gr_{rx}\Z)|(\D\Z)'.format(
            rx=feature_grade_regex))

        for test_set in splits:
            get_model_predictions = """
            select * from
            (select student_lookup, true_label, predicted_label,
            predicted_label = true_label as correct
            from predictions."{table}"
            where split = '{test_set}') preds
            """.format(table = table_name, test_set = test_set)

            for features in feature_table_list:
                get_model_predictions += """ left join
            (select * from model.{features}) {features}
            using(student_lookup)
            """.format(features = features)

            cursor.execute(get_model_predictions)
            predictions_and_features = cursor.fetchall()
            colnames = [i[0] for i in cursor.description]

            predictions = pd.DataFrame.from_records(
                predictions_and_features,
                index = 'student_lookup',
                columns = colnames)
            predictions = predictions.filter(regex=pattern)
            predictions[['true_label', 'predicted_label']] = \
            predictions[['true_label', 'predicted_label']].astype(bool)
            predictions = make_df_categorical(predictions)

            crosstabs = build_crosstabs(predictions)
            key = (table_name, model_name, label, test_set)
            crosstabs_by_model_and_feature[key] = crosstabs
    return crosstabs_by_model_and_feature

In [8]:
def build_crosstabs(prediction_data):
    # base_rates = {col: prediction_data[col].value_counts()
    #                    for col in prediction_data.columns}
    predicted = {col: pd.crosstab(index=prediction_data.predicted_label,
                    columns = prediction_data[col], margins=True,
                    normalize = True)
                for col in prediction_data.columns[3:]}
    actual = {col: pd.crosstab(index=prediction_data.true_label,
                    columns = prediction_data[col], margins=True,
                    normalize = True)
                 for col in prediction_data.columns[3:]}
    correct = {col: pd.crosstab(index=prediction_data.correct,
                    columns = prediction_data[col], margins=True,
                    normalize = True)
                 for col in prediction_data.columns[3:]}

    predicted_plus_actual = dict()
    for feature in predicted.keys():
        preds = predicted[feature]
        true = actual[feature]
        corr = correct[feature]
        preds.index = ['{name}: {value}'.format(name=preds.index.name,
                        value=value) for value in preds.index]
        true.index = ['{name}: {value}'.format(name=true.index.name,
                        value=value) for value in true.index]
        corr.index = ['{name}: {value}'.format(name=corr.index.name,
                        value=value) for value in corr.index]
        full = preds.append(true)
        full = full.append(corr)
        predicted_plus_actual[feature] = full
    return predicted_plus_actual

In [9]:
def make_df_categorical(raw_data):
    string_features = raw_data.select_dtypes(include=[object, bool])
    numeric_features = raw_data.select_dtypes(include=[np.number])

    for string_col in string_features.columns:
        raw_data[string_col] = string_features[string_col].astype('category')
        if (len(raw_data[string_col].cat.categories) < 2
            and string_col != 'predicted_label'
            and string_col != 'true_label'
            and string_col != 'correct'):
            raw_data.drop(string_col, axis=1, inplace=True)

    for numeric_col in numeric_features.columns:
        num_values = len(numeric_features[numeric_col].unique())
        num_bins = min(5, num_values)
        if (num_values < 2):
            raw_data.drop(numeric_col, axis=1, inplace=True)
        elif (num_values == 2 and
            numeric_features[numeric_col].isnull().sum() > 0):
            raw_data[numeric_col] = numeric_features[numeric_col] \
                .isnull().astype('category')
        else:
            raw_data[numeric_col] = pd.cut(numeric_features[numeric_col],
                bins = num_bins, precision = 1)

    return raw_data

In [10]:
path = os.path.join('/home/jgutman/mvesc', 'Error_Feature_Analysis', 'pkls')
filename = 'updated_crosstabs.pkl'

In [11]:
# load pkl file
pkl_file = open(os.path.join(path, filename),'rb')
all_top_crosstabs = pickle.load(pkl_file)

In [12]:
model_list = [model[0] for model in all_top_crosstabs.keys()]

In [28]:
load_pkl = False

In [29]:
filename = 'selected_RF_not_on_time.pkl'

In [30]:
with postgres_pgconnection_generator() as connection:
    with connection.cursor() as cursor:
        select_hanna_models = """
    select distinct on (filename) filename, model_name, label, feature_categories, 
    feature_grades from model.reports
    where filename in ('08_09_2016_grade_6_param_set_0_RF_ht_8585', 
    '08_09_2016_grade_7_param_set_7_RF_ht_10497', '08_09_2016_grade_8_param_set_13_RF_ht_13254',
    '08_09_2016_grade_9_param_set_0_RF_ht_8645', '08_09_2016_grade_10_param_set_0_RF_ht_8680')
    ;"""
        cursor.execute(select_hanna_models)
        models_and_features = cursor.fetchall()

In [31]:
# either load a stored pkl or compute it from scratch
if load_pkl:
    # load pkl file
    pkl_file = open(os.path.join(path, filename),'rb')
    all_top_crosstabs = pickle.load(pkl_file)
else:
    with postgres_pgconnection_generator() as connection:
        with connection.cursor() as cursor:
            #models_and_features = build_temp_table_best_models(
            #    cursor, optimization_criteria)
            all_top_crosstabs = loop_through_top_models(
                cursor, models_and_features, ['val', 'test'])
            with open(os.path.join(path, filename), 'wb') as f:
                pickle.dump(all_top_crosstabs, f)

working on RF:not_on_time
working on RF:not_on_time
working on RF:not_on_time
working on RF:not_on_time
working on RF:not_on_time

In [33]:
len(all_top_crosstabs.keys())

10

In [40]:
# models and features to display crosstabs for
ignore_splits = set('train')
ignore_models = set()
ignore_outcomes = set()
specific_feature_list = dict()

In [ ]:
for model in all_top_crosstabs.keys():
    filename = model[0]
    model_name = model[1]
    outcome = model[2]
    split = model[3]
    if (model_name in ignore_models or split in ignore_splits or
        outcome in ignore_outcomes):
        continue
    else:
        if not specific_feature_list:
            feature_list = all_top_crosstabs[model].keys()
        else:
            feature_list = specific_feature_list
        for feature in feature_list:
            try:
                print(filename, model_name, outcome, split)
                get_specific_cross_tabs(
                    all_top_crosstabs, model, feature)
            except KeyError:
                print('{} not in {}'.format(feature, filename))
                continue

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_wkd_1_gr_8,"(-0.007, 1.4]","(1.4, 2.8]","(2.8, 4.2]","(4.2, 5.6]","(5.6, 7]",All
predicted_label: True,17.74,20.00,25.00,25.00,0.00,17.83
predicted_label: False,82.26,80.00,75.00,75.00,100.00,82.17
true_label: True,25.45,40.00,45.83,75.00,0.00,25.88
true_label: False,74.55,60.00,54.17,25.00,100.00,74.12
true_label: All,97.61,1.19,0.96,0.16,0.08,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_wkd_2_gr_8,"(-0.01, 2.4]","(2.4, 4.8]","(4.8, 7.2]","(7.2, 9.6]","(9.6, 12]",All
predicted_label: True,17.85,15.0,0.00,NaN,100.00,17.83
predicted_label: False,82.15,85.0,100.00,NaN,0.00,82.17
true_label: True,25.76,35.0,33.33,NaN,100.00,25.88
true_label: False,74.24,65.0,66.67,NaN,0.00,74.12
true_label: All,99.04,0.8,0.12,0.0,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

seventh_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.75,0.60,28.57,61.65,8.49,11.53
predicted_label: False,98.25,99.40,71.43,38.35,91.51,88.47
true_label: True,12.59,7.23,39.53,51.88,22.52,21.73
true_label: False,87.41,92.77,60.47,48.12,77.48,78.27
true_label: All,26.17,15.19,13.77,6.08,38.79,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

health_gpa_gr_8,"(0.2, 1]","(1, 1.8]","(1.8, 2.5]","(2.5, 3.2]","(3.2, 4]",All
predicted_label: True,45.00,29.63,14.85,6.52,2.96,6.35
predicted_label: False,55.00,70.37,85.15,93.48,97.04,93.65
true_label: True,75.00,40.74,26.73,24.64,13.93,18.83
true_label: False,25.00,59.26,73.27,75.36,86.07,81.17
true_label: All,2.08,2.81,10.51,14.36,70.24,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_consec_gr_8,"(-0.04, 8.4]","(8.4, 16.8]","(16.8, 25.2]","(25.2, 33.6]","(33.6, 42]",All
predicted_label: True,17.46,35.90,42.86,50.00,0.00,17.83
predicted_label: False,82.54,64.10,57.14,50.00,100.00,82.17
true_label: True,25.13,61.54,71.43,50.00,100.00,25.88
true_label: False,74.87,38.46,28.57,50.00,0.00,74.12
true_label: All,98.05,1.55,0.28,0.08,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fourth_math_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,33.09,10.67,5.32,2.28,0.27,10.55
predicted_label: False,66.91,89.33,94.68,97.72,99.73,89.45
true_label: True,35.52,28.54,16.25,12.56,7.26,20.36
true_label: False,64.48,71.46,83.75,87.44,92.74,79.64
true_label: All,20.46,21.45,17.77,21.80,18.52,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_science_percentile,"(-1, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,33.25,11.21,6.63,0.97,0.51,10.63
predicted_label: False,66.75,88.79,93.37,99.03,99.49,89.37
true_label: True,37.65,26.91,18.11,10.41,6.91,20.23
true_label: False,62.35,73.09,81.89,89.59,93.09,79.77
true_label: All,19.94,21.75,19.11,20.14,19.06,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_humanities_classes_gr_8,"(-0.005, 1]","(1, 2]","(2, 3]","(3, 4]","(4, 5]",All
predicted_label: True,15.11,4.48,6.06,7.97,0.00,10.88
predicted_label: False,84.89,95.52,93.94,92.03,100.00,89.12
true_label: True,21.20,18.91,21.21,15.22,0.00,20.06
true_label: False,78.80,81.09,78.79,84.78,100.00,79.94
true_label: All,56.77,25.73,9.93,6.92,0.65,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_wkd_3_gr_8,"(-0.01, 2.6]","(2.6, 5.2]","(5.2, 7.8]","(7.8, 10.4]","(10.4, 13]",All
predicted_label: True,17.50,18.52,50.00,30.0,100.00,17.83
predicted_label: False,82.50,81.48,50.00,70.0,0.00,82.17
true_label: True,24.95,36.11,62.50,70.0,100.00,25.88
true_label: False,75.05,63.89,37.50,30.0,0.00,74.12
true_label: All,94.63,4.30,0.64,0.4,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_math_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,35.41,12.14,4.48,1.32,0.46,10.64
predicted_label: False,64.59,87.86,95.52,98.68,99.54,89.36
true_label: True,39.40,24.76,19.58,10.82,6.93,20.20
true_label: False,60.60,75.24,80.42,89.18,93.07,79.80
true_label: All,19.57,20.11,20.69,18.50,21.13,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.84,0.41,15.03,36.66,5.25,10.64
predicted_label: False,99.16,99.59,84.97,63.34,94.75,89.36
true_label: True,10.92,6.49,26.94,39.88,19.63,20.20
true_label: False,89.08,93.51,73.06,60.12,80.37,79.80
true_label: All,11.62,24.06,18.84,16.64,28.84,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

days_absent_unexcused_gr_8,"(-0.03, 5]","(5, 10]","(10, 15]","(15, 20]","(20, 25]",All
predicted_label: True,17.65,21.88,23.53,20.0,100.00,17.83
predicted_label: False,82.35,78.12,76.47,80.0,0.00,82.17
true_label: True,24.99,54.69,47.06,20.0,0.00,25.88
true_label: False,75.01,45.31,52.94,80.0,100.00,74.12
true_label: All,96.54,2.55,0.68,0.2,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_future_prep_classes_gr_8  (-0.001, 0.3]  (0.3, 0.7]  (0.7, 1]     All
predicted_label: True                 10.81         NaN     13.33   10.88
predicted_label: False                89.19         NaN     86.67   89.12
true_label: True                      20.11         NaN     18.33   20.06
true_label: False                     79.89         NaN     81.67   79.94
true_label: All                       96.99         0.0      3.01  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

academic_inv_gr_8       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           18.26     14.44   17.83
predicted_label: False          81.74     85.56   82.17
true_label: True                25.64     27.80   25.88
true_label: False               74.36     72.20   74.12
true_label: All                 88.97     11.03  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_wkd_5_gr_8,"(-0.009, 1.8]","(1.8, 3.6]","(3.6, 5.4]","(5.4, 7.2]","(7.2, 9]",All
predicted_label: True,17.90,8.11,25.00,100.00,50.00,17.83
predicted_label: False,82.10,91.89,75.00,0.00,50.00,82.17
true_label: True,25.77,24.32,37.50,100.00,100.00,25.88
true_label: False,74.23,75.68,62.50,0.00,0.00,74.12
true_label: All,98.09,1.47,0.32,0.04,0.08,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_science_normalized,"(-3.2, -1.7]","(-1.7, -0.3]","(-0.3, 1.2]","(1.2, 2.7]","(2.7, 4.1]",All
predicted_label: True,65.12,22.63,1.94,0.44,0.00,11.49
predicted_label: False,34.88,77.37,98.06,99.56,100.00,88.51
true_label: True,56.98,34.26,15.00,5.75,10.00,22.44
true_label: False,43.02,65.74,85.00,94.25,90.00,77.56
true_label: All,3.83,35.22,50.45,10.06,0.45,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_interventions_classes_gr_8  False   True     All
predicted_label: True           10.88  44.59   17.83
predicted_label: False          89.12  55.41   82.17
true_label: True                20.06  48.26   25.88
true_label: False               79.94  51.74   74.12
true_label: All                 79.38  20.62  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_stem_classes_gr_8,"(-0.003, 0.6]","(0.6, 1.2]","(1.2, 1.8]","(1.8, 2.4]","(2.4, 3]",All
predicted_label: True,16.80,5.26,NaN,6.10,8.08,10.88
predicted_label: False,83.20,94.74,NaN,93.90,91.92,89.12
true_label: True,20.54,10.53,NaN,19.87,20.71,20.06
true_label: False,79.46,89.47,NaN,80.13,79.29,79.94
true_label: All,42.98,1.91,0.0,45.19,9.93,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_wkd_2_gr_8,"(-0.02, 3.2]","(3.2, 6.4]","(6.4, 9.6]","(9.6, 12.8]","(12.8, 16]",All
predicted_label: True,17.47,24.10,37.50,50.00,100.00,17.83
predicted_label: False,82.53,75.90,62.50,50.00,0.00,82.17
true_label: True,25.08,43.37,50.00,75.00,100.00,25.88
true_label: False,74.92,56.63,50.00,25.00,0.00,74.12
true_label: All,96.18,3.30,0.32,0.16,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

city_transition_in_gr_8  False   True     All
predicted_label: True     7.06  35.48    7.69
predicted_label: False   92.94  64.52   92.31
true_label: True         21.03  38.71   21.42
true_label: False        78.97  61.29   78.58
true_label: All          97.79   2.21  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fourth_read_normalized,"(-3.1, -1.8]","(-1.8, -0.6]","(-0.6, 0.7]","(0.7, 2]","(2, 3.2]",All
predicted_label: True,55.17,23.32,6.50,1.69,0.00,10.55
predicted_label: False,44.83,76.68,93.50,98.31,100.00,89.45
true_label: True,41.38,32.96,18.17,10.12,10.71,20.36
true_label: False,58.62,67.04,81.83,89.88,89.29,79.64
true_label: All,2.89,22.20,52.86,20.66,1.39,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

future_prep_gpa_gr_8,"(1, 1.6]","(1.6, 2.2]","(2.2, 2.8]","(2.8, 3.4]","(3.4, 4]",All
predicted_label: True,100.00,100.00,100.00,0.00,4.65,13.33
predicted_label: False,0.00,0.00,0.00,100.00,95.35,86.67
true_label: True,100.00,66.67,0.00,18.18,11.63,18.33
true_label: False,0.00,33.33,100.00,81.82,88.37,81.67
true_label: All,3.33,5.00,1.67,18.33,71.67,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_wkd_4_gr_8      (-0.01, 2]  (2, 4]  (4, 6]  (6, 8]  (8, 10]     All
predicted_label: True        17.46   20.59   39.29   14.29    25.00   17.83
predicted_label: False       82.54   79.41   60.71   85.71    75.00   82.17
true_label: True             24.84   38.24   53.57   57.14    75.00   25.88
true_label: False            75.16   61.76   46.43   42.86    25.00   74.12
true_label: All              94.39    4.06    1.11    0.28     0.16  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

sixth_math_normalized,"(-3.2, -1.7]","(-1.7, -0.2]","(-0.2, 1.2]","(1.2, 2.7]","(2.7, 4.2]",All
predicted_label: True,52.11,22.78,3.18,0.56,0.00,11.57
predicted_label: False,47.89,77.22,96.82,99.44,100.00,88.43
true_label: True,39.44,33.25,14.19,6.74,7.14,21.16
true_label: False,60.56,66.75,85.81,93.26,92.86,78.84
true_label: All,3.35,35.66,51.91,8.41,0.66,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

seventh_read_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,38.80,12.06,4.57,1.43,0.98,11.53
predicted_label: False,61.20,87.94,95.43,98.57,99.02,88.47
true_label: True,43.42,27.90,16.10,13.13,8.09,21.73
true_label: False,56.58,72.10,83.90,86.87,91.91,78.27
true_label: All,19.81,19.35,23.01,19.17,18.66,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

iss_gr_8,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,17.89,10.00,20.83,33.33,100.00,17.83
predicted_label: False,82.11,90.00,79.17,66.67,0.00,82.17
true_label: True,25.50,33.33,33.33,50.00,100.00,25.88
true_label: False,74.50,66.67,66.67,50.00,0.00,74.12
true_label: All,96.34,2.39,0.96,0.24,0.08,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

third_read_percentile,"(-0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,34.07,14.75,6.29,2.81,1.04,11.62
predicted_label: False,65.93,85.25,93.71,97.19,98.96,88.38
true_label: True,38.52,29.86,16.98,11.65,7.99,20.88
true_label: False,61.48,70.14,83.02,88.35,92.01,79.12
true_label: All,19.24,19.81,22.67,17.75,20.53,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_math_percentile,"(-0.0006, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,45.56,7.91,1.83,2.46,0.21,11.49
predicted_label: False,54.44,92.09,98.17,97.54,99.79,88.51
true_label: True,42.60,28.40,16.93,13.55,10.19,22.44
true_label: False,57.40,71.60,83.07,86.45,89.81,77.56
true_label: All,19.55,21.95,19.46,18.08,20.97,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

gpa_gr_8,"(0.2, 1]","(1, 1.7]","(1.7, 2.5]","(2.5, 3.2]","(3.2, 4]",All
predicted_label: True,100.00,64.81,10.10,0.76,0.63,6.55
predicted_label: False,0.00,35.19,89.90,99.24,99.37,93.45
true_label: True,69.23,50.00,38.94,16.16,9.28,19.65
true_label: False,30.77,50.00,61.06,83.84,90.72,80.35
true_label: All,1.14,4.72,18.17,34.59,41.40,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_gr_8,"(-0.03, 6.4]","(6.4, 12.8]","(12.8, 19.2]","(19.2, 25.6]","(25.6, 32]",All
predicted_label: True,17.75,20.00,27.27,0.00,100.00,17.83
predicted_label: False,82.25,80.00,72.73,100.00,0.00,82.17
true_label: True,25.67,34.29,36.36,33.33,100.00,25.88
true_label: False,74.33,65.71,63.64,66.67,0.00,74.12
true_label: All,98.01,1.39,0.44,0.12,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fourth_math_pl,Accelerated,Advanced,Basic,Failed,Limited,Proficient,All
predicted_label: True,2.28,0.27,24.28,100.00,49.24,8.61,10.55
predicted_label: False,97.72,99.73,75.72,0.00,50.76,91.39,89.45
true_label: True,12.33,7.26,34.42,100.00,36.36,23.29,20.36
true_label: False,87.67,92.74,65.58,0.00,63.64,76.71,79.64
true_label: All,21.80,18.52,13.74,0.05,6.57,39.32,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.19,1.77,12.12,38.16,5.81,10.63
predicted_label: False,97.81,98.23,87.88,61.84,94.19,89.37
true_label: True,10.34,7.08,30.68,35.20,17.81,20.29
true_label: False,89.66,92.92,69.32,64.80,82.19,79.71
true_label: All,15.56,5.51,12.88,14.83,51.22,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_consec_gr_8       (-0.01, 2]  (2, 4]  (4, 6]  (6, 8]  (8, 10]     All
predicted_label: True        17.80   25.00    0.00    0.00    50.00   17.83
predicted_label: False       82.20   75.00  100.00  100.00    50.00   82.17
true_label: True             25.73   58.33    0.00    0.00    50.00   25.88
true_label: False            74.27   41.67  100.00  100.00    50.00   74.12
true_label: All              99.32    0.48    0.08    0.04     0.08  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

third_read_normalized,"(-3.5, -2.06]","(-2.06, -0.7]","(-0.7, 0.7]","(0.7, 2.09]","(2.09, 3.5]",All
predicted_label: True,38.46,28.70,7.52,1.15,0.00,11.62
predicted_label: False,61.54,71.30,92.48,98.85,100.00,88.38
true_label: True,30.77,36.73,18.73,7.63,12.12,20.88
true_label: False,69.23,63.27,81.27,92.37,87.88,79.12
true_label: All,1.85,23.09,54.03,18.67,2.35,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

third_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,3.50,1.45,29.38,46.97,11.07,11.60
predicted_label: False,96.50,98.55,70.62,53.03,88.93,88.40
true_label: True,12.59,7.51,35.55,45.45,25.41,20.83
true_label: False,87.41,92.49,64.45,54.55,74.59,79.17
true_label: All,20.47,24.77,15.10,4.72,34.93,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

language_gpa_gr_8,"(1, 1.6]","(1.6, 2.2]","(2.2, 2.8]","(2.8, 3.4]","(3.4, 4]",All
predicted_label: True,0.00,0.00,0.00,0.00,0.00,0.00
predicted_label: False,100.00,100.00,100.00,100.00,100.00,100.00
true_label: True,25.00,33.33,0.00,10.00,6.56,9.62
true_label: False,75.00,66.67,100.00,90.00,93.44,90.38
true_label: All,3.85,5.77,2.88,28.85,58.65,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

n_addresses_to_gr_8,"(1, 1.6]","(1.6, 2.2]","(2.2, 2.8]","(2.8, 3.4]","(3.4, 4]",All
predicted_label: True,8.31,23.85,NaN,36.36,0.00,9.88
predicted_label: False,91.69,76.15,NaN,63.64,100.00,90.12
true_label: True,21.20,33.85,NaN,63.64,50.00,22.67
true_label: False,78.80,66.15,NaN,36.36,50.00,77.33
true_label: All,90.32,8.80,0.0,0.74,0.14,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

mid_year_withdraw_gr_8  False   True     All
predicted_label: True   53.33  31.82   40.54
predicted_label: False  46.67  68.18   59.46
true_label: True        53.33  54.55   54.05
true_label: False       46.67  45.45   45.95
true_label: All         40.54  59.46  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_wkd_1_gr_8,"(-0.01, 2.4]","(2.4, 4.8]","(4.8, 7.2]","(7.2, 9.6]","(9.6, 12]",All
predicted_label: True,17.39,21.05,26.47,80.0,66.67,17.83
predicted_label: False,82.61,78.95,73.53,20.0,33.33,82.17
true_label: True,24.93,36.84,47.06,80.0,100.00,25.88
true_label: False,75.07,63.16,52.94,20.0,0.00,74.12
true_label: All,94.55,3.78,1.35,0.2,0.12,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_unexcused_gr_8,"(-0.03, 5]","(5, 10]","(10, 15]","(15, 20]","(20, 25]",All
predicted_label: True,17.65,21.88,23.53,20.0,100.00,17.83
predicted_label: False,82.35,78.12,76.47,80.0,0.00,82.17
true_label: True,24.99,54.69,47.06,20.0,0.00,25.88
true_label: False,75.01,45.31,52.94,80.0,100.00,74.12
true_label: All,96.54,2.55,0.68,0.2,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_socstudies_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,33.33,9.86,4.48,2.95,1.18,10.64
predicted_label: False,66.67,90.14,95.52,97.05,98.82,89.36
true_label: True,39.67,24.65,14.93,10.99,9.00,20.16
true_label: False,60.33,75.35,85.07,89.01,91.00,79.84
true_label: All,20.79,20.79,19.62,18.20,20.60,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_read_normalized,"(-3.7, -2.07]","(-2.07, -0.5]","(-0.5, 1.1]","(1.1, 2.7]","(2.7, 4.3]",All
predicted_label: True,72.41,26.64,3.08,0.44,0.00,11.48
predicted_label: False,27.59,73.36,96.92,99.56,100.00,88.52
true_label: True,55.17,37.14,16.02,8.77,0.00,22.43
true_label: False,44.83,62.86,83.98,91.23,100.00,77.57
true_label: All,2.58,29.24,57.77,10.15,0.27,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

limited_english_gr_8         M      N     All
predicted_label: True     0.00  17.86   17.83
predicted_label: False  100.00  82.14   82.17
true_label: True          0.00  25.91   25.88
true_label: False       100.00  74.09   74.12
true_label: All           0.12  99.88  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

spec_instruc_gr_8       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           18.69      0.83   17.83
predicted_label: False          81.31     99.17   82.17
true_label: True                26.76      8.33   25.88
true_label: False               73.24     91.67   74.12
true_label: All                 95.22      4.78  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

seventh_math_normalized,"(-3.3, -1.8]","(-1.8, -0.3]","(-0.3, 1.2]","(1.2, 2.6]","(2.6, 4.1]",All
predicted_label: True,55.32,23.88,3.61,0.00,0.0,11.53
predicted_label: False,44.68,76.12,96.39,100.00,100.0,88.47
true_label: True,44.68,33.84,15.26,9.13,0.0,21.74
true_label: False,55.32,66.16,84.74,90.87,100.0,78.26
true_label: All,2.15,35.84,49.47,12.04,0.5,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_language_classes_gr_8  (-0.001, 0.3]  (0.3, 0.7]  (0.7, 1]     All
predicted_label: True              11.48         NaN      0.00   10.88
predicted_label: False             88.52         NaN    100.00   89.12
true_label: True                   20.63         NaN      9.62   20.06
true_label: False                  79.37         NaN     90.38   79.94
true_label: All                    94.78         0.0      5.22  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

avg_city_change_to_gr_8,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,8.94,44.12,18.18,100.00,0.00,9.88
predicted_label: False,91.06,55.88,81.82,0.00,100.00,90.12
true_label: True,21.87,44.12,45.45,100.00,100.00,22.67
true_label: False,78.13,55.88,54.55,0.00,0.00,77.33
true_label: All,96.82,2.30,0.74,0.07,0.07,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

ethnicity                   A      B     H      I      M      W     All
predicted_label: True   16.67  56.94  50.0  50.00  36.27  15.51   17.73
predicted_label: False  83.33  43.06  50.0  50.00  63.73  84.49   82.27
true_label: True        41.67  58.33  60.0  50.00  32.35  24.16   25.73
true_label: False       58.33  41.67  40.0  50.00  67.65  75.84   74.27
true_label: All          0.48   2.88   0.4   0.08   4.08  92.08  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

third_math_percentile,"(-0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,33.45,13.08,7.36,3.60,0.39,11.60
predicted_label: False,66.55,86.92,92.64,96.40,99.61,88.40
true_label: True,37.77,25.38,21.17,12.23,6.67,20.83
true_label: False,62.23,74.62,78.83,87.77,93.33,79.17
true_label: All,19.90,18.61,23.34,19.90,18.25,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

extracurr_program_gr_8  (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           18.04      0.00   17.83
predicted_label: False          81.96    100.00   82.17
true_label: True                26.01     14.29   25.88
true_label: False               73.99     85.71   74.12
true_label: All                 98.89      1.11  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_unexcused_gr_8,"(-0.03, 6.4]","(6.4, 12.8]","(12.8, 19.2]","(19.2, 25.6]","(25.6, 32]",All
predicted_label: True,17.74,23.53,20.0,0.00,100.00,17.83
predicted_label: False,82.26,76.47,80.0,100.00,0.00,82.17
true_label: True,25.65,38.24,30.0,33.33,100.00,25.88
true_label: False,74.35,61.76,70.0,66.67,0.00,74.12
true_label: All,98.09,1.35,0.4,0.12,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_wkd_5_gr_8,"(-0.009, 1.8]","(1.8, 3.6]","(3.6, 5.4]","(5.4, 7.2]","(7.2, 9]",All
predicted_label: True,18.01,11.11,22.95,50.00,33.33,17.83
predicted_label: False,81.99,88.89,77.05,50.00,66.67,82.17
true_label: True,25.16,26.11,40.98,64.29,66.67,25.88
true_label: False,74.84,73.89,59.02,35.71,33.33,74.12
true_label: All,89.73,7.17,2.43,0.56,0.12,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

days_absent_excused_gr_8,"(-0.05, 9.4]","(9.4, 18.8]","(18.8, 28.2]","(28.2, 37.6]","(37.6, 47]",All
predicted_label: True,19.01,8.94,23.88,50.00,50.00,17.83
predicted_label: False,80.99,91.06,76.12,50.00,50.00,82.17
true_label: True,25.02,24.93,50.75,58.33,50.00,25.88
true_label: False,74.98,75.07,49.25,41.67,50.00,74.12
true_label: All,82.09,14.69,2.67,0.48,0.08,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

seventh_read_normalized,"(-3.4, -2.1]","(-2.1, -0.9]","(-0.9, 0.4]","(0.4, 1.7]","(1.7, 2.9]",All
predicted_label: True,76.00,33.94,7.99,1.36,0.00,11.53
predicted_label: False,24.00,66.06,92.01,98.64,100.00,88.47
true_label: True,60.00,41.25,21.49,10.87,8.79,21.73
true_label: False,40.00,58.75,78.51,89.13,91.21,78.27
true_label: All,2.29,17.52,42.36,33.67,4.16,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

atheletics_gr_8         (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           22.63      2.50   17.83
predicted_label: False          77.37     97.50   82.17
true_label: True                29.85     13.19   25.88
true_label: False               70.15     86.81   74.12
true_label: All                 76.15     23.85  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_science_normalized,"(-3.01, -1.8]","(-1.8, -0.5]","(-0.5, 0.7]","(0.7, 2]","(2, 3.2]",All
predicted_label: True,55.68,21.48,5.79,0.47,0.00,10.63
predicted_label: False,44.32,78.52,94.21,99.53,100.00,89.37
true_label: True,40.91,32.42,18.29,6.59,11.90,20.23
true_label: False,59.09,67.58,81.71,93.41,88.10,79.77
true_label: All,4.29,24.96,47.98,20.72,2.05,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_math_normalized,"(-3.6, -2.04]","(-2.04, -0.5]","(-0.5, 1.1]","(1.1, 2.7]","(2.7, 4.3]",All
predicted_label: True,75.00,29.35,2.13,0.00,0.00,11.49
predicted_label: False,25.00,70.65,97.87,100.00,100.00,88.51
true_label: True,67.86,37.27,15.32,10.66,16.67,22.44
true_label: False,32.14,62.73,84.68,89.34,83.33,77.56
true_label: All,1.25,32.01,54.36,12.11,0.27,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

sixth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.76,0.99,28.52,46.99,10.32,11.57
predicted_label: False,97.24,99.01,71.48,53.01,89.68,88.43
true_label: True,14.48,8.70,34.81,44.26,25.32,21.16
true_label: False,85.52,91.30,65.19,55.74,74.68,78.84
true_label: All,20.55,28.77,12.75,8.64,29.29,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

n_cities_to_gr_8        (1, 1.5]  (1.5, 2]  (2, 2.5]  (2.5, 3]     All
predicted_label: True       8.63     25.96       NaN     16.67    9.88
predicted_label: False     91.37     74.04       NaN     83.33   90.12
true_label: True           21.35     37.50       NaN     66.67   22.67
true_label: False          78.65     62.50       NaN     33.33   77.33
true_label: All            92.56      7.04       0.0      0.41  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

seventh_math_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,35.65,13.45,3.51,3.00,0.00,11.53
predicted_label: False,64.35,86.55,96.49,97.00,100.00,88.47
true_label: True,40.87,27.35,20.37,10.85,7.40,21.74
true_label: False,59.13,72.65,79.63,89.15,92.60,78.26
true_label: All,21.05,20.41,19.54,19.82,19.18,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_socstudies_normalized,"(-3.5, -2.1]","(-2.1, -0.8]","(-0.8, 0.6]","(0.6, 1.9]","(1.9, 3.3]",All
predicted_label: True,61.22,30.45,6.35,1.25,2.00,10.64
predicted_label: False,38.78,69.55,93.65,98.75,98.00,89.36
true_label: True,36.73,40.16,18.25,9.45,10.00,20.16
true_label: False,63.27,59.84,81.75,90.55,90.00,79.84
true_label: All,2.39,18.59,49.19,27.38,2.44,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

seventh_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.77,0.00,26.15,47.88,7.40,11.53
predicted_label: False,99.23,100.00,73.85,52.12,92.60,88.47
true_label: True,6.44,8.76,37.47,41.21,22.19,21.74
true_label: False,93.56,91.24,62.53,58.79,77.81,78.26
true_label: All,17.76,12.54,16.98,7.55,45.17,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_read_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,33.59,10.76,5.77,1.70,2.08,10.63
predicted_label: False,66.41,89.24,94.23,98.30,97.92,89.37
true_label: True,36.62,24.22,19.51,12.38,9.49,20.29
true_label: False,63.38,75.78,80.49,87.62,90.51,79.71
true_label: All,19.32,21.76,17.76,20.10,21.07,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

art_gpa_gr_8,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,50.00,23.33,14.68,4.45,1.55,6.20
predicted_label: False,50.00,76.67,85.32,95.55,98.45,93.80
true_label: True,46.88,36.67,39.45,17.81,12.38,18.93
true_label: False,53.12,63.33,60.55,82.19,87.62,81.07
true_label: All,3.42,3.21,11.66,26.42,55.29,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

avg_district_change_to_gr_8,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,8.44,30.19,40.91,100.00,50.00,9.88
predicted_label: False,91.56,69.81,59.09,0.00,50.00,90.12
true_label: True,21.60,35.85,50.00,100.00,50.00,22.67
true_label: False,78.40,64.15,50.00,0.00,50.00,77.33
true_label: All,94.59,3.59,1.49,0.07,0.27,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

street_transition_in_gr_8  False   True     All
predicted_label: True       6.82  35.71    7.69
predicted_label: False     93.18  64.29   92.31
true_label: True           20.91  38.10   21.42
true_label: False          79.09  61.90   78.58
true_label: All            97.01   2.99  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_read_percentile,"(-0.0006, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,40.41,11.99,3.88,0.73,0.69,11.48
predicted_label: False,59.59,88.01,96.12,99.27,99.31,88.52
true_label: True,42.89,29.64,18.60,10.49,10.09,22.43
true_label: False,57.11,70.36,81.40,89.51,89.91,77.57
true_label: All,19.72,19.67,22.96,18.25,19.40,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

placement_gr_8          (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           17.86      15.0   17.83
predicted_label: False          82.14      85.0   82.17
true_label: True                25.68      50.0   25.88
true_label: False               74.32      50.0   74.12
true_label: All                 99.20       0.8  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

district_gr_8,Coshocton,Crooksville,East Muskingum,Franklin,Maysville,Ridgewood,Riverview,TriValley,West Muskingum,Zanesville,not_recorded,All
predicted_label: True,8.46,9.90,3.14,6.52,9.09,12.37,10.53,5.88,4.69,75.00,30.71,17.83
predicted_label: False,91.54,90.10,96.86,93.48,90.91,87.63,89.47,94.12,95.31,25.00,69.29,82.17
true_label: True,31.54,21.78,19.50,16.30,23.30,26.80,22.81,20.39,13.28,50.00,31.53,25.88
true_label: False,68.46,78.22,80.50,83.70,76.70,73.20,77.19,79.61,86.72,50.00,68.47,74.12
true_label: All,5.18,4.02,6.33,7.32,7.01,3.86,6.81,10.15,5.10,0.16,44.07,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

gpa_district_gr_8,"(-2.4, -1.7]","(-1.7, -0.9]","(-0.9, -0.1]","(-0.1, 0.6]","(0.6, 1.4]",All
predicted_label: True,100.0,49.35,6.37,0.46,0.82,6.55
predicted_label: False,0.0,50.65,93.63,99.54,99.18,93.45
true_label: True,75.0,48.05,33.07,13.99,8.77,19.65
true_label: False,25.0,51.95,66.93,86.01,91.23,80.35
true_label: All,1.4,6.72,21.92,38.08,31.88,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

sixth_read_percentile,"(0.002, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,38.07,13.74,4.61,1.42,0.71,11.56
predicted_label: False,61.93,86.26,95.39,98.58,99.29,88.44
true_label: True,40.24,26.30,19.59,11.56,8.71,21.18
true_label: False,59.76,73.70,80.41,88.44,91.29,78.82
true_label: All,19.58,19.91,20.47,20.00,20.05,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_socstudies_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.34,1.42,22.26,61.29,4.82,10.64
predicted_label: False,97.66,98.58,77.74,38.71,95.18,89.36
true_label: True,10.92,8.16,34.53,38.71,17.04,20.16
true_label: False,89.08,91.84,65.47,61.29,82.96,79.84
true_label: All,25.04,13.76,29.82,3.03,28.36,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

sixth_math_percentile,"(0.002, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,37.92,12.65,5.88,1.64,0.44,11.57
predicted_label: False,62.08,87.35,94.12,98.36,99.56,88.43
true_label: True,40.34,27.01,20.17,10.11,8.22,21.16
true_label: False,59.66,72.99,79.83,89.89,91.78,78.84
true_label: All,19.56,19.41,22.48,17.29,21.26,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fourth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.53,1.20,20.21,48.08,9.62,10.55
predicted_label: False,97.47,98.80,79.79,51.92,90.38,89.45
true_label: True,10.55,6.63,34.72,39.10,24.24,20.36
true_label: False,89.45,93.37,65.28,60.90,75.76,79.64
true_label: All,33.50,8.26,9.61,7.77,40.87,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

school_program_gr_8     (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           18.13      5.17   17.83
predicted_label: False          81.87     94.83   82.17
true_label: True                26.20     12.07   25.88
true_label: False               73.80     87.93   74.12
true_label: All                 97.69      2.31  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

days_absent_gr_8,"(-0.05, 9.4]","(9.4, 18.8]","(18.8, 28.2]","(28.2, 37.6]","(37.6, 47]",All
predicted_label: True,19.35,7.39,23.53,34.62,75.00,17.83
predicted_label: False,80.65,92.61,76.47,65.38,25.00,82.17
true_label: True,25.13,22.17,44.12,61.54,75.00,25.88
true_label: False,74.87,77.83,55.88,38.46,25.00,74.12
true_label: All,78.58,16.16,4.06,1.04,0.16,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

sixth_read_normalized,"(-3.2, -1.8]","(-1.8, -0.4]","(-0.4, 1.008]","(1.008, 2.4]","(2.4, 3.8]",All
predicted_label: True,58.97,26.99,3.97,0.35,0.00,11.56
predicted_label: False,41.03,73.01,96.03,99.65,100.00,88.44
true_label: True,51.28,34.20,16.05,8.01,12.50,21.18
true_label: False,48.72,65.80,83.95,91.99,87.50,78.82
true_label: All,1.84,30.75,53.49,13.54,0.38,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

status_gr_8,active,esc,excel,foster,inactive,open_enrollment,All
predicted_label: True,5.35,50.00,14.29,37.50,42.86,5.94,7.69
predicted_label: False,94.65,50.00,85.71,62.50,57.14,94.06,92.31
true_label: True,18.90,100.00,28.57,37.50,61.43,18.81,21.42
true_label: False,81.10,0.00,71.43,62.50,38.57,81.19,78.58
true_label: All,85.12,0.14,1.99,0.57,4.98,7.19,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

percent_passed_pf_classes_gr_8  (0.7, 0.8]  (0.8, 0.9]  (0.9, 1]     All
predicted_label: True                50.00         NaN      7.51    7.76
predicted_label: False               50.00         NaN     92.49   92.24
true_label: True                      0.00         NaN     23.41   23.28
true_label: False                   100.00         NaN     76.59   76.72
true_label: All                       0.57         0.0     99.43  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

medical_gr_8,"(-0.02, 4.2]","(4.2, 8.4]","(8.4, 12.6]","(12.6, 16.8]","(16.8, 21]",All
predicted_label: True,17.94,7.14,40.0,0.00,0.00,17.83
predicted_label: False,82.06,92.86,60.0,100.00,100.00,82.17
true_label: True,25.98,17.86,40.0,0.00,0.00,25.88
true_label: False,74.02,82.14,60.0,100.00,100.00,74.12
true_label: All,98.53,1.11,0.2,0.08,0.08,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

absence_gr_8,"(-0.05, 9.4]","(9.4, 18.8]","(18.8, 28.2]","(28.2, 37.6]","(37.6, 47]",All
predicted_label: True,19.35,7.39,23.53,34.62,75.00,17.83
predicted_label: False,80.65,92.61,76.47,65.38,25.00,82.17
true_label: True,25.13,22.17,44.12,61.54,75.00,25.88
true_label: False,74.87,77.83,55.88,38.46,25.00,74.12
true_label: All,78.58,16.16,4.06,1.04,0.16,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

disability_gr_8,autism,cognitive disability,deafness,emotional disturbance,learning disability,multiple,none,orthopedic impairment,other major,other minor,speech and language impairment,traumatic brain injury,visual impairment,All
predicted_label: True,0.00,25.00,0.00,61.54,14.89,28.57,17.54,0.00,0.00,31.43,0.00,0.00,33.33,17.83
predicted_label: False,100.00,75.00,100.00,38.46,85.11,71.43,82.46,100.00,100.00,68.57,100.00,100.00,66.67,82.17
true_label: True,50.00,35.71,50.00,61.54,28.37,71.43,24.77,0.00,0.00,54.29,0.00,0.00,33.33,25.88
true_label: False,50.00,64.29,50.00,38.46,71.63,28.57,75.23,100.00,100.00,45.71,100.00,100.00,66.67,74.12
true_label: All,0.32,1.11,0.08,0.52,5.61,0.28,90.33,0.04,0.04,1.39,0.12,0.04,0.12,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

n_records_to_gr_8,"(1, 2.4]","(2.4, 3.8]","(3.8, 5.2]","(5.2, 6.6]","(6.6, 8]",All
predicted_label: True,16.27,20.00,5.74,14.29,36.84,9.88
predicted_label: False,83.73,80.00,94.26,85.71,63.16,90.12
true_label: True,29.66,31.67,17.53,32.47,68.42,22.67
true_label: False,70.34,68.33,82.47,67.53,31.58,77.33
true_label: All,25.78,4.06,63.67,5.21,1.29,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

stem_gpa_gr_8,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,72.41,29.73,6.19,0.80,0.73,6.42
predicted_label: False,27.59,70.27,93.81,99.20,99.27,93.58
true_label: True,51.72,45.95,27.62,15.69,9.98,19.70
true_label: False,48.28,54.05,72.38,84.31,90.02,80.30
true_label: All,2.55,9.76,18.47,33.07,36.15,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

third_math_normalized,"(-3.2, -1.9]","(-1.9, -0.5]","(-0.5, 0.8]","(0.8, 2.08]","(2.08, 3.4]",All
predicted_label: True,45.83,26.39,6.93,1.35,0.00,11.60
predicted_label: False,54.17,73.61,93.07,98.65,100.00,88.40
true_label: True,45.83,33.14,19.73,7.07,8.51,20.83
true_label: False,54.17,66.86,80.27,92.93,91.49,79.17
true_label: All,3.44,24.41,47.53,21.26,3.36,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

disadvantagement_gr_8   economic   none     All
predicted_label: True      13.13  19.37   17.83
predicted_label: False     86.87  80.63   82.17
true_label: True           30.63  24.33   25.88
true_label: False          69.37  75.67   74.12
true_label: All            24.56  75.44  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

third_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,4.89,1.54,21.18,40.85,14.90,11.62
predicted_label: False,95.11,98.46,78.82,59.15,85.10,88.38
true_label: True,13.22,10.11,35.47,36.62,30.20,20.88
true_label: False,86.78,89.89,64.53,63.38,69.80,79.12
true_label: All,24.80,32.43,14.47,10.12,18.18,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

discipline_incidents_gr_8,"(-0.01, 2.2]","(2.2, 4.4]","(4.4, 6.6]","(6.6, 8.8]","(8.8, 11]",All
predicted_label: True,17.75,14.55,20.00,25.00,66.67,17.83
predicted_label: False,82.25,85.45,80.00,75.00,33.33,82.17
true_label: True,25.21,36.36,53.33,62.50,83.33,25.88
true_label: False,74.79,63.64,46.67,37.50,16.67,74.12
true_label: All,96.66,2.19,0.60,0.32,0.24,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

titlei_gr_8             (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           17.84     14.29   17.83
predicted_label: False          82.16     85.71   82.17
true_label: True                25.83     42.86   25.88
true_label: False               74.17     57.14   74.12
true_label: All                 99.72      0.28  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_wkd_4_gr_8        (-0.005, 1]  (1, 2]  (2, 3]  (3, 4]  (4, 5]     All
predicted_label: True         17.84   23.08    0.00    0.00   33.33   17.83
predicted_label: False        82.16   76.92  100.00  100.00   66.67   82.17
true_label: True              25.70   35.90   33.33    0.00   33.33   25.88
true_label: False             74.30   64.10   66.67  100.00   66.67   74.12
true_label: All               97.73    1.55    0.48    0.12    0.12  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_math_normalized,"(-3, -1.5]","(-1.5, -0.02]","(-0.02, 1.4]","(1.4, 2.9]","(2.9, 4.4]",All
predicted_label: True,55.17,14.59,1.72,0.63,0.00,10.64
predicted_label: False,44.83,85.41,98.28,99.37,100.00,89.36
true_label: True,42.24,27.07,11.70,7.55,0.00,20.20
true_label: False,57.76,72.93,88.30,92.45,100.00,79.80
true_label: All,5.66,46.51,39.63,7.76,0.44,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

n_districts_to_gr_8,"(1, 1.6]","(1.6, 2.2]","(2.2, 2.8]","(2.8, 3.4]","(3.4, 4]",All
predicted_label: True,8.17,21.34,NaN,35.71,0.00,9.88
predicted_label: False,91.83,78.66,NaN,64.29,100.00,90.12
true_label: True,20.88,32.93,NaN,64.29,50.00,22.67
true_label: False,79.12,67.07,NaN,35.71,50.00,77.33
true_label: All,87.82,11.10,0.0,0.95,0.14,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.8,0.26,28.31,64.71,3.50,11.49
predicted_label: False,99.2,99.74,71.69,35.29,96.50,88.51
true_label: True,10.4,7.87,37.09,57.65,20.22,22.44
true_label: False,89.6,92.13,62.91,42.35,79.78,77.56
true_label: All,16.7,16.96,26.89,3.78,35.66,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_science_percentile,"(-0.0006, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,41.85,9.76,2.75,2.02,0.23,11.49
predicted_label: False,58.15,90.24,97.25,97.98,99.77,88.51
true_label: True,44.21,27.56,18.99,14.14,7.31,22.44
true_label: False,55.79,72.44,81.01,85.86,92.69,77.56
true_label: All,20.75,18.25,19.46,22.04,19.50,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_health_classes_gr_8,"(-0.003, 0.6]","(0.6, 1.2]","(1.2, 1.8]","(1.8, 2.4]","(2.4, 3]",All
predicted_label: True,15.24,7.07,NaN,6.06,2.56,10.88
predicted_label: False,84.76,92.93,NaN,93.94,97.44,89.12
true_label: True,21.53,17.80,NaN,20.08,5.13,20.06
true_label: False,78.47,82.20,NaN,79.92,94.87,79.94
true_label: All,51.00,20.56,0.0,26.48,1.96,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

humanities_gpa_gr_8,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,77.42,30.77,8.37,1.09,0.91,6.56
predicted_label: False,22.58,69.23,91.63,98.91,99.09,93.44
true_label: True,54.84,46.15,30.84,15.22,10.45,19.67
true_label: False,45.16,53.85,69.16,84.78,89.55,80.33
true_label: All,2.71,6.82,19.84,32.17,38.46,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.58,0.69,39.42,67.82,10.67,11.48
predicted_label: False,98.42,99.31,60.58,32.18,89.33,88.52
true_label: True,13.31,9.89,41.91,52.87,26.96,22.43
true_label: False,86.69,90.11,58.09,47.13,73.04,77.57
true_label: All,28.08,19.36,10.73,3.87,37.96,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

tardy_wkd_3_gr_8,"(-0.008, 1.6]","(1.6, 3.2]","(3.2, 4.8]","(4.8, 6.4]","(6.4, 8]",All
predicted_label: True,17.80,16.67,25.00,100.00,0.00,17.83
predicted_label: False,82.20,83.33,75.00,0.00,100.00,82.17
true_label: True,25.89,23.33,25.00,100.00,0.00,25.88
true_label: False,74.11,76.67,75.00,0.00,100.00,74.12
true_label: All,98.41,1.19,0.32,0.04,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_pf_classes_gr_8,"(-0.01, 2.2]","(2.2, 4.4]","(4.4, 6.6]","(6.6, 8.8]","(8.8, 11]",All
predicted_label: True,9.45,19.23,5.66,8.00,5.56,9.52
predicted_label: False,90.55,80.77,94.34,92.00,94.44,90.48
true_label: True,18.75,17.31,26.42,24.00,29.63,20.00
true_label: False,81.25,82.69,73.58,76.00,70.37,80.00
true_label: All,78.10,6.19,6.31,2.98,6.43,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fourth_math_normalized,"(-7.1, -4.7]","(-4.7, -2.4]","(-2.4, -0.01]","(-0.01, 2.4]","(2.4, 4.7]",All
predicted_label: True,100.00,54.55,18.79,1.64,0.00,10.55
predicted_label: False,0.00,45.45,81.21,98.36,100.00,89.45
true_label: True,100.00,63.64,28.93,11.05,14.29,20.36
true_label: False,0.00,36.36,71.07,88.95,85.71,79.64
true_label: All,0.05,0.55,50.07,48.63,0.70,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

eighth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.15,0.00,34.55,64.66,4.31,11.49
predicted_label: False,98.85,100.00,65.45,35.34,95.69,88.51
true_label: True,10.17,11.54,36.39,56.90,21.53,22.44
true_label: False,89.83,88.46,63.61,43.10,78.47,77.56
true_label: All,23.20,8.10,17.01,5.16,46.53,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fourth_read_percentile,"(-1, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,31.75,11.47,5.44,2.25,1.63,10.55
predicted_label: False,68.25,88.53,94.56,97.75,98.37,89.45
true_label: True,36.75,24.19,20.63,10.00,9.26,20.36
true_label: False,63.25,75.81,79.37,90.00,90.74,79.64
true_label: All,19.91,19.96,21.95,19.91,18.27,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.66,0.64,22.43,67.27,9.68,10.63
predicted_label: False,98.34,99.36,77.57,32.73,90.32,89.37
true_label: True,11.92,6.37,32.72,45.45,23.79,20.23
true_label: False,88.08,93.63,67.28,54.55,76.21,79.77
true_label: All,32.33,15.31,26.52,2.68,23.16,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

num_art_classes_gr_8,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,15.01,6.14,6.69,5.10,12.5,10.88
predicted_label: False,84.99,93.86,93.31,94.90,87.5,89.12
true_label: True,21.06,19.96,17.20,19.75,12.5,20.06
true_label: False,78.94,80.04,82.80,80.25,87.5,79.94
true_label: All,53.11,22.87,15.75,7.87,0.4,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

district_transition_in_gr_8  False   True     All
predicted_label: True         6.73  32.08    7.69
predicted_label: False       93.27  67.92   92.31
true_label: True             20.71  39.62   21.42
true_label: False            79.29  60.38   78.58
true_label: All              96.23   3.77  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

gender                      F      M     All
predicted_label: True   15.55  19.86   17.83
predicted_label: False  84.45  80.14   82.17
true_label: True        24.51  27.09   25.88
true_label: False       75.49  72.91   74.12
true_label: All         47.09  52.91  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

avg_address_change_to_gr_8,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,8.72,32.61,33.33,100.00,33.33,9.88
predicted_label: False,91.28,67.39,66.67,0.00,66.67,90.12
true_label: True,21.77,34.78,55.56,100.00,33.33,22.67
true_label: False,78.23,65.22,44.44,0.00,66.67,77.33
true_label: All,95.40,3.11,1.22,0.07,0.20,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

section_504_plan_gr_8        0      N      Y     All
predicted_label: True   100.00   7.47  16.00    7.69
predicted_label: False    0.00  92.53  84.00   92.31
true_label: True        100.00  21.32  24.00   21.42
true_label: False         0.00  78.68  76.00   78.58
true_label: All           0.07  98.15   1.78  100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

sixth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.77,0.00,34.95,51.81,7.80,11.56
predicted_label: False,98.23,100.00,65.05,48.19,92.20,88.44
true_label: True,10.18,7.00,39.51,43.37,21.72,21.18
true_label: False,89.82,93.00,60.49,56.63,78.28,78.82
true_label: All,21.32,11.46,15.52,3.92,47.78,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

oss_gr_8,"(-0.003, 0.8]","(0.8, 1.5]","(1.5, 2.2]","(2.2, 3]",All
predicted_label: True,17.78,100.00,0.00,100.00,17.83
predicted_label: False,82.22,0.00,100.00,0.00,82.17
true_label: True,25.79,100.00,100.00,100.00,25.88
true_label: False,74.21,0.00,0.00,0.00,74.12
true_label: All,99.88,0.04,0.04,0.04,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

days_present_gr_8,"(-0.2, 36]","(36, 72]","(72, 108]","(108, 144]","(144, 180]",All
predicted_label: True,25.00,30.30,24.14,30.77,17.11,17.83
predicted_label: False,75.00,69.70,75.86,69.23,82.89,82.17
true_label: True,51.67,51.52,41.38,53.85,24.04,25.88
true_label: False,48.33,48.48,58.62,46.15,75.96,74.12
true_label: All,2.39,1.31,1.15,2.07,93.07,100.00

08_09_2016_grade_9_param_set_0_RF_ht_8645 RF not_on_time val

fifth_read_normalized,"(-3.7, -2.3]","(-2.3, -0.9]","(-0.9, 0.5]","(0.5, 1.8]","(1.8, 3.2]",All
predicted_label: True,57.58,31.01,7.60,1.82,0.00,10.63
predicted_label: False,42.42,68.99,92.40,98.18,100.00,89.37
true_label: True,30.30,36.87,20.63,10.40,5.00,20.29
true_label: False,69.70,63.13,79.37,89.60,95.00,79.71
true_label: All,1.61,17.46,49.41,29.56,1.95,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

avg_address_change_to_gr_5,"(-0.001, 0.2]","(0.2, 0.5]","(0.5, 0.8]","(0.8, 1]",All
predicted_label: True,5.88,13.51,NaN,22.22,6.30
predicted_label: False,94.12,86.49,NaN,77.78,93.70
true_label: True,18.26,32.43,NaN,66.67,19.19
true_label: False,81.74,67.57,NaN,33.33,80.81
true_label: All,95.54,3.59,0.0,0.87,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

seventh_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.32,0.00,16.00,53.33,2.82,5.39
predicted_label: False,99.68,100.00,84.00,46.67,97.18,94.61
true_label: True,12.66,8.02,34.40,46.67,18.97,18.40
true_label: False,87.34,91.98,65.60,53.33,81.03,81.60
true_label: All,30.44,15.61,12.04,4.34,37.57,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

mid_year_withdraw_gr_5  False    True     All
predicted_label: True   22.58    0.00   21.88
predicted_label: False  77.42  100.00   78.12
true_label: True        51.61    0.00   50.00
true_label: False       48.39  100.00   50.00
true_label: All         96.88    3.12  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fourth_read_pl,Accelerated,Advanced,Basic,Limited,Passed,Proficient,All
predicted_label: True,1.69,0.00,15.09,37.50,0.0,4.81,6.18
predicted_label: False,98.31,100.00,84.91,62.50,100.0,95.19,93.82
true_label: True,9.83,6.74,31.13,33.93,0.0,22.28,18.03
true_label: False,90.17,93.26,68.87,66.07,100.0,77.72,81.97
true_label: All,35.46,8.86,10.56,5.58,0.2,39.34,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fourth_math_normalized,"(-6.9, -4.6]","(-4.6, -2.2]","(-2.2, 0.08]","(0.08, 2.4]","(2.4, 4.7]",All
predicted_label: True,60.0,69.23,9.30,0.43,0.0,6.18
predicted_label: False,40.0,30.77,90.70,99.57,100.0,93.82
true_label: True,0.0,46.15,24.81,10.15,0.0,18.03
true_label: False,100.0,53.85,75.19,89.85,100.0,81.97
true_label: All,0.5,1.29,51.39,46.12,0.7,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_science_percentile,"(0.006, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.64,4.63,1.01,0.98,0.41,5.41
predicted_label: False,74.36,95.37,98.99,99.02,99.59,94.59
true_label: True,34.62,25.00,17.59,12.20,6.22,17.99
true_label: False,65.38,75.00,82.41,87.80,93.78,82.01
true_label: All,15.34,21.24,19.57,20.16,23.70,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

percent_passed_pf_classes_gr_5  (0.95, 0.97]  (0.97, 0.98]  (0.98, 1]     All
predicted_label: True                 100.00           NaN       9.42    9.71
predicted_label: False                  0.00           NaN      90.58   90.29
true_label: True                      100.00           NaN      21.75   22.01
true_label: False                       0.00           NaN      78.25   77.99
true_label: All                         0.32           0.0      99.68  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

absence_unexcused_gr_5  (-0.002, 1]  (1, 2]     All
predicted_label: True          6.78  100.00    6.86
predicted_label: False        93.22    0.00   93.14
true_label: True              19.31  100.00   19.39
true_label: False             80.69    0.00   80.61
true_label: All               99.91    0.09  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

days_absent_unexcused_gr_5  (-0.002, 1]  (1, 2]     All
predicted_label: True              6.78  100.00    6.86
predicted_label: False            93.22    0.00   93.14
true_label: True                  19.31  100.00   19.39
true_label: False                 80.69    0.00   80.61
true_label: All                   99.91    0.09  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_health_classes_gr_5  (-0.001, 0.3]  (0.3, 0.7]  (0.7, 1]     All
predicted_label: True             6.48         NaN      6.10    6.42
predicted_label: False           93.52         NaN     93.90   93.58
true_label: True                 19.69         NaN     16.46   19.16
true_label: False                80.31         NaN     83.54   80.84
true_label: All                  83.55         0.0     16.45  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

discipline_incidents_gr_5,"(-0.02, 3.6]","(3.6, 7.2]","(7.2, 10.8]","(10.8, 14.4]","(14.4, 18]",All
predicted_label: True,6.54,16.67,10.00,25.00,0.00,6.86
predicted_label: False,93.46,83.33,90.00,75.00,100.00,93.14
true_label: True,18.58,25.00,70.00,75.00,0.00,19.39
true_label: False,81.42,75.00,30.00,25.00,100.00,80.61
true_label: All,96.38,2.23,0.93,0.37,0.09,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_math_percentile,"(0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,29.73,2.91,1.96,0.49,0.00,5.42
predicted_label: False,70.27,97.09,98.04,99.51,100.00,94.58
true_label: True,36.49,24.27,19.61,11.82,5.51,17.93
true_label: False,63.51,75.73,80.39,88.18,94.49,82.07
true_label: All,14.58,20.30,20.10,20.00,25.02,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

days_absent_gr_5,"(-0.04, 7.7]","(7.7, 15.4]","(15.4, 23.1]","(23.1, 30.8]","(30.8, 38.5]",All
predicted_label: True,6.06,5.88,17.65,20.00,0.00,6.86
predicted_label: False,93.94,94.12,82.35,80.00,100.00,93.14
true_label: True,15.09,25.61,30.88,50.00,100.00,19.39
true_label: False,84.91,74.39,69.12,50.00,0.00,80.61
true_label: All,65.77,26.81,6.31,0.93,0.19,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

days_present_gr_5,"(0.8, 36.8]","(36.8, 72.6]","(72.6, 108.4]","(108.4, 144.2]","(144.2, 180]",All
predicted_label: True,33.33,16.67,40.00,8.33,6.40,6.86
predicted_label: False,66.67,83.33,60.00,91.67,93.60,93.14
true_label: True,66.67,33.33,70.00,50.00,18.34,19.39
true_label: False,33.33,66.67,30.00,50.00,81.66,80.61
true_label: All,0.28,0.56,0.93,1.11,97.12,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.77,0.00,5.38,31.25,1.42,5.42
predicted_label: False,99.23,100.00,94.62,68.75,98.58,94.58
true_label: True,13.08,5.52,25.81,35.94,19.57,17.93
true_label: False,86.92,94.48,74.19,64.06,80.43,82.07
true_label: All,12.81,28.57,18.33,12.61,27.68,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

health_gpa_gr_5         (3.7, 3.8]  (3.8, 3.9]  (3.9, 4]     All
predicted_label: True         0.00         NaN      6.13    6.10
predicted_label: False      100.00         NaN     93.87   93.90
true_label: True              0.00         NaN     16.56   16.46
true_label: False           100.00         NaN     83.44   83.54
true_label: All               0.61         0.0     99.39  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_science_normalized,"(-2.6, -1.4]","(-1.4, -0.2]","(-0.2, 1.002]","(1.002, 2.2]","(2.2, 3.4]",All
predicted_label: True,42.86,8.29,0.00,0.00,0.00,5.12
predicted_label: False,57.14,91.71,100.00,100.00,100.00,94.88
true_label: True,42.86,27.14,13.38,4.82,9.09,18.16
true_label: False,57.14,72.86,86.62,95.18,90.91,81.84
true_label: All,5.41,33.82,42.61,16.04,2.13,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

avg_district_change_to_gr_5,"(-0.001, 0.2]","(0.2, 0.5]","(0.5, 0.8]","(0.8, 1]",All
predicted_label: True,5.73,13.33,NaN,30.00,6.30
predicted_label: False,94.27,86.67,NaN,70.00,93.70
true_label: True,18.22,28.89,NaN,70.00,19.19
true_label: False,81.78,71.11,NaN,30.00,80.81
true_label: All,94.67,4.36,0.0,0.97,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_language_classes_gr_5  False   True     All
predicted_label: True       6.42  12.35    6.86
predicted_label: False     93.58  87.65   93.14
true_label: True           19.16  22.22   19.39
true_label: False          80.84  77.78   80.61
true_label: All            92.49   7.51  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

academic_inv_gr_5       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            6.09      9.16    6.86
predicted_label: False          93.91     90.84   93.14
true_label: True                17.89     23.81   19.39
true_label: False               82.11     76.19   80.61
true_label: All                 74.68     25.32  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

future_prep_gpa_gr_5,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,0.00,50.00,40.00,50.00,7.69,20.45
predicted_label: False,100.00,50.00,60.00,50.00,92.31,79.55
true_label: True,33.33,50.00,40.00,25.00,26.92,29.55
true_label: False,66.67,50.00,60.00,75.00,73.08,70.45
true_label: All,6.82,4.55,11.36,18.18,59.09,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fourth_read_normalized,"(-7.3, -5.2]","(-5.2, -3.07]","(-3.07, -1]","(-1, 1.1]","(1.1, 3.2]",All
predicted_label: True,50.0,0.0,23.02,3.69,0.00,6.18
predicted_label: False,50.0,100.0,76.98,96.31,100.00,93.82
true_label: True,0.0,100.0,32.37,17.35,6.35,18.03
true_label: False,100.0,0.0,67.63,82.65,93.65,81.97
true_label: All,0.6,0.1,13.84,72.91,12.55,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

oss_gr_5                (-0.004, 1]  (1, 2]  (2, 3]  (3, 4]     All
predicted_label: True          6.52   75.00     NaN  100.00    6.86
predicted_label: False        93.48   25.00     NaN    0.00   93.14
true_label: True              19.20   50.00     NaN  100.00   19.39
true_label: False             80.80   50.00     NaN    0.00   80.61
true_label: All               99.54    0.37     0.0    0.09  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

gpa_gr_5,"(0.6, 1.3]","(1.3, 2]","(2, 2.7]","(2.7, 3.3]","(3.3, 4]",All
predicted_label: True,83.33,33.33,16.67,4.20,1.00,8.46
predicted_label: False,16.67,66.67,83.33,95.80,99.00,91.54
true_label: True,66.67,51.28,34.52,11.89,12.44,20.08
true_label: False,33.33,48.72,65.48,88.11,87.56,79.92
true_label: All,1.27,8.25,17.76,30.23,42.49,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

city_transition_in_gr_5  False   True     All
predicted_label: True     6.10  23.08    6.32
predicted_label: False   93.90  76.92   93.68
true_label: True         18.80  46.15   19.14
true_label: False        81.20  53.85   80.86
true_label: All          98.74   1.26  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

sixth_math_normalized,"(-7.05, -4.9]","(-4.9, -2.8]","(-2.8, -0.7]","(-0.7, 1.4]","(1.4, 3.5]",All
predicted_label: True,50.00,100.0,26.86,1.30,0.00,5.87
predicted_label: False,50.00,0.0,73.14,98.70,100.00,94.13
true_label: True,0.00,0.0,38.29,15.25,6.67,18.29
true_label: False,100.00,100.0,61.71,84.75,93.33,81.71
true_label: All,0.58,0.1,16.84,73.82,8.66,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

seventh_read_percentile,"(0.003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.88,5.62,0.40,0.00,0.48,5.39
predicted_label: False,74.12,94.38,99.60,100.00,99.52,94.61
true_label: True,37.65,23.60,13.65,13.85,9.05,18.40
true_label: False,62.35,76.40,86.35,86.15,90.95,81.60
true_label: All,16.38,17.15,23.99,22.25,20.23,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

humanities_gpa_gr_5,"(0.7, 1.4]","(1.4, 2.03]","(2.03, 2.7]","(2.7, 3.3]","(3.3, 4]",All
predicted_label: True,50.00,25.00,7.81,5.97,1.06,8.46
predicted_label: False,50.00,75.00,92.19,94.03,98.94,91.54
true_label: True,64.29,37.50,23.44,15.67,12.17,20.08
true_label: False,35.71,62.50,76.56,84.33,87.83,79.92
true_label: All,2.96,15.22,13.53,28.33,39.96,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

school_program_gr_5     (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            6.93      0.00    6.86
predicted_label: False          93.07    100.00   93.14
true_label: True                19.38     20.00   19.39
true_label: False               80.62     80.00   80.61
true_label: All                 99.07      0.93  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

third_read_percentile,"(0.002, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,16.36,6.47,2.03,1.81,0.00,5.00
predicted_label: False,83.64,93.53,97.97,98.19,100.00,95.00
true_label: True,32.12,24.46,12.69,11.45,8.81,17.21
true_label: False,67.88,75.54,87.31,88.55,91.19,82.79
true_label: All,19.19,16.16,22.91,19.30,22.44,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

days_absent_excused_gr_5  (-0.01, 7.2]  (7.2, 14.5]     All
predicted_label: True             6.78       100.00    6.86
predicted_label: False           93.22         0.00   93.14
true_label: True                 19.31       100.00   19.39
true_label: False                80.69         0.00   80.61
true_label: All                  99.91         0.09  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_math_percentile,"(0.002, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.41,3.56,0.44,0.00,0.45,5.38
predicted_label: False,74.59,96.44,99.56,100.00,99.55,94.62
true_label: True,36.46,23.11,12.39,11.11,9.55,18.06
true_label: False,63.54,76.89,87.61,88.89,90.45,81.94
true_label: All,17.39,21.61,21.71,18.16,21.13,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_future_prep_classes_gr_5  (-0.001, 0.3]  (0.3, 0.7]  (0.7, 1]     All
predicted_label: True                  5.77         NaN     20.45    6.42
predicted_label: False                94.23         NaN     79.55   93.58
true_label: True                      18.68         NaN     29.55   19.16
true_label: False                     81.32         NaN     70.45   80.84
true_label: All                       95.59         0.0      4.41  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.00,22.47,66.67,4.66,5.37
predicted_label: False,100.00,100.00,77.53,33.33,95.34,94.63
true_label: True,12.20,8.16,39.33,51.85,21.50,18.04
true_label: False,87.80,91.84,60.67,48.15,78.50,81.96
true_label: All,28.31,23.51,8.54,2.59,37.04,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fourth_math_pl,Accelerated,Advanced,Basic,Failed,Limited,Passed,Proficient,All
predicted_label: True,0.88,0.00,10.32,100.0,42.37,50.0,4.92,6.18
predicted_label: False,99.12,100.00,89.68,0.0,57.63,50.0,95.08,93.82
true_label: True,10.57,6.93,34.13,0.0,33.90,0.0,20.73,18.03
true_label: False,89.43,93.07,65.87,100.0,66.10,100.0,79.27,81.97
true_label: All,22.61,20.12,12.55,0.2,5.88,0.2,38.45,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.0,6.92,25.58,2.48,5.41
predicted_label: False,100.00,100.0,93.08,74.42,97.52,94.59
true_label: True,10.98,5.0,26.92,30.23,16.57,17.99
true_label: False,89.02,95.0,73.08,69.77,83.43,82.01
true_label: All,17.01,5.9,12.78,12.68,51.62,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

iss_gr_5,"(-0.005, 1.2]","(1.2, 2.5]","(2.5, 3.8]","(3.8, 5]",All
predicted_label: True,6.79,0.00,NaN,100.00,6.86
predicted_label: False,93.21,100.00,NaN,0.00,93.14
true_label: True,19.26,50.00,NaN,100.00,19.39
true_label: False,80.74,50.00,NaN,0.00,80.61
true_label: All,99.72,0.19,0.0,0.09,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

district_transition_in_gr_5  False   True     All
predicted_label: True         6.05  19.05    6.32
predicted_label: False       93.95  80.95   93.68
true_label: True             18.85  33.33   19.14
true_label: False            81.15  66.67   80.86
true_label: All              97.96   2.04  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

third_read_normalized,"(-2.8, -1.5]","(-1.5, -0.3]","(-0.3, 1]","(1, 2.2]","(2.2, 3.5]",All
predicted_label: True,31.67,6.97,1.71,0.00,0.00,5.00
predicted_label: False,68.33,93.03,98.29,100.00,100.00,95.00
true_label: True,28.33,28.69,11.74,8.70,11.11,17.21
true_label: False,71.67,71.31,88.26,91.30,88.89,82.79
true_label: All,6.98,28.37,47.56,16.05,1.05,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

stem_gpa_gr_5,"(0.5, 1.2]","(1.2, 1.9]","(1.9, 2.6]","(2.6, 3.3]","(3.3, 4]",All
predicted_label: True,64.29,31.25,12.61,1.43,2.84,8.46
predicted_label: False,35.71,68.75,87.39,98.57,97.16,91.54
true_label: True,64.29,53.12,27.93,10.71,13.07,20.08
true_label: False,35.71,46.88,72.07,89.29,86.93,79.92
true_label: All,2.96,6.77,23.47,29.60,37.21,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_socstudies_normalized,"(-3.2, -1.9]","(-1.9, -0.6]","(-0.6, 0.7]","(0.7, 2]","(2, 3.3]",All
predicted_label: True,29.41,18.43,1.96,0.00,0.00,5.42
predicted_label: False,70.59,81.57,98.04,100.00,100.00,94.58
true_label: True,35.29,29.95,17.68,7.60,4.55,17.83
true_label: False,64.71,70.05,82.32,92.40,95.45,82.17
true_label: All,1.67,21.38,50.15,24.63,2.17,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

n_records_to_gr_5,"(1, 1.6]","(1.6, 2.2]","(2.2, 2.8]","(2.8, 3.4]","(3.4, 4]",All
predicted_label: True,4.96,5.97,NaN,16.22,33.33,6.30
predicted_label: False,95.04,94.03,NaN,83.78,66.67,93.70
true_label: True,21.49,18.25,NaN,29.73,66.67,19.19
true_label: False,78.51,81.75,NaN,70.27,33.33,80.81
true_label: All,11.72,84.40,0.0,3.59,0.29,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

district_gr_5,Coshocton,Franklin,Maysville,Ridgewood,Riverview,TriValley,West Muskingum,not_recorded,All
predicted_label: True,10.91,6.55,4.67,5.43,11.26,3.49,3.88,18.37,6.86
predicted_label: False,89.09,93.45,95.33,94.57,88.74,96.51,96.12,81.63,93.14
true_label: True,30.91,17.86,19.33,19.57,20.53,18.34,10.08,24.49,19.39
true_label: False,69.09,82.14,80.67,80.43,79.47,81.66,89.92,75.51,80.61
true_label: All,10.20,15.58,13.91,8.53,14.01,21.24,11.97,4.55,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_socstudies_percentile,"(0.0007, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,23.84,4.64,1.42,0.96,0.00,5.42
predicted_label: False,76.16,95.36,98.58,99.04,100.00,94.58
true_label: True,36.05,23.71,14.69,11.54,7.83,17.83
true_label: False,63.95,76.29,85.31,88.46,92.17,82.17
true_label: All,16.95,19.11,20.79,20.49,22.66,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_pf_classes_gr_5,"(-0.02, 4.4]","(4.4, 8.8]","(8.8, 13.2]","(13.2, 17.6]","(17.6, 22]",All
predicted_label: True,6.25,1.18,14.29,7.32,11.11,8.22
predicted_label: False,93.75,98.82,85.71,92.68,88.89,91.78
true_label: True,18.75,16.47,21.43,17.07,48.15,20.64
true_label: False,81.25,83.53,78.57,82.93,51.85,79.36
true_label: All,38.48,17.03,30.86,8.22,5.41,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_read_normalized,"(-3.1, -1.8]","(-1.8, -0.5]","(-0.5, 0.9]","(0.9, 2.2]","(2.2, 3.5]",All
predicted_label: True,65.38,13.03,0.98,0.00,0.00,5.37
predicted_label: False,34.62,86.97,99.02,100.00,100.00,94.63
true_label: True,53.85,32.95,13.33,9.00,2.94,18.04
true_label: False,46.15,67.05,86.67,91.00,97.06,81.96
true_label: All,2.50,25.05,48.94,20.25,3.26,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

n_cities_to_gr_5        (1, 1.5]  (1.5, 2]  (2, 2.5]  (2.5, 3]     All
predicted_label: True       5.84     16.22       NaN     100.0    6.30
predicted_label: False     94.16     83.78       NaN       0.0   93.70
true_label: True           18.31     40.54       NaN     100.0   19.19
true_label: False          81.69     59.46       NaN       0.0   80.81
true_label: All            96.32      3.59       0.0       0.1  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_stem_classes_gr_5,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,4.58,0.0,8.28,NaN,100.0,6.42
predicted_label: False,95.42,100.0,91.72,NaN,0.0,93.58
true_label: True,18.32,0.0,19.96,NaN,100.0,19.16
true_label: False,81.68,100.0,80.04,NaN,0.0,80.84
true_label: All,52.56,0.1,47.24,0.0,0.1,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

seventh_math_normalized,"(-3.3, -1.8]","(-1.8, -0.3]","(-0.3, 1.2]","(1.2, 2.6]","(2.6, 4.1]",All
predicted_label: True,44.44,13.19,1.47,0.00,0.00,5.66
predicted_label: False,55.56,86.81,98.53,100.00,100.00,94.34
true_label: True,44.44,27.30,14.86,8.84,0.00,18.33
true_label: False,55.56,72.70,85.14,91.16,100.00,81.67
true_label: All,1.73,31.29,52.30,14.11,0.58,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

ethnicity                    A       B      H      M      W     All
predicted_label: True     0.00    0.00  33.33  32.14   6.23    6.90
predicted_label: False  100.00  100.00  66.67  67.86  93.77   93.10
true_label: True          0.00   20.00  33.33  28.57  19.18   19.38
true_label: False       100.00   80.00  66.67  71.43  80.82   80.62
true_label: All           0.47    0.93   0.28   2.61  95.71  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

third_math_percentile,"(0.0008, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,19.28,3.36,2.04,1.16,0.00,5.01
predicted_label: False,80.72,96.64,97.96,98.84,100.00,94.99
true_label: True,32.53,21.48,17.35,9.25,6.32,17.13
true_label: False,67.47,78.52,82.65,90.75,93.68,82.87
true_label: All,19.35,17.37,22.84,20.16,20.28,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

disability_gr_5,autism,cognitive disability,deafness,emotional disturbance,learning disability,multiple,none,orthopedic impairment,other major,other minor,speech and language impairment,visual impairment,All
predicted_label: True,0.00,63.64,0.00,66.67,22.64,100.00,4.66,50.00,0.00,36.36,4.35,0.00,6.86
predicted_label: False,100.00,36.36,100.00,33.33,77.36,0.00,95.34,50.00,100.00,63.64,95.65,100.00,93.14
true_label: True,33.33,27.27,100.00,66.67,32.08,50.00,17.18,100.00,50.00,72.73,26.09,100.00,19.39
true_label: False,66.67,72.73,0.00,33.33,67.92,50.00,82.82,0.00,50.00,27.27,73.91,0.00,80.61
true_label: All,0.28,1.02,0.09,0.28,4.92,0.19,89.61,0.19,0.19,1.02,2.13,0.09,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_art_classes_gr_5    (-0.002, 0.5]  (0.5, 1]  (1, 1.5]  (1.5, 2]     All
predicted_label: True            5.63      9.01       NaN      5.63    6.42
predicted_label: False          94.37     90.99       NaN     94.38   93.58
true_label: True                20.20     18.45       NaN     16.25   19.16
true_label: False               79.80     81.55       NaN     83.75   80.84
true_label: All                 60.58     23.37       0.0     16.05  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fourth_math_percentile,"(1, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,21.47,5.39,4.40,0.88,0.00,6.18
predicted_label: False,78.53,94.61,95.60,99.12,100.00,93.82
true_label: True,32.98,26.47,14.29,10.57,7.00,18.03
true_label: False,67.02,73.53,85.71,89.43,93.00,81.97
true_label: All,19.02,20.32,18.13,22.61,19.92,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

placement_gr_5          (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            4.52     21.62    6.86
predicted_label: False          95.48     78.38   93.14
true_label: True                17.63     30.41   19.39
true_label: False               82.37     69.59   80.61
true_label: All                 86.27     13.73  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

seventh_read_normalized,"(-2.8, -1.6]","(-1.6, -0.5]","(-0.5, 0.6]","(0.6, 1.8]","(1.8, 2.9]",All
predicted_label: True,53.33,11.11,1.69,0.35,0.00,5.39
predicted_label: False,46.67,88.89,98.31,99.65,100.00,94.61
true_label: True,46.67,28.99,16.74,9.57,12.50,18.40
true_label: False,53.33,71.01,83.26,90.43,87.50,81.60
true_label: All,4.34,19.94,45.47,27.17,3.08,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_science_normalized,"(-2.4, -1.3]","(-1.3, -0.1]","(-0.1, 1]","(1, 2.1]","(2.1, 3.2]",All
predicted_label: True,37.66,6.59,0.72,0.55,0.00,5.41
predicted_label: False,62.34,93.41,99.28,99.45,100.00,94.59
true_label: True,32.47,26.95,14.01,4.97,9.09,17.99
true_label: False,67.53,73.05,85.99,95.03,90.91,82.01
true_label: All,7.57,32.84,40.71,17.80,1.08,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_math_normalized,"(-2.5, -1.4]","(-1.4, -0.3]","(-0.3, 0.8]","(0.8, 1.9]","(1.9, 3.0006]",All
predicted_label: True,36.76,8.58,0.24,0.51,0.0,5.38
predicted_label: False,63.24,91.42,99.76,99.49,100.0,94.62
true_label: True,52.94,24.26,11.81,10.26,4.0,18.06
true_label: False,47.06,75.74,88.19,89.74,96.0,81.94
true_label: All,6.53,32.47,39.87,18.73,2.4,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

sixth_math_pl,Accelerated,Advanced,Basic,Failed,Limited,Passed,Proficient,All
predicted_label: True,0.44,0.29,18.10,100.00,40.58,25.00,3.17,5.87
predicted_label: False,99.56,99.71,81.90,0.00,59.42,75.00,96.83,94.13
true_label: True,13.10,8.67,36.19,0.00,40.58,0.00,22.54,18.29
true_label: False,86.90,91.33,63.81,100.00,59.42,100.00,77.46,81.71
true_label: All,22.04,33.30,10.11,0.19,6.64,0.38,27.33,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

seventh_math_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,24.44,5.03,1.41,0.87,0.00,5.66
predicted_label: False,75.56,94.97,98.59,99.13,100.00,94.34
true_label: True,35.56,24.12,19.25,10.82,5.94,18.33
true_label: False,64.44,75.88,80.75,89.18,94.06,81.67
true_label: All,17.27,19.10,20.44,22.17,21.02,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

street_transition_in_gr_5  False   True     All
predicted_label: True       6.12  18.75    6.32
predicted_label: False     93.88  81.25   93.68
true_label: True           18.76  43.75   19.14
true_label: False          81.24  56.25   80.86
true_label: All            98.45   1.55  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_math_normalized,"(-2.6, -1.2]","(-1.2, 0.2]","(0.2, 1.6]","(1.6, 3]","(3, 4.4]",All
predicted_label: True,33.33,4.95,0.25,0.00,0.0,5.42
predicted_label: False,66.67,95.05,99.75,100.00,100.0,94.58
true_label: True,35.48,23.87,7.98,11.32,0.0,17.93
true_label: False,64.52,76.13,92.02,88.68,100.0,82.07
true_label: All,9.16,45.81,39.51,5.22,0.3,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

seventh_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.00,16.44,37.88,2.09,5.66
predicted_label: False,100.00,100.00,83.56,62.12,97.91,94.34
true_label: True,5.53,8.55,30.14,37.88,20.46,18.33
true_label: False,94.47,91.45,69.86,62.12,79.54,81.67
true_label: All,19.10,14.59,14.01,6.33,45.97,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_read_percentile,"(0.0007, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,22.36,6.14,2.89,0.00,0.00,5.41
predicted_label: False,77.64,93.86,97.11,100.00,100.00,94.59
true_label: True,29.19,23.68,20.81,10.81,9.44,17.99
true_label: False,70.81,76.32,79.19,89.19,90.56,82.01
true_label: All,15.83,22.42,17.01,21.83,22.91,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

spec_instruc_gr_5       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            7.72      0.00    6.86
predicted_label: False          92.28    100.00   93.14
true_label: True                20.98      6.67   19.39
true_label: False               79.02     93.33   80.61
true_label: All                 88.87     11.13  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

status_gr_5,active,deleted,excel,foster,inactive,open_enrollment,All
predicted_label: True,5.68,0.0,100.0,0.00,20.00,7.14,6.32
predicted_label: False,94.32,100.0,0.0,100.00,80.00,92.86,93.68
true_label: True,18.11,100.0,0.0,100.00,45.71,14.29,19.14
true_label: False,81.89,0.0,100.0,0.00,54.29,85.71,80.86
true_label: All,90.67,0.1,0.1,0.29,3.40,5.44,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_read_percentile,"(0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.60,5.79,0.81,0.00,0.00,5.37
predicted_label: False,74.40,94.21,99.19,100.00,100.00,94.63
true_label: True,39.29,22.11,17.00,9.38,8.16,18.04
true_label: False,60.71,77.89,83.00,90.62,91.84,81.96
true_label: All,16.12,18.23,23.70,18.43,23.51,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

n_addresses_to_gr_5     (1, 1.5]  (1.5, 2]  (2, 2.5]  (2.5, 3]     All
predicted_label: True       5.88     13.33       NaN     100.0    6.30
predicted_label: False     94.12     86.67       NaN       0.0   93.70
true_label: True           18.26     37.78       NaN     100.0   19.19
true_label: False          81.74     62.22       NaN       0.0   80.81
true_label: All            95.54      4.36       0.0       0.1  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

sixth_read_percentile,"(-0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.75,5.88,3.12,0.00,0.00,5.85
predicted_label: False,74.25,94.12,96.88,100.00,100.00,94.15
true_label: True,31.74,25.13,18.75,11.61,9.54,18.31
true_label: False,68.26,74.87,81.25,88.39,90.46,81.69
true_label: All,16.01,17.93,21.48,21.48,23.11,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_socstudies_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.70,0.00,17.24,29.41,1.00,5.42
predicted_label: False,99.30,100.00,82.76,70.59,99.00,94.58
true_label: True,11.27,6.49,31.80,35.29,16.72,17.83
true_label: False,88.73,93.51,68.20,64.71,83.28,82.17
true_label: All,27.98,15.17,25.71,1.67,29.46,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

gpa_district_gr_5,"(-2.02, -1.4]","(-1.4, -0.8]","(-0.8, -0.2]","(-0.2, 0.4]","(0.4, 1.06]",All
predicted_label: True,83.33,34.78,12.22,4.23,1.06,8.46
predicted_label: False,16.67,65.22,87.78,95.77,98.94,91.54
true_label: True,66.67,50.00,31.11,11.27,12.70,20.08
true_label: False,33.33,50.00,68.89,88.73,87.30,79.92
true_label: All,1.27,9.73,19.03,30.02,39.96,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

sixth_read_normalized,"(-7.4, -5.2]","(-5.2, -2.9]","(-2.9, -0.7]","(-0.7, 1.6]","(1.6, 3.8]",All
predicted_label: True,50.00,0.0,21.20,1.57,0.00,5.85
predicted_label: False,50.00,100.0,78.80,98.43,100.00,94.15
true_label: True,0.00,0.0,31.80,15.47,7.14,18.31
true_label: False,100.00,100.0,68.20,84.53,92.86,81.69
true_label: All,0.58,0.1,20.81,73.15,5.37,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

avg_city_change_to_gr_5,"(-0.001, 0.2]","(0.2, 0.5]","(0.5, 0.8]","(0.8, 1]",All
predicted_label: True,5.84,16.13,NaN,28.57,6.30
predicted_label: False,94.16,83.87,NaN,71.43,93.70
true_label: True,18.31,35.48,NaN,71.43,19.19
true_label: False,81.69,64.52,NaN,28.57,80.81
true_label: All,96.32,3.00,0.0,0.68,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

third_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.14,0.45,11.54,47.22,2.73,5.01
predicted_label: False,98.86,99.55,88.46,52.78,97.27,94.99
true_label: True,9.14,6.70,29.23,44.44,21.16,17.13
true_label: False,90.86,93.30,70.77,55.56,78.84,82.87
true_label: All,20.40,26.11,15.15,4.20,34.15,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

titlei_gr_5             (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            6.97      4.44    6.86
predicted_label: False          93.03     95.56   93.14
true_label: True                19.75     11.11   19.39
true_label: False               80.25     88.89   80.61
true_label: All                 95.83      4.17  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

third_math_normalized,"(-3.04, -1.7]","(-1.7, -0.5]","(-0.5, 0.8]","(0.8, 2.1]","(2.1, 3.4]",All
predicted_label: True,48.39,8.73,1.87,0.48,0.00,5.01
predicted_label: False,51.61,91.27,98.13,99.52,100.00,94.99
true_label: True,45.16,27.07,14.97,6.28,11.76,17.13
true_label: False,54.84,72.93,85.03,93.72,88.24,82.87
true_label: All,3.61,26.69,43.59,24.13,1.98,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

third_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.25,0.33,6.93,26.83,5.30,5.00
predicted_label: False,97.75,99.67,93.07,73.17,94.70,95.00
true_label: True,10.36,10.20,29.70,30.49,25.83,17.21
true_label: False,89.64,89.80,70.30,69.51,74.17,82.79
true_label: All,25.81,35.35,11.74,9.53,17.56,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

sixth_math_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,29.76,3.74,0.90,0.96,0.00,5.87
predicted_label: False,70.24,96.26,99.10,99.04,100.00,94.13
true_label: True,38.10,22.99,19.28,11.00,6.75,18.29
true_label: False,61.90,77.01,80.72,89.00,93.25,81.71
true_label: All,16.17,18.00,21.46,20.12,24.25,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_humanities_classes_gr_5,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,4.58,8.73,NaN,6.00,18.18,6.42
predicted_label: False,95.42,91.27,NaN,94.00,81.82,93.58
true_label: True,18.32,18.34,NaN,20.50,27.27,19.16
true_label: False,81.68,81.66,NaN,79.50,72.73,80.84
true_label: All,52.56,22.97,0.0,20.06,4.41,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

num_interventions_classes_gr_5  False   True     All
predicted_label: True            6.42  12.35    6.86
predicted_label: False          93.58  87.65   93.14
true_label: True                19.16  22.22   19.39
true_label: False               80.84  77.78   80.61
true_label: All                 92.49   7.51  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_read_normalized,"(-3, -1.7]","(-1.7, -0.5]","(-0.5, 0.7]","(0.7, 2]","(2, 3.2]",All
predicted_label: True,37.84,12.61,2.48,0.00,0.00,5.41
predicted_label: False,62.16,87.39,97.52,100.00,100.00,94.59
true_label: True,37.84,27.03,16.57,9.35,10.53,17.99
true_label: False,62.16,72.97,83.43,90.65,89.47,82.01
true_label: All,3.64,21.83,51.62,21.04,1.87,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_science_percentile,"(0.003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.26,2.89,0.00,0.00,0.00,5.12
predicted_label: False,74.74,97.11,100.00,100.00,100.00,94.88
true_label: True,35.79,24.28,17.35,12.84,5.02,18.16
true_label: False,64.21,75.72,82.65,87.16,94.98,81.84
true_label: All,18.36,16.71,18.94,24.83,21.16,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

art_gpa_gr_5,"(0.7, 1.4]","(1.4, 2.05]","(2.05, 2.7]","(2.7, 3.4]","(3.4, 4]",All
predicted_label: True,33.33,18.92,20.00,9.52,1.44,7.63
predicted_label: False,66.67,81.08,80.00,90.48,98.56,92.37
true_label: True,66.67,29.73,20.00,18.10,11.96,17.56
true_label: False,33.33,70.27,80.00,81.90,88.04,82.44
true_label: All,3.05,9.41,7.63,26.72,53.18,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

absence_gr_5,"(-0.04, 7.7]","(7.7, 15.4]","(15.4, 23.1]","(23.1, 30.8]","(30.8, 38.5]",All
predicted_label: True,6.06,5.88,17.65,20.00,0.00,6.86
predicted_label: False,93.94,94.12,82.35,80.00,100.00,93.14
true_label: True,15.09,25.61,30.88,50.00,100.00,19.39
true_label: False,84.91,74.39,69.12,50.00,0.00,80.61
true_label: All,65.77,26.81,6.31,0.93,0.19,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.41,0.00,20.96,34.15,1.17,5.38
predicted_label: False,99.59,100.00,79.04,65.85,98.83,94.62
true_label: True,7.82,10.13,29.94,53.66,17.42,18.06
true_label: False,92.18,89.87,70.06,46.34,82.58,81.94
true_label: All,23.34,7.59,16.04,3.94,49.09,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

special_ed_gr_5             0    100     All
predicted_label: True   15.89   5.39    6.86
predicted_label: False  84.11  94.61   93.14
true_label: True        31.13  17.48   19.39
true_label: False       68.87  82.52   80.61
true_label: All         14.01  85.99  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fourth_read_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,20.10,5.76,4.67,0.49,0.50,6.18
predicted_label: False,79.90,94.24,95.33,99.51,99.50,93.82
true_label: True,31.96,21.99,19.16,9.31,8.46,18.03
true_label: False,68.04,78.01,80.84,90.69,91.54,81.97
true_label: All,19.32,19.02,21.31,20.32,20.02,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

fifth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.87,0.52,14.41,70.59,2.20,5.41
predicted_label: False,99.13,99.48,85.59,29.41,97.80,94.59
true_label: True,12.75,5.21,31.78,35.29,21.15,17.99
true_label: False,87.25,94.79,68.22,64.71,78.85,82.01
true_label: All,33.92,18.88,23.21,1.67,22.32,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

n_districts_to_gr_5     (1, 1.5]  (1.5, 2]  (2, 2.5]  (2.5, 3]     All
predicted_label: True       5.73     14.81       NaN     100.0    6.30
predicted_label: False     94.27     85.19       NaN       0.0   93.70
true_label: True           18.22     35.19       NaN     100.0   19.19
true_label: False          81.78     64.81       NaN       0.0   80.81
true_label: All            94.67      5.23       0.0       0.1  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

gender                      F      M     All
predicted_label: True    6.14   7.54    6.86
predicted_label: False  93.86  92.46   93.14
true_label: True        18.62  20.11   19.39
true_label: False       81.38  79.89   80.61
true_label: All         48.33  51.67  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

sixth_read_pl,Accelerated,Advanced,Basic,Failed,Limited,Passed,Proficient,All
predicted_label: True,0.00,0.00,22.06,75.00,37.50,0.0,3.88,5.85
predicted_label: False,100.00,100.00,77.94,25.00,62.50,100.0,96.12,94.15
true_label: True,11.11,7.59,33.09,0.00,29.17,0.0,20.61,18.31
true_label: False,88.89,92.41,66.91,100.00,70.83,100.0,79.39,81.69
true_label: All,23.30,13.90,13.04,0.38,2.30,0.1,46.98,100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

disadvantagement_gr_5   academic  economic   none     All
predicted_label: True       0.00     10.59   5.31    6.86
predicted_label: False    100.00     89.41  94.69   93.14
true_label: True            0.00     33.33  13.55   19.39
true_label: False         100.00     66.67  86.45   80.61
true_label: All             0.37     29.78  69.85  100.00

08_09_2016_grade_6_param_set_0_RF_ht_8585 RF not_on_time val

eighth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.00,14.40,60.00,0.27,5.12
predicted_label: False,100.00,100.00,85.60,40.00,99.73,94.88
true_label: True,9.79,5.32,31.91,44.00,17.79,18.16
true_label: False,90.21,94.68,68.09,56.00,82.21,81.84
true_label: All,18.74,18.16,24.83,2.42,35.85,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

seventh_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.88,0.00,14.62,37.61,4.04,5.66
predicted_label: False,99.12,100.00,85.38,62.39,95.96,94.34
true_label: True,11.86,5.25,33.08,46.79,19.17,18.19
true_label: False,88.14,94.75,66.92,53.21,80.83,81.81
true_label: All,27.55,15.80,12.68,5.31,38.66,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

n_districts_to_gr_9     (1, 1.8]  (1.8, 2.5]  (2.5, 3.2]  (3.2, 4]     All
predicted_label: True       6.46       18.26       41.18     25.00    8.25
predicted_label: False     93.54       81.74       58.82     75.00   91.75
true_label: True           18.29       36.51       38.24     50.00   20.56
true_label: False          81.71       63.49       61.76     50.00   79.44
true_label: All            87.82       10.52        1.48      0.17  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

gifted_gr_9                 N      Y     All
predicted_label: True    9.49   0.32    8.25
predicted_label: False  90.51  99.68   91.75
true_label: True        22.87   5.81   20.56
true_label: False       77.13  94.19   79.44
true_label: All         86.47  13.53  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

discipline_incidents_gr_9,"(-0.09, 18]","(18, 36]","(36, 54]","(54, 72]","(72, 90]",All
predicted_label: True,7.45,26.92,35.29,80.00,0.00,8.25
predicted_label: False,92.55,73.08,64.71,20.00,100.00,91.75
true_label: True,19.31,51.92,64.71,80.00,100.00,20.56
true_label: False,80.69,48.08,35.29,20.00,0.00,79.44
true_label: All,96.73,2.27,0.74,0.22,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

academic_intracurr_gr_9  (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True             8.27      6.45    8.25
predicted_label: False           91.73     93.55   91.75
true_label: True                 20.71      9.68   20.56
true_label: False                79.29     90.32   79.44
true_label: All                  98.65      1.35  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_wkd_3_gr_9,"(-0.02, 3.6]","(3.6, 7.2]","(7.2, 10.8]","(10.8, 14.4]","(14.4, 18]",All
predicted_label: True,7.62,19.74,66.67,50.00,100.00,8.25
predicted_label: False,92.38,80.26,33.33,50.00,0.00,91.75
true_label: True,19.90,32.89,66.67,100.00,100.00,20.56
true_label: False,80.10,67.11,33.33,0.00,0.00,79.44
true_label: All,96.29,3.32,0.26,0.09,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fourth_math_normalized,"(-3.2, -1.6]","(-1.6, -0.04]","(-0.04, 1.5]","(1.5, 3.1]","(3.1, 4.7]",All
predicted_label: True,43.10,8.56,0.36,0.00,0.00,5.47
predicted_label: False,56.90,91.44,99.64,100.00,100.00,94.53
true_label: True,34.48,25.23,9.69,4.76,0.00,17.34
true_label: False,65.52,74.77,90.31,95.24,100.00,82.66
true_label: All,3.05,46.66,43.41,6.62,0.26,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_science_percentile,"(-1, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,20.22,5.54,2.13,0.25,0.00,5.43
predicted_label: False,79.78,94.46,97.87,99.75,100.00,94.57
true_label: True,32.69,23.61,16.22,8.48,5.50,17.16
true_label: False,67.31,76.39,83.78,91.52,94.50,82.84
true_label: All,18.66,21.45,19.43,20.72,19.74,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

disadvantagement_gr_9   academic   both  economic   none     All
predicted_label: True       0.00  20.00     12.45   4.60    8.25
predicted_label: False    100.00  80.00     87.55  95.40   91.75
true_label: True            7.14  33.33     28.93  13.38   20.56
true_label: False          92.86  66.67     71.07  86.62   79.44
true_label: All             0.61   0.65     45.57  53.16  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_wkd_4_gr_9,"(-0.008, 1.6]","(1.6, 3.2]","(3.2, 4.8]","(4.8, 6.4]","(6.4, 8]",All
predicted_label: True,7.86,18.84,33.33,NaN,0.00,8.25
predicted_label: False,92.14,81.16,66.67,NaN,100.00,91.75
true_label: True,20.14,31.88,50.00,NaN,0.00,20.56
true_label: False,79.86,68.12,50.00,NaN,100.00,79.44
true_label: All,96.64,3.01,0.26,0.0,0.09,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

language_gpa_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,10.34,0.00,0.00,0.00,0.00,0.48
predicted_label: False,89.66,100.00,100.00,100.00,100.00,99.52
true_label: True,24.14,15.38,11.54,9.80,7.49,10.30
true_label: False,75.86,84.62,88.46,90.20,92.51,89.70
true_label: All,4.60,8.24,20.60,24.25,42.31,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_wkd_4_gr_9      (-0.01, 3]  (3, 6]  (6, 9]  (9, 12]  (12, 15]     All
predicted_label: True         7.90   15.63   30.00     0.00    100.00    8.25
predicted_label: False       92.10   84.37   70.00   100.00      0.00   91.75
true_label: True             19.95   34.38   50.00   100.00    100.00   20.56
true_label: False            80.05   65.62   50.00     0.00      0.00   79.44
true_label: All              96.68    2.79    0.44     0.04      0.04  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_math_percentile,"(0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,21.94,4.49,2.23,0.00,0.24,5.48
predicted_label: False,78.06,95.51,97.77,100.00,99.76,94.52
true_label: True,35.83,20.32,17.82,8.47,5.41,17.17
true_label: False,64.17,79.68,82.18,91.53,94.59,82.83
true_label: All,18.61,19.60,20.89,18.92,21.98,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_health_classes_gr_9,"(-0.007, 1.4]","(1.4, 2.8]","(2.8, 4.2]","(4.2, 5.6]","(5.6, 7]",All
predicted_label: True,6.14,7.80,4.84,0.0,0.00,6.34
predicted_label: False,93.86,92.20,95.16,100.0,100.00,93.66
true_label: True,17.80,16.84,19.68,50.0,100.00,18.02
true_label: False,82.20,83.16,80.32,50.0,0.00,81.98
true_label: All,57.99,25.51,16.24,0.1,0.16,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

stem_gpa_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,32.94,9.79,6.09,4.98,0.79,7.14
predicted_label: False,67.06,90.21,93.91,95.02,99.21,92.86
true_label: True,58.82,27.97,17.31,16.28,8.33,19.58
true_label: False,41.18,72.03,82.69,83.72,91.67,80.42
true_label: All,7.78,13.08,28.55,27.54,23.06,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_stem_classes_gr_9,"(-0.006, 1.2]","(1.2, 2.4]","(2.4, 3.6]","(3.6, 4.8]","(4.8, 6]",All
predicted_label: True,5.99,7.10,11.76,0.00,0.00,6.34
predicted_label: False,94.01,92.90,88.24,100.00,100.00,93.66
true_label: True,17.82,17.75,19.12,16.67,100.00,18.02
true_label: False,82.18,82.25,80.88,83.33,0.00,81.98
true_label: All,77.89,17.71,3.56,0.63,0.21,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_unexcused_gr_9,"(-0.03, 6.2]","(6.2, 12.4]","(12.4, 18.6]","(18.6, 24.8]","(24.8, 31]",All
predicted_label: True,7.86,28.57,16.67,NaN,25.00,8.25
predicted_label: False,92.14,71.43,83.33,NaN,75.00,91.75
true_label: True,19.96,54.29,33.33,NaN,25.00,20.56
true_label: False,80.04,45.71,66.67,NaN,75.00,79.44
true_label: All,97.77,1.53,0.52,0.0,0.17,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

medical_gr_9,"(-0.03, 6.2]","(6.2, 12.4]","(12.4, 18.6]","(18.6, 24.8]","(24.8, 31]",All
predicted_label: True,8.29,5.56,0.00,0.00,0.00,8.25
predicted_label: False,91.71,94.44,100.00,100.00,100.00,91.75
true_label: True,20.51,22.22,33.33,50.00,0.00,20.56
true_label: False,79.49,77.78,66.67,50.00,100.00,79.44
true_label: All,98.95,0.79,0.13,0.09,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_science_normalized,"(-3.08, -1.6]","(-1.6, -0.2]","(-0.2, 1.3]","(1.3, 2.7]","(2.7, 4.1]",All
predicted_label: True,47.78,9.66,0.60,0.45,0.00,5.93
predicted_label: False,52.22,90.34,99.40,99.55,100.00,94.07
true_label: True,51.11,27.15,11.96,4.91,0.00,18.40
true_label: False,48.89,72.85,88.04,95.09,100.00,81.60
true_label: All,4.30,36.62,47.94,10.71,0.43,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

section_504_plan_gr_9       0       1      N      Y     All
predicted_label: True    4.80    0.00   7.80  13.64    7.30
predicted_label: False  95.20  100.00  92.20  86.36   92.70
true_label: True        13.65   27.27  19.73  27.27   18.95
true_label: False       86.35   72.73  80.27  72.73   81.05
true_label: All         15.95    1.29  81.46   1.29  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

titlei_gr_9             (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.18     50.00    8.25
predicted_label: False          91.82     50.00   91.75
true_label: True                20.46     75.00   20.56
true_label: False               79.54     25.00   79.44
true_label: All                 99.83      0.17  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fourth_read_normalized,"(-3.1, -1.8]","(-1.8, -0.6]","(-0.6, 0.7]","(0.7, 2]","(2, 3.2]",All
predicted_label: True,44.23,13.09,2.66,0.25,0.00,5.47
predicted_label: False,55.77,86.91,97.34,99.75,100.00,94.53
true_label: True,38.46,28.64,15.38,8.89,7.41,17.34
true_label: False,61.54,71.36,84.62,91.11,92.59,82.66
true_label: All,2.73,21.28,53.28,21.28,1.42,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_language_classes_gr_9  (-0.002, 0.5]  (0.5, 1]  (1, 1.5]  (1.5, 2]     All
predicted_label: True               9.28      0.49       NaN       0.0    6.34
predicted_label: False             90.72     99.51       NaN     100.0   93.66
true_label: True                   21.93     10.55       NaN       0.0   18.02
true_label: False                  78.07     89.45       NaN     100.0   81.98
true_label: All                    66.63     32.27       0.0       1.1  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

sixth_math_normalized,"(-2.9, -1.4]","(-1.4, -0.04]","(-0.04, 1.4]","(1.4, 2.8]","(2.8, 4.2]",All
predicted_label: True,40.95,8.38,0.63,0.00,0.00,5.77
predicted_label: False,59.05,91.62,99.37,100.00,100.00,94.23
true_label: True,40.95,26.14,10.17,6.11,7.14,17.82
true_label: False,59.05,73.86,89.83,93.89,92.86,82.18
true_label: All,5.27,39.56,47.89,6.58,0.70,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

seventh_read_percentile,"(0.0006, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,21.20,6.68,1.66,0.97,0.0,5.66
predicted_label: False,78.80,93.32,98.34,99.03,100.0,94.34
true_label: True,37.23,24.16,13.49,12.38,6.5,18.19
true_label: False,62.77,75.84,86.51,87.62,93.5,81.81
true_label: All,17.94,18.97,23.50,20.09,19.5,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

atheletics_gr_9         (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           11.06      0.65    8.25
predicted_label: False          88.94     99.35   91.75
true_label: True                25.34      7.61   20.56
true_label: False               74.66     92.39   79.44
true_label: All                 73.02     26.98  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_consec_gr_9,"(-0.07, 13.6]","(13.6, 27.2]","(27.2, 40.8]","(40.8, 54.4]","(54.4, 68]",All
predicted_label: True,7.87,61.54,50.00,0.00,100.00,8.25
predicted_label: False,92.13,38.46,50.00,100.00,0.00,91.75
true_label: True,20.18,61.54,100.00,100.00,100.00,20.56
true_label: False,79.82,38.46,0.00,0.00,0.00,79.44
true_label: All,99.26,0.57,0.09,0.04,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

third_read_percentile,"(-0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,22.55,8.37,3.92,0.81,0.00,6.67
predicted_label: False,77.45,91.63,96.08,99.19,100.00,93.33
true_label: True,32.77,27.38,14.05,10.98,7.04,17.92
true_label: False,67.23,72.62,85.95,89.02,92.96,82.08
true_label: All,17.62,19.72,22.94,18.44,21.29,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_math_percentile,"(-0.0006, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,27.79,3.29,0.96,0.52,0.22,5.93
predicted_label: False,72.21,96.71,99.04,99.48,99.78,94.07
true_label: True,35.42,25.00,13.91,10.59,9.03,18.40
true_label: False,64.58,75.00,86.09,89.41,90.97,81.60
true_label: All,17.54,21.80,19.93,18.50,22.23,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

days_absent_excused_gr_9,"(-0.05, 10.2]","(10.2, 20.4]","(20.4, 30.6]","(30.6, 40.8]","(40.8, 51]",All
predicted_label: True,7.76,7.96,21.28,66.67,33.33,8.25
predicted_label: False,92.24,92.04,78.72,33.33,66.67,91.75
true_label: True,19.12,25.95,40.43,66.67,33.33,20.56
true_label: False,80.88,74.05,59.57,33.33,66.67,79.44
true_label: All,84.94,12.61,2.05,0.26,0.13,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.66,0.00,25.49,47.14,4.48,5.92
predicted_label: False,99.34,100.00,74.51,52.86,95.52,94.08
true_label: True,10.66,8.43,35.78,47.14,22.76,18.39
true_label: False,89.34,91.57,64.22,52.86,77.24,81.61
true_label: All,29.14,20.40,9.75,3.34,37.36,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fourth_math_pl,Accelerated,Advanced,Basic,Failed,Limited,Proficient,All
predicted_label: True,0.48,0.00,11.72,100.00,36.75,3.75,5.47
predicted_label: False,99.52,100.00,88.28,0.00,63.25,96.25,94.53
true_label: True,10.10,5.99,30.86,100.00,30.77,20.11,17.34
true_label: False,89.90,94.01,69.14,0.00,69.23,79.89,82.66
true_label: All,21.86,19.29,13.45,0.05,6.15,39.20,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.32,0.00,7.35,23.19,2.32,5.48
predicted_label: False,99.68,100.00,92.65,76.81,97.68,94.52
true_label: True,8.12,6.25,27.35,31.52,14.80,17.22
true_label: False,91.88,93.75,72.65,68.48,85.20,82.78
true_label: All,15.93,5.79,12.67,14.27,51.34,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

academic_inv_gr_9       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.09      9.17    8.25
predicted_label: False          91.91     90.83   91.75
true_label: True                20.23     22.49   20.56
true_label: False               79.77     77.51   79.44
true_label: All                 85.25     14.75  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

humanities_gpa_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,56.60,13.46,6.02,2.53,1.11,6.58
predicted_label: False,43.40,86.54,93.98,97.47,98.89,93.42
true_label: True,64.15,41.03,20.68,12.15,8.03,18.68
true_label: False,35.85,58.97,79.32,87.85,91.97,81.32
true_label: All,4.31,12.67,21.61,32.09,29.33,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

third_read_normalized,"(-3.5, -2.06]","(-2.06, -0.7]","(-0.7, 0.7]","(0.7, 2.09]","(2.09, 3.5]",All
predicted_label: True,57.69,15.68,3.97,0.00,0.00,6.67
predicted_label: False,42.31,84.32,96.03,100.00,100.00,93.33
true_label: True,30.77,31.71,16.30,6.59,12.12,17.92
true_label: False,69.23,68.29,83.70,93.41,87.88,82.08
true_label: All,1.95,21.51,54.72,19.34,2.47,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

health_gpa_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,40.00,16.26,5.28,4.79,2.05,6.68
predicted_label: False,60.00,83.74,94.72,95.21,97.95,93.32
true_label: True,70.00,34.96,22.64,16.90,6.92,19.02
true_label: False,30.00,65.04,77.36,83.10,93.08,80.98
true_label: All,4.23,10.40,22.40,30.01,32.97,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

mid_year_withdraw_gr_9  False   True     All
predicted_label: True    28.0  64.29   41.03
predicted_label: False   72.0  35.71   58.97
true_label: True         38.0  60.71   46.15
true_label: False        62.0  39.29   53.85
true_label: All          64.1  35.90  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

street_transition_in_gr_9  False   True     All
predicted_label: True       7.62  39.13    8.25
predicted_label: False     92.38  60.87   91.75
true_label: True           19.73  60.87   20.56
true_label: False          80.27  39.13   79.44
true_label: All            97.99   2.01  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.47,0.00,12.50,52.94,3.12,5.43
predicted_label: False,99.53,100.00,87.50,47.06,96.88,94.57
true_label: True,10.14,4.89,28.07,43.14,20.76,17.16
true_label: False,89.86,95.11,71.93,56.86,79.24,82.84
true_label: All,33.13,15.87,25.22,2.64,23.15,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

city_transition_in_gr_9  False   True     All
predicted_label: True     7.79  39.39    8.25
predicted_label: False   92.21  60.61   91.75
true_label: True         20.02  57.58   20.56
true_label: False        79.98  42.42   79.44
true_label: All          98.56   1.44  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_read_normalized,"(-3.1, -1.6]","(-1.6, -0.1]","(-0.1, 1.4]","(1.4, 2.8]","(2.8, 4.3]",All
predicted_label: True,45.35,8.96,0.72,0.00,0.00,5.92
predicted_label: False,54.65,91.04,99.28,100.00,100.00,94.08
true_label: True,43.02,26.87,10.86,5.19,0.00,18.39
true_label: False,56.98,73.13,89.14,94.81,100.00,81.61
true_label: All,4.11,41.61,46.63,7.36,0.29,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_wkd_1_gr_9,"(-0.01, 2.6]","(2.6, 5.2]","(5.2, 7.8]","(7.8, 10.4]","(10.4, 13]",All
predicted_label: True,7.76,14.43,20.00,75.00,100.00,8.25
predicted_label: False,92.24,85.57,80.00,25.00,0.00,91.75
true_label: True,19.64,31.96,70.00,100.00,100.00,20.56
true_label: False,80.36,68.04,30.00,0.00,0.00,79.44
true_label: All,95.11,4.23,0.44,0.17,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

post_secondary_gr_9     (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.25      0.00    8.25
predicted_label: False          91.75    100.00   91.75
true_label: True                20.57      0.00   20.56
true_label: False               79.43    100.00   79.44
true_label: All                 99.96      0.04  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_socstudies_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,20.26,5.82,0.26,0.55,0.48,5.43
predicted_label: False,79.74,94.18,99.74,99.45,99.52,94.57
true_label: True,35.26,21.27,12.37,9.04,7.75,17.07
true_label: False,64.74,78.73,87.63,90.96,92.25,82.93
true_label: All,19.66,20.43,19.66,18.88,21.37,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

avg_district_change_to_gr_9,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,6.97,28.95,23.81,50.00,31.25,8.25
predicted_label: False,93.03,71.05,76.19,50.00,68.75,91.75
true_label: True,19.37,39.47,40.48,50.00,31.25,20.56
true_label: False,80.63,60.53,59.52,50.00,68.75,79.44
true_label: All,93.98,3.32,1.83,0.17,0.70,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

seventh_math_normalized,"(-3.3, -1.8]","(-1.8, -0.3]","(-0.3, 1.2]","(1.2, 2.6]","(2.6, 4.1]",All
predicted_label: True,38.46,12.20,1.44,0.38,0.00,5.66
predicted_label: False,61.54,87.80,98.56,99.62,100.00,94.34
true_label: True,35.90,29.12,12.86,8.43,0.00,18.20
true_label: False,64.10,70.88,87.14,91.57,100.00,81.80
true_label: All,1.90,34.00,50.83,12.73,0.54,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

ethnicity                    A      B      H       I      M      W     All
predicted_label: True     0.00  22.64  37.50    0.00  18.95   7.10    8.03
predicted_label: False  100.00  77.36  62.50  100.00  81.05  92.90   91.97
true_label: True         22.22  43.40  50.00   50.00  29.47  19.31   20.44
true_label: False        77.78  56.60  50.00   50.00  70.53  80.69   79.56
true_label: All           0.39   2.32   0.35    0.09   4.17  92.68  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_art_classes_gr_9,"(-0.006, 1.2]","(1.2, 2.4]","(2.4, 3.6]","(3.6, 4.8]","(4.8, 6]",All
predicted_label: True,6.43,5.06,0.00,0.00,0.00,6.34
predicted_label: False,93.57,94.94,100.00,100.00,100.00,93.66
true_label: True,17.52,30.38,0.00,0.00,100.00,18.02
true_label: False,82.48,69.62,100.00,100.00,0.00,81.98
true_label: All,95.39,4.14,0.37,0.05,0.05,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

third_math_percentile,"(-0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,24.41,5.65,2.90,1.12,0.00,6.63
predicted_label: False,75.59,94.35,97.10,98.88,100.00,93.37
true_label: True,33.86,22.98,17.74,9.74,5.22,17.85
true_label: False,66.14,77.02,82.26,90.26,94.78,82.15
true_label: All,19.13,18.67,23.34,20.11,18.75,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_gr_9,"(-0.1, 22]","(22, 44]","(44, 66]","(66, 88]","(88, 110]",All
predicted_label: True,6.90,27.13,30.77,100.00,50.00,8.25
predicted_label: False,93.10,72.87,69.23,0.00,50.00,91.75
true_label: True,18.27,54.26,53.85,100.00,50.00,20.56
true_label: False,81.73,45.74,46.15,0.00,50.00,79.44
true_label: All,93.67,5.63,0.57,0.04,0.09,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_consec_gr_9,"(-0.02, 3.8]","(3.8, 7.6]","(7.6, 11.4]","(11.4, 15.2]","(15.2, 19]",All
predicted_label: True,8.12,33.33,0.00,NaN,50.00,8.25
predicted_label: False,91.88,66.67,100.00,NaN,50.00,91.75
true_label: True,20.42,44.44,33.33,NaN,50.00,20.56
true_label: False,79.58,55.56,66.67,NaN,50.00,79.44
true_label: All,99.39,0.39,0.13,0.0,0.09,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_humanities_classes_gr_9,"(-0.009, 1.8]","(1.8, 3.6]","(3.6, 5.4]","(5.4, 7.2]","(7.2, 9]",All
predicted_label: True,5.98,6.94,3.09,5.00,0.00,6.34
predicted_label: False,94.02,93.06,96.91,95.00,100.00,93.66
true_label: True,17.15,19.09,12.37,20.00,33.33,18.02
true_label: False,82.85,80.91,87.63,80.00,66.67,81.98
true_label: All,39.39,54.32,5.08,1.05,0.16,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fourth_math_percentile,"(0.004, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,20.05,3.99,3.19,0.48,0.00,5.47
predicted_label: False,79.95,96.01,96.81,99.52,100.00,94.53
true_label: True,31.02,25.44,13.91,10.31,5.74,17.34
true_label: False,68.98,74.56,86.09,89.69,94.26,82.66
true_label: All,19.65,21.07,18.13,21.91,19.23,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_gr_9,"(-0.03, 6.2]","(6.2, 12.4]","(12.4, 18.6]","(18.6, 24.8]","(24.8, 31]",All
predicted_label: True,7.87,26.32,16.67,NaN,25.00,8.25
predicted_label: False,92.13,73.68,83.33,NaN,75.00,91.75
true_label: True,19.94,52.63,33.33,NaN,25.00,20.56
true_label: False,80.06,47.37,66.67,NaN,75.00,79.44
true_label: All,97.64,1.66,0.52,0.0,0.17,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_wkd_2_gr_9,"(-0.02, 3.4]","(3.4, 6.8]","(6.8, 10.2]","(10.2, 13.6]","(13.6, 17]",All
predicted_label: True,7.62,18.07,38.46,50.00,100.00,8.25
predicted_label: False,92.38,81.93,61.54,50.00,0.00,91.75
true_label: True,19.84,30.12,69.23,50.00,100.00,20.56
true_label: False,80.16,69.88,30.77,50.00,0.00,79.44
true_label: All,95.68,3.62,0.57,0.09,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

seventh_read_normalized,"(-3.09, -1.9]","(-1.9, -0.7]","(-0.7, 0.5]","(0.5, 1.7]","(1.7, 2.9]",All
predicted_label: True,36.36,15.79,2.75,0.34,0.00,5.66
predicted_label: False,63.64,84.21,97.25,99.66,100.00,94.34
true_label: True,56.36,32.04,16.08,8.54,9.26,18.19
true_label: False,43.64,67.96,83.92,91.46,90.74,81.81
true_label: All,2.68,21.31,44.27,29.11,2.63,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

art_gpa_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,40.00,20.00,10.94,2.11,1.86,4.64
predicted_label: False,60.00,80.00,89.06,97.89,98.14,95.36
true_label: True,60.00,66.67,29.69,22.11,11.52,19.21
true_label: False,40.00,33.33,70.31,77.89,88.48,80.79
true_label: All,2.21,3.31,14.13,20.97,59.38,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

iss_gr_9,"(-0.008, 1.6]","(1.6, 3.2]","(3.2, 4.8]","(4.8, 6.4]","(6.4, 8]",All
predicted_label: True,7.91,26.09,100.00,33.33,100.00,8.25
predicted_label: False,92.09,73.91,0.00,66.67,0.00,91.75
true_label: True,20.16,52.17,50.00,33.33,100.00,20.56
true_label: False,79.84,47.83,50.00,66.67,0.00,79.44
true_label: All,98.73,1.00,0.09,0.13,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_pf_classes_gr_9,"(-0.01, 2.6]","(2.6, 5.2]","(5.2, 7.8]","(7.8, 10.4]","(10.4, 13]",All
predicted_label: True,5.38,7.89,25.0,12.90,100.00,6.24
predicted_label: False,94.62,92.11,75.0,87.10,0.00,93.76
true_label: True,16.13,22.81,50.0,41.94,100.00,18.35
true_label: False,83.87,77.19,50.0,58.06,0.00,81.65
true_label: All,81.27,14.23,0.5,3.87,0.12,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_science_normalized,"(-3.01, -1.8]","(-1.8, -0.5]","(-0.5, 0.7]","(0.7, 2]","(2, 3.2]",All
predicted_label: True,41.77,11.93,1.81,0.00,0.00,5.43
predicted_label: False,58.23,88.07,98.19,100.00,100.00,94.57
true_label: True,36.71,28.20,15.58,5.74,7.50,17.16
true_label: False,63.29,71.80,84.42,94.26,92.50,82.84
true_label: All,4.08,23.82,48.42,21.60,2.07,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_math_normalized,"(-3.6, -2.04]","(-2.04, -0.5]","(-0.5, 1.1]","(1.1, 2.7]","(2.7, 4.3]",All
predicted_label: True,41.18,17.01,0.77,0.00,0.00,5.93
predicted_label: False,58.82,82.99,99.23,100.00,100.00,94.07
true_label: True,52.94,32.13,12.45,9.67,16.67,18.40
true_label: False,47.06,67.87,87.55,90.33,83.33,81.60
true_label: All,0.81,30.35,55.69,12.86,0.29,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

sixth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.71,0.34,14.23,35.98,2.83,5.77
predicted_label: False,99.29,99.66,85.77,64.02,97.17,94.23
true_label: True,12.97,7.08,31.30,40.85,20.18,17.82
true_label: False,87.03,92.92,68.70,59.15,79.82,82.18
true_label: All,21.29,29.77,12.35,8.23,28.36,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

future_prep_gpa_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,50.00,0.00,8.51,7.14,4.05,6.15
predicted_label: False,50.00,100.00,91.49,92.86,95.95,93.85
true_label: True,100.00,14.29,29.79,7.14,14.86,17.88
true_label: False,0.00,85.71,70.21,92.86,85.14,82.12
true_label: All,1.12,7.82,26.26,23.46,41.34,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

seventh_math_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,20.35,5.12,2.46,0.71,0.24,5.66
predicted_label: False,79.65,94.88,97.54,99.29,99.76,94.34
true_label: True,35.93,23.17,17.49,8.79,6.51,18.20
true_label: False,64.07,76.83,82.51,91.21,93.49,81.80
true_label: All,19.41,20.00,19.80,20.54,20.24,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_wkd_2_gr_9,"(-0.008, 1.6]","(1.6, 3.2]","(3.2, 4.8]","(4.8, 6.4]","(6.4, 8]",All
predicted_label: True,8.00,15.38,14.29,50.00,0.00,8.25
predicted_label: False,92.00,84.62,85.71,50.00,100.00,91.75
true_label: True,20.01,36.54,57.14,75.00,0.00,20.56
true_label: False,79.99,63.46,42.86,25.00,100.00,79.44
true_label: All,97.08,2.27,0.31,0.17,0.17,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_socstudies_normalized,"(-3.5, -2.1]","(-2.1, -0.8]","(-0.8, 0.6]","(0.6, 1.9]","(1.9, 3.3]",All
predicted_label: True,52.38,16.18,2.73,0.36,0.00,5.43
predicted_label: False,47.62,83.82,97.27,99.64,100.00,94.57
true_label: True,30.95,35.88,15.42,8.18,6.25,17.07
true_label: False,69.05,64.12,84.58,91.82,93.75,82.93
true_label: All,2.17,17.59,49.30,28.45,2.48,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

seventh_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.37,11.35,33.57,3.24,5.66
predicted_label: False,100.00,99.63,88.65,66.43,96.76,94.34
true_label: True,5.24,8.09,32.52,35.66,18.77,18.20
true_label: False,94.76,91.91,67.48,64.34,81.23,81.80
true_label: All,18.63,13.27,15.90,6.98,45.22,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_read_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,20.67,5.06,2.93,0.00,0.24,5.48
predicted_label: False,79.33,94.94,97.07,100.00,99.76,94.52
true_label: True,32.96,20.24,17.01,10.25,7.62,17.22
true_label: False,67.04,79.76,82.99,89.75,92.38,82.78
true_label: All,18.51,21.46,17.63,20.68,21.72,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

days_absent_unexcused_gr_9,"(-0.05, 10.1]","(10.1, 20.2]","(20.2, 30.3]","(30.3, 40.4]","(40.4, 50.5]",All
predicted_label: True,7.99,19.35,33.33,NaN,100.00,8.25
predicted_label: False,92.01,80.65,66.67,NaN,0.00,91.75
true_label: True,19.80,58.06,100.00,NaN,100.00,20.56
true_label: False,80.20,41.94,0.00,NaN,0.00,79.44
true_label: All,98.34,1.35,0.26,0.0,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_interventions_classes_gr_9  False   True     All
predicted_label: True            6.34  17.80    8.25
predicted_label: False          93.66  82.20   91.75
true_label: True                18.02  33.25   20.56
true_label: False               81.98  66.75   79.44
true_label: All                 83.33  16.67  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

district_transition_in_gr_9  False   True     All
predicted_label: True         7.16  29.46    8.25
predicted_label: False       92.84  70.54   91.75
true_label: True             19.18  47.32   20.56
true_label: False            80.82  52.68   79.44
true_label: All              95.11   4.89  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_read_percentile,"(0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,24.07,6.02,1.22,0.76,0.00,5.92
predicted_label: False,75.93,93.98,98.78,99.24,100.00,94.08
true_label: True,36.77,25.06,15.85,8.06,8.43,18.39
true_label: False,63.23,74.94,84.15,91.94,91.57,81.61
true_label: All,18.06,19.06,23.51,18.97,20.40,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

extracurr_program_gr_9  (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.75      2.66    8.25
predicted_label: False          91.25     97.34   91.75
true_label: True                21.40     11.17   20.56
true_label: False               78.60     88.83   79.44
true_label: All                 91.79      8.21  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

sixth_read_percentile,"(0.002, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,22.56,6.33,2.16,0.00,0.00,5.76
predicted_label: False,77.44,93.67,97.84,100.00,100.00,94.24
true_label: True,35.38,23.04,16.83,9.25,7.25,17.84
true_label: False,64.62,76.96,83.17,90.75,92.75,82.16
true_label: All,17.99,19.80,20.85,20.60,20.75,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

limited_english_gr_9         L       M      N     All
predicted_label: True     0.00    0.00   8.26    8.25
predicted_label: False  100.00  100.00  91.74   91.75
true_label: True        100.00    0.00  20.54   20.56
true_label: False         0.00  100.00  79.46   79.44
true_label: All           0.04    0.09  99.87  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_socstudies_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.60,0.36,12.52,44.44,1.45,5.43
predicted_label: False,99.40,99.64,87.48,55.56,98.55,94.57
true_label: True,9.16,6.88,30.31,35.19,14.36,17.07
true_label: False,90.84,93.12,69.69,64.81,85.64,82.93
true_label: All,25.97,14.28,28.50,2.79,28.45,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fourth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.76,0.00,9.04,35.25,4.42,5.47
predicted_label: False,99.24,100.00,90.96,64.75,95.58,94.53
true_label: True,8.87,5.52,29.94,35.25,20.91,17.34
true_label: False,91.13,94.48,70.06,64.75,79.09,82.66
true_label: All,34.37,8.57,9.30,7.30,40.46,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

sixth_read_normalized,"(-3.2, -1.8]","(-1.8, -0.4]","(-0.4, 1.008]","(1.008, 2.4]","(2.4, 3.8]",All
predicted_label: True,53.13,14.04,1.47,0.00,0.0,5.76
predicted_label: False,46.88,85.96,98.53,100.00,100.0,94.24
true_label: True,53.13,29.45,13.49,6.76,12.5,17.84
true_label: False,46.88,70.55,86.51,93.24,87.5,82.16
true_label: All,1.60,29.27,54.64,14.09,0.4,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

percent_passed_pf_classes_gr_9  (-0.001, 0.3]  (0.3, 0.7]  (0.7, 1]     All
predicted_label: True                   50.00         NaN      8.67    9.14
predicted_label: False                  50.00         NaN     91.33   90.86
true_label: True                        50.00         NaN     28.32   28.57
true_label: False                       50.00         NaN     71.68   71.43
true_label: All                          1.14         0.0     98.86  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

n_records_to_gr_9,"(1, 2.8]","(2.8, 4.6]","(4.6, 6.4]","(6.4, 8.2]","(8.2, 10]",All
predicted_label: True,9.07,16.92,5.02,14.29,33.33,8.25
predicted_label: False,90.93,83.08,94.98,85.71,66.67,91.75
true_label: True,21.59,35.38,15.07,35.71,55.56,20.56
true_label: False,78.41,64.62,84.93,64.29,44.44,79.44
true_label: All,50.55,5.67,39.11,4.28,0.39,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

third_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.08,0.30,18.59,45.45,4.78,6.63
predicted_label: False,98.92,99.70,81.41,54.55,95.22,93.37
true_label: True,10.47,5.93,33.67,36.36,21.96,17.85
true_label: False,89.53,94.07,66.33,63.64,78.04,82.15
true_label: All,20.86,25.38,14.98,4.14,34.64,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

spec_instruc_gr_9       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.30      0.00    8.25
predicted_label: False          91.70    100.00   91.75
true_label: True                20.63      7.69   20.56
true_label: False               79.37     92.31   79.44
true_label: All                 99.43      0.57  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

status_gr_9,1,2,6,7,active,esc,excel,foster,inactive,open_enrollment,three_way,All
predicted_label: True,0.00,40.00,14.06,4.04,5.54,100.00,15.44,12.50,39.24,6.36,0.00,8.21
predicted_label: False,100.00,60.00,85.94,95.96,94.46,0.00,84.56,87.50,60.76,93.64,100.00,91.79
true_label: True,40.00,60.00,43.75,12.69,17.38,100.00,31.54,62.50,54.43,15.45,0.00,20.49
true_label: False,60.00,40.00,56.25,87.31,82.62,0.00,68.46,37.50,45.57,84.55,100.00,79.51
true_label: All,0.22,0.44,2.80,22.72,51.29,0.17,13.02,0.35,3.45,4.81,0.74,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

third_math_normalized,"(-3.2, -1.9]","(-1.9, -0.5]","(-0.5, 0.8]","(0.8, 2.08]","(2.08, 3.4]",All
predicted_label: True,45.00,16.04,3.00,0.00,0.00,6.63
predicted_label: False,55.00,83.96,97.00,100.00,100.00,93.37
true_label: True,37.50,30.50,16.56,5.54,8.51,17.85
true_label: False,62.50,69.50,83.44,94.46,91.49,82.15
true_label: All,3.01,23.95,47.74,21.76,3.54,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

gpa_district_gr_9,"(-2.6, -1.9]","(-1.9, -1.1]","(-1.1, -0.3]","(-0.3, 0.4]","(0.4, 1.2]",All
predicted_label: True,71.43,16.80,6.41,2.56,1.19,6.55
predicted_label: False,28.57,83.20,93.59,97.44,98.81,93.45
true_label: True,74.29,48.00,21.15,13.29,7.14,18.84
true_label: False,25.71,52.00,78.85,86.71,92.86,81.16
true_label: All,2.83,10.11,25.22,34.68,27.16,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

third_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.95,0.00,11.67,29.69,8.37,6.67
predicted_label: False,97.05,100.00,88.33,70.31,91.63,93.33
true_label: True,11.21,9.15,30.00,32.81,26.78,17.92
true_label: False,88.79,90.85,70.00,67.19,73.22,82.08
true_label: All,25.41,33.58,13.49,9.60,17.92,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

sixth_math_percentile,"(0.003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.14,3.47,1.33,0.84,0.00,5.77
predicted_label: False,74.86,96.53,98.67,99.16,100.00,94.23
true_label: True,36.49,22.40,16.89,9.19,6.16,17.82
true_label: False,63.51,77.60,83.11,90.81,93.84,82.18
true_label: All,18.57,18.83,22.59,18.02,21.99,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

disability_gr_9,autism,cognitive disability,deafness,deafness (hearing impairments),emotional disturbance,learning disability,multiple,none,orthopedic impairment,other major,other minor,speech and language impairment,traumatic brain injury,visual impairment,All
predicted_label: True,9.09,41.03,33.33,0.00,57.14,17.02,45.45,5.46,0.00,0.00,28.57,0.00,50.00,0.00,8.25
predicted_label: False,90.91,58.97,66.67,100.00,42.86,82.98,54.55,94.54,100.00,100.00,71.43,100.00,50.00,100.00,91.75
true_label: True,36.36,41.03,33.33,0.00,42.86,27.66,72.73,18.54,50.00,0.00,32.65,0.00,0.00,33.33,20.56
true_label: False,63.64,58.97,66.67,100.00,57.14,72.34,27.27,81.46,50.00,100.00,67.35,100.00,100.00,66.67,79.44
true_label: All,0.48,1.70,0.13,0.04,0.92,8.21,0.48,85.46,0.09,0.04,2.14,0.09,0.09,0.13,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

days_present_gr_9,"(-0.2, 40]","(40, 80]","(80, 120]","(120, 160]","(160, 200]",All
predicted_label: True,42.11,25.49,41.82,16.18,4.10,8.25
predicted_label: False,57.89,74.51,58.18,83.82,95.90,91.75
true_label: True,52.63,64.71,58.18,32.37,14.81,20.56
true_label: False,47.37,35.29,41.82,67.63,85.19,79.44
true_label: All,2.49,2.23,2.40,15.10,77.78,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_math_normalized,"(-2.6, -1.2]","(-1.2, 0.2]","(0.2, 1.6]","(1.6, 3]","(3, 4.4]",All
predicted_label: True,28.90,4.33,0.43,0.00,0.00,5.48
predicted_label: False,71.10,95.67,99.57,100.00,100.00,94.52
true_label: True,38.07,21.00,6.74,8.89,0.00,17.17
true_label: False,61.93,79.00,93.26,91.11,100.00,82.83
true_label: All,11.27,47.78,36.04,4.65,0.26,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.21,5.59,23.84,2.33,5.48
predicted_label: False,100.00,99.79,94.41,76.16,97.67,94.52
true_label: True,9.09,5.17,22.35,36.09,17.35,17.17
true_label: False,90.91,94.83,77.65,63.91,82.65,82.83
true_label: All,11.94,25.03,18.51,15.62,28.90,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.27,0.27,14.82,45.71,1.47,5.93
predicted_label: False,99.73,99.73,85.18,54.29,98.53,94.07
true_label: True,7.97,6.65,31.33,52.86,16.96,18.40
true_label: False,92.03,93.35,68.67,47.14,83.04,81.60
true_label: All,17.40,17.97,25.48,3.35,35.80,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_wkd_3_gr_9,"(-0.008, 1.6]","(1.6, 3.2]","(3.2, 4.8]","(4.8, 6.4]","(6.4, 8]",All
predicted_label: True,8.08,10.53,33.33,25.00,33.33,8.25
predicted_label: False,91.92,89.47,66.67,75.00,66.67,91.75
true_label: True,20.27,26.32,83.33,25.00,33.33,20.56
true_label: False,79.73,73.68,16.67,75.00,66.67,79.44
true_label: All,97.77,1.66,0.26,0.17,0.13,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

days_absent_gr_9,"(-0.1, 22]","(22, 44]","(44, 66]","(66, 88]","(88, 110]",All
predicted_label: True,6.90,27.13,30.77,100.00,50.00,8.25
predicted_label: False,93.10,72.87,69.23,0.00,50.00,91.75
true_label: True,18.27,54.26,53.85,100.00,50.00,20.56
true_label: False,81.73,45.74,46.15,0.00,50.00,79.44
true_label: All,93.67,5.63,0.57,0.04,0.09,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_wkd_1_gr_9        (-0.005, 1]  (1, 2]  (2, 3]  (3, 4]  (4, 5]     All
predicted_label: True          8.08   17.65    9.09   16.67    0.00    8.25
predicted_label: False        91.92   82.35   90.91   83.33  100.00   91.75
true_label: True              20.23   35.29   36.36   33.33    0.00   20.56
true_label: False             79.77   64.71   63.64   66.67  100.00   79.44
true_label: All               97.73    1.48    0.48    0.26    0.04  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

avg_address_change_to_gr_9,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,6.73,33.33,28.57,0.00,37.50,7.58
predicted_label: False,93.27,66.67,71.43,100.00,62.50,92.42
true_label: True,17.62,53.85,42.86,0.00,25.00,18.59
true_label: False,82.38,46.15,57.14,100.00,75.00,81.41
true_label: All,96.62,1.91,1.03,0.05,0.39,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

num_future_prep_classes_gr_9,"(-0.002, 0.5]","(0.5, 1]","(1, 1.5]","(1.5, 2]",All
predicted_label: True,6.54,5.00,NaN,5.36,6.34
predicted_label: False,93.46,95.00,NaN,94.64,93.66
true_label: True,18.08,15.00,NaN,19.64,18.02
true_label: False,81.92,85.00,NaN,80.36,81.98
true_label: All,84.91,6.29,0.0,8.80,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

n_cities_to_gr_9,"(-0.003, 0.8]","(0.8, 1.5]","(1.5, 2.2]","(2.2, 3]",All
predicted_label: True,13.77,6.52,22.41,40.00,8.25
predicted_label: False,86.23,93.48,77.59,60.00,91.75
true_label: True,36.84,17.21,40.52,30.00,20.56
true_label: False,63.16,82.79,59.48,70.00,79.44
true_label: All,10.78,83.72,5.06,0.44,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

school_program_gr_9     (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.55      0.00    8.25
predicted_label: False          91.45    100.00   91.75
true_label: True                21.08      6.25   20.56
true_label: False               78.92     93.75   79.44
true_label: All                 96.51      3.49  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

avg_city_change_to_gr_9,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,7.14,33.33,23.08,0.00,33.33,7.58
predicted_label: False,92.86,66.67,76.92,100.00,66.67,92.42
true_label: True,18.02,50.00,46.15,0.00,33.33,18.59
true_label: False,81.98,50.00,53.85,100.00,66.67,81.41
true_label: All,97.99,1.17,0.64,0.05,0.15,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.39,0.00,20.41,42.70,1.54,5.93
predicted_label: False,99.61,100.00,79.59,57.30,98.46,94.07
true_label: True,8.45,11.05,31.66,48.31,17.64,18.40
true_label: False,91.55,88.95,68.34,51.69,82.36,81.60
true_label: All,24.33,8.65,16.16,4.25,46.61,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_unexcused_gr_9,"(-0.05, 10.1]","(10.1, 20.2]","(20.2, 30.3]","(30.3, 40.4]","(40.4, 50.5]",All
predicted_label: True,7.99,19.35,33.33,NaN,100.00,8.25
predicted_label: False,92.01,80.65,66.67,NaN,0.00,91.75
true_label: True,19.80,58.06,100.00,NaN,100.00,20.56
true_label: False,80.20,41.94,0.00,NaN,0.00,79.44
true_label: All,98.34,1.35,0.26,0.0,0.04,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

eighth_science_percentile,"(0.0001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,24.37,4.57,1.21,0.84,0.23,5.93
predicted_label: False,75.63,95.43,98.79,99.16,99.77,94.07
true_label: True,38.69,22.58,15.74,11.55,6.24,18.40
true_label: False,61.31,77.42,84.26,88.45,93.76,81.60
true_label: All,19.02,17.78,19.74,22.75,20.70,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

gpa_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,67.74,19.85,5.33,2.72,1.50,6.55
predicted_label: False,32.26,80.15,94.67,97.28,98.50,93.45
true_label: True,77.42,47.33,22.19,12.13,6.91,18.84
true_label: False,22.58,52.67,77.81,87.87,93.09,81.16
true_label: All,2.51,10.59,27.32,32.66,26.92,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fourth_read_percentile,"(-1, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,19.89,4.86,2.59,0.77,0.00,5.47
predicted_label: False,80.11,95.14,97.41,99.23,100.00,94.53
true_label: True,32.60,20.54,17.88,8.51,7.54,17.34
true_label: False,67.40,79.46,82.12,91.49,92.46,82.66
true_label: All,19.02,19.44,22.33,20.39,18.81,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

district_gr_9,Coshocton,Crooksville,East Muskingum,Franklin,Logan_Hocking,Maysville,New Lexington City SD,Northern Local SD,Ridgewood,Riverview,TriValley,West Muskingum,Zanesville,All
predicted_label: True,11.11,6.86,6.10,5.56,4.41,6.29,10.37,4.66,6.59,13.07,5.65,6.35,17.30,8.25
predicted_label: False,88.89,93.14,93.90,94.44,95.59,93.71,89.63,95.34,93.41,86.93,94.35,93.65,82.70,91.75
true_label: True,30.37,20.59,17.68,15.00,14.58,21.14,27.41,12.95,21.98,24.43,16.09,8.73,34.60,20.56
true_label: False,69.63,79.41,82.32,85.00,85.42,78.86,72.59,87.05,78.02,75.57,83.91,91.27,65.40,79.44
true_label: All,5.89,4.45,7.16,7.86,12.88,7.64,5.89,8.42,3.97,7.68,10.04,5.50,12.61,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

vocational_gr_9         (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.15     18.18    8.25
predicted_label: False          91.85     81.82   91.75
true_label: True                20.36     40.91   20.56
true_label: False               79.64     59.09   79.44
true_label: All                 99.04      0.96  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

n_addresses_to_gr_9,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,13.77,6.05,21.79,44.44,0.00,8.25
predicted_label: False,86.23,93.95,78.21,55.56,100.00,91.75
true_label: True,36.84,16.70,38.46,44.44,0.00,20.56
true_label: False,63.16,83.30,61.54,55.56,100.00,79.44
true_label: All,10.78,81.54,6.81,0.79,0.09,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

placement_gr_9          (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            8.05     31.58    8.25
predicted_label: False          91.95     68.42   91.75
true_label: True                20.42     36.84   20.56
true_label: False               79.58     63.16   79.44
true_label: All                 99.17      0.83  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

gender                      F      M     All
predicted_label: True    6.85   9.50    8.25
predicted_label: False  93.15  90.50   91.75
true_label: True        19.24  21.74   20.56
true_label: False       80.76  78.26   79.44
true_label: All         47.18  52.82  100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

tardy_wkd_5_gr_9,"(-0.008, 1.6]","(1.6, 3.2]","(3.2, 4.8]","(4.8, 6.4]","(6.4, 8]",All
predicted_label: True,7.87,21.43,20.00,40.00,33.33,8.25
predicted_label: False,92.13,78.57,80.00,60.00,66.67,91.75
true_label: True,20.08,42.86,0.00,60.00,33.33,20.56
true_label: False,79.92,57.14,100.00,40.00,66.67,79.44
true_label: All,97.60,1.83,0.22,0.22,0.13,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

absence_wkd_5_gr_9,"(-0.01, 2.4]","(2.4, 4.8]","(4.8, 7.2]","(7.2, 9.6]","(9.6, 12]",All
predicted_label: True,7.52,15.53,23.08,60.00,100.00,8.25
predicted_label: False,92.48,84.47,76.92,40.00,0.00,91.75
true_label: True,19.95,25.24,34.62,80.00,100.00,20.56
true_label: False,80.05,74.76,65.38,20.00,0.00,79.44
true_label: All,94.06,4.50,1.13,0.22,0.09,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

sixth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.00,19.23,35.62,3.54,5.76
predicted_label: False,100.00,100.00,80.77,64.38,96.46,94.24
true_label: True,7.80,6.25,33.57,42.47,18.75,17.84
true_label: False,92.20,93.75,66.43,57.53,81.25,82.16
true_label: All,21.85,12.03,14.34,3.66,48.12,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

oss_gr_9,"(-0.003, 0.8]","(0.8, 1.5]","(1.5, 2.2]","(2.2, 3]",All
predicted_label: True,7.36,23.26,42.86,50.00,8.25
predicted_label: False,92.64,76.74,57.14,50.00,91.75
true_label: True,18.98,50.00,64.29,100.00,20.56
true_label: False,81.02,50.00,35.71,0.00,79.44
true_label: All,95.46,3.75,0.61,0.17,100.00

08_09_2016_grade_10_param_set_0_RF_ht_8680 RF not_on_time val

fifth_read_normalized,"(-3.7, -2.3]","(-2.3, -0.9]","(-0.9, 0.5]","(0.5, 1.8]","(1.8, 3.2]",All
predicted_label: True,46.88,17.85,3.38,0.17,0.00,5.48
predicted_label: False,53.12,82.15,96.62,99.83,100.00,94.52
true_label: True,28.12,33.23,17.30,8.49,5.00,17.22
true_label: False,71.88,66.77,82.70,91.51,95.00,82.78
true_label: All,1.65,16.80,49.02,30.46,2.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_unexcused_gr_7,"(-0.02, 4.5]","(4.5, 9]","(9, 13.5]","(13.5, 18]","(18, 22.5]",All
predicted_label: True,10.08,7.84,25.00,25.00,0.00,10.19
predicted_label: False,89.92,92.16,75.00,75.00,100.00,89.81
true_label: True,20.00,33.33,75.00,50.00,100.00,21.31
true_label: False,80.00,66.67,25.00,50.00,0.00,78.69
true_label: All,94.80,3.64,1.14,0.29,0.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

gpa_district_gr_6,"(-2.6, -1.8]","(-1.8, -1]","(-1, -0.1]","(-0.1, 0.7]","(0.7, 1.5]",All
predicted_label: True,62.50,40.91,7.02,1.75,2.65,7.14
predicted_label: False,37.50,59.09,92.98,98.25,97.35,92.86
true_label: True,62.50,56.82,22.22,12.28,13.91,19.44
true_label: False,37.50,43.18,77.78,87.72,86.09,80.56
true_label: All,1.33,7.31,28.41,37.87,25.08,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

seventh_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.61,0.43,26.06,33.33,6.92,7.87
predicted_label: False,98.39,99.57,73.94,66.67,93.08,92.13
true_label: True,12.33,8.15,36.97,38.33,21.18,19.14
true_label: False,87.67,91.85,63.03,61.67,78.82,80.86
true_label: All,28.21,17.62,12.48,4.54,37.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.47,0.00,14.01,21.74,4.29,6.83
predicted_label: False,99.53,100.00,85.99,78.26,95.71,93.17
true_label: True,10.70,6.10,29.94,30.43,15.71,17.91
true_label: False,89.30,93.90,70.06,69.57,84.29,82.09
true_label: All,17.27,6.59,12.61,12.93,50.60,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_gr_7,"(-0.09, 17.2]","(17.2, 34.4]","(34.4, 51.6]","(51.6, 68.8]","(68.8, 86]",All
predicted_label: True,9.00,21.55,33.33,0.00,100.00,10.19
predicted_label: False,91.00,78.45,66.67,100.00,0.00,89.81
true_label: True,18.78,46.55,66.67,0.00,100.00,21.31
true_label: False,81.22,53.45,33.33,100.00,0.00,78.69
true_label: All,91.09,8.27,0.43,0.14,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

academic_inv_gr_6       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           11.03      7.86   10.19
predicted_label: False          88.97     92.14   89.81
true_label: True                20.70     23.04   21.31
true_label: False               79.30     76.96   78.69
true_label: All                 73.70     26.30  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

disability_gr_7,autism,cognitive disability,deafness,emotional disturbance,learning disability,multiple,none,orthopedic impairment,other major,other minor,speech and language impairment,visual impairment,All
predicted_label: True,14.29,9.09,0.00,45.45,11.11,33.33,9.32,0.00,0.00,31.82,0.00,33.33,10.19
predicted_label: False,85.71,90.91,100.00,54.55,88.89,66.67,90.68,100.00,100.00,68.18,100.00,66.67,89.81
true_label: True,57.14,50.00,100.00,63.64,23.93,33.33,19.13,100.00,0.00,59.09,0.00,33.33,21.31
true_label: False,42.86,50.00,0.00,36.36,76.07,66.67,80.87,0.00,100.00,40.91,100.00,66.67,78.69
true_label: All,0.50,1.57,0.07,0.78,8.34,0.21,86.46,0.07,0.07,1.57,0.14,0.21,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_science_normalized,"(-2.6, -1.2]","(-1.2, 0.1]","(0.1, 1.5]","(1.5, 2.8]","(2.8, 4.1]",All
predicted_label: True,42.0,11.93,1.86,1.19,0.00,9.02
predicted_label: False,58.0,88.07,98.14,98.81,100.00,90.98
true_label: True,46.0,24.91,11.19,11.90,12.50,19.60
true_label: False,54.0,75.09,88.81,88.10,87.50,80.40
true_label: All,7.4,42.16,43.64,6.21,0.59,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

gpa_gr_7,"(0.5, 1.2]","(1.2, 1.9]","(1.9, 2.6]","(2.6, 3.3]","(3.3, 4]",All
predicted_label: True,91.30,28.95,3.87,0.71,0.28,5.75
predicted_label: False,8.70,71.05,96.13,99.29,99.72,94.25
true_label: True,82.61,43.42,33.15,12.72,9.19,19.63
true_label: False,17.39,56.58,66.85,87.28,90.81,80.37
true_label: All,2.49,8.24,19.63,30.69,38.94,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fourth_math_normalized,"(-3.2, -1.6]","(-1.6, -0.04]","(-0.04, 1.5]","(1.5, 3.1]","(3.1, 4.7]",All
predicted_label: True,39.47,12.73,1.24,0.00,0.00,7.40
predicted_label: False,60.53,87.27,98.76,100.00,100.00,92.60
true_label: True,42.11,26.55,10.99,7.95,0.00,18.57
true_label: False,57.89,73.45,89.01,92.05,100.00,81.43
true_label: All,3.05,44.21,45.34,7.07,0.32,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_science_percentile,"(0.002, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,23.12,11.07,2.51,1.55,0.00,6.83
predicted_label: False,76.88,88.93,97.49,98.45,100.00,93.17
true_label: True,31.66,25.95,18.41,11.24,6.62,17.91
true_label: False,68.34,74.05,81.59,88.76,93.38,82.09
true_label: All,15.98,21.04,19.20,20.72,23.05,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

district_transition_in_gr_7  False   True     All
predicted_label: True         5.52  21.43    6.13
predicted_label: False       94.48  78.57   93.87
true_label: True             19.51  38.10   20.22
true_label: False            80.49  61.90   79.78
true_label: All              96.16   3.84  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_humanities_classes_gr_6,"(-0.006, 1.2]","(1.2, 2.4]","(2.4, 3.6]","(3.6, 4.8]","(4.8, 6]",All
predicted_label: True,9.58,2.47,7.58,28.12,100.00,8.89
predicted_label: False,90.42,97.53,92.42,71.88,0.00,91.11
true_label: True,21.87,13.58,18.96,43.75,100.00,20.96
true_label: False,78.13,86.42,81.04,56.25,0.00,79.04
true_label: All,68.60,12.53,16.32,2.47,0.08,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_humanities_classes_gr_7,"(-0.007, 1.4]","(1.4, 2.8]","(2.8, 4.2]","(4.2, 5.6]","(5.6, 7]",All
predicted_label: True,11.77,5.04,6.23,0.00,50.00,8.89
predicted_label: False,88.23,94.96,93.77,100.00,50.00,91.11
true_label: True,22.92,17.99,19.07,0.00,100.00,20.96
true_label: False,77.08,82.01,80.93,100.00,0.00,79.04
true_label: All,49.27,10.75,39.75,0.08,0.15,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

health_gpa_gr_6,"(2, 2.4]","(2.4, 2.8]","(2.8, 3.2]","(3.2, 3.6]","(3.6, 4]",All
predicted_label: True,42.86,27.27,3.45,0.00,1.97,4.22
predicted_label: False,57.14,72.73,96.55,100.00,98.03,95.78
true_label: True,71.43,36.36,24.14,10.53,7.24,13.08
true_label: False,28.57,63.64,75.86,89.47,92.76,86.92
true_label: All,2.95,4.64,12.24,16.03,64.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

stem_gpa_gr_6,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,45.45,36.59,10.92,1.64,1.55,7.13
predicted_label: False,54.55,63.41,89.08,98.36,98.45,92.87
true_label: True,45.45,43.90,30.25,10.93,11.92,18.65
true_label: False,54.55,56.10,69.75,89.07,88.08,81.35
true_label: All,2.01,7.50,21.76,33.46,35.28,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_gr_7,"(-0.02, 4.6]","(4.6, 9.2]","(9.2, 13.8]","(13.8, 18.4]","(18.4, 23]",All
predicted_label: True,9.86,20.41,0.00,0.00,33.33,10.19
predicted_label: False,90.14,79.59,100.00,100.00,66.67,89.81
true_label: True,20.46,40.82,22.22,33.33,66.67,21.31
true_label: False,79.54,59.18,77.78,66.67,33.33,78.69
true_label: All,95.44,3.49,0.64,0.21,0.21,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_socstudies_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.47,0.00,16.67,38.10,4.79,6.84
predicted_label: False,98.53,100.00,83.33,61.90,95.21,93.16
true_label: True,11.44,6.63,31.82,28.57,16.34,17.78
true_label: False,88.56,93.37,68.18,71.43,83.66,82.22
true_label: All,27.43,15.77,26.55,1.69,28.56,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

n_records_to_gr_7,"(1, 2.2]","(2.2, 3.4]","(3.4, 4.6]","(4.6, 5.8]","(5.8, 7]",All
predicted_label: True,18.63,7.50,4.98,8.62,20.00,6.89
predicted_label: False,81.37,92.50,95.02,91.38,80.00,93.11
true_label: True,33.33,24.17,17.13,24.14,66.67,20.39
true_label: False,66.67,75.83,82.87,75.86,33.33,79.61
true_label: All,9.12,10.73,73.61,5.19,1.34,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

n_districts_to_gr_7,"(1, 1.6]","(1.6, 2.2]","(2.2, 2.8]","(2.8, 3.4]","(3.4, 4]",All
predicted_label: True,5.87,16.35,NaN,12.50,0.00,6.89
predicted_label: False,94.13,83.65,NaN,87.50,100.00,93.11
true_label: True,19.10,28.85,NaN,75.00,0.00,20.39
true_label: False,80.90,71.15,NaN,25.00,100.00,79.61
true_label: All,89.89,9.30,0.0,0.72,0.09,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.65,0.00,13.57,27.27,2.55,6.84
predicted_label: False,99.35,100.00,86.43,72.73,97.45,93.16
true_label: True,11.76,5.70,24.89,33.33,20.96,17.86
true_label: False,88.24,94.30,75.11,66.67,79.04,82.14
true_label: All,12.31,28.24,17.78,13.27,28.40,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

percent_passed_pf_classes_gr_7,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,33.33,NaN,0.00,0.00,10.58,10.65
predicted_label: False,66.67,NaN,100.00,100.00,89.42,89.35
true_label: True,100.00,NaN,100.00,0.00,21.15,23.15
true_label: False,0.00,NaN,0.00,100.00,78.85,76.85
true_label: All,1.39,0.0,1.39,0.93,96.30,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

gpa_district_gr_7,"(-2.3, -1.5]","(-1.5, -0.8]","(-0.8, -0.1]","(-0.1, 0.6]","(0.6, 1.3]",All
predicted_label: True,91.30,28.24,2.63,0.86,0.00,5.75
predicted_label: False,8.70,71.76,97.37,99.14,100.00,94.25
true_label: True,78.26,47.06,31.05,12.36,7.61,19.63
true_label: False,21.74,52.94,68.95,87.64,92.39,80.37
true_label: All,2.49,9.22,20.61,37.74,29.93,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

disadvantagement_gr_7   economic   none     All
predicted_label: True      10.04  10.27   10.19
predicted_label: False     89.96  89.73   89.81
true_label: True           29.29  17.19   21.31
true_label: False          70.71  82.81   78.69
true_label: All            34.07  65.93  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

third_read_normalized,"(-3, -1.7]","(-1.7, -0.4]","(-0.4, 0.9]","(0.9, 2.2]","(2.2, 3.5]",All
predicted_label: True,15.38,12.19,1.75,0.00,0.00,5.01
predicted_label: False,84.62,87.81,98.25,100.00,100.00,94.99
true_label: True,26.92,29.03,13.04,7.64,14.29,17.40
true_label: False,73.08,70.97,86.96,92.36,85.71,82.60
true_label: All,5.11,27.43,50.54,14.16,2.75,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

mid_year_withdraw_gr_7  False    True     All
predicted_label: True   35.71    0.00   17.24
predicted_label: False  64.29  100.00   82.76
true_label: True        42.86   33.33   37.93
true_label: False       57.14   66.67   62.07
true_label: All         48.28   51.72  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

spec_instruc_gr_7       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           10.75      0.00   10.19
predicted_label: False          89.25    100.00   89.81
true_label: True                22.03      8.22   21.31
true_label: False               77.97     91.78   78.69
true_label: All                 94.80      5.20  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

medical_gr_7,"(-0.02, 3.6]","(3.6, 7.2]","(7.2, 10.8]","(10.8, 14.4]","(14.4, 18]",All
predicted_label: True,10.33,3.33,6.67,100.00,0.00,10.19
predicted_label: False,89.67,96.67,93.33,0.00,100.00,89.81
true_label: True,20.96,30.00,26.67,100.00,50.00,21.31
true_label: False,79.04,70.00,73.33,0.00,50.00,78.69
true_label: All,96.58,2.14,1.07,0.07,0.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_language_classes_gr_6  False   True     All
predicted_label: True       8.89  25.45   10.19
predicted_label: False     91.11  74.55   89.81
true_label: True           20.96  25.45   21.31
true_label: False          79.04  74.55   78.69
true_label: All            92.16   7.84  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

art_gpa_gr_6,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,33.33,10.00,15.00,5.33,1.61,4.88
predicted_label: False,66.67,90.00,85.00,94.67,98.39,95.12
true_label: True,33.33,50.00,41.67,11.33,10.89,15.92
true_label: False,66.67,50.00,58.33,88.67,89.11,84.08
true_label: All,0.64,2.12,12.74,31.85,52.65,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

avg_city_change_to_gr_7,"(-0.0007, 0.1]","(0.1, 0.3]","(0.3, 0.4]","(0.4, 0.5]","(0.5, 0.7]",All
predicted_label: True,6.03,10.00,35.00,50.00,50.00,6.89
predicted_label: False,93.97,90.00,65.00,50.00,50.00,93.11
true_label: True,19.35,30.00,45.00,50.00,50.00,20.39
true_label: False,80.65,70.00,55.00,50.00,50.00,79.61
true_label: All,93.38,4.47,1.79,0.18,0.18,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_wkd_2_gr_7,"(-0.02, 4.2]","(4.2, 8.4]","(8.4, 12.6]","(12.6, 16.8]","(16.8, 21]",All
predicted_label: True,9.47,26.53,0.00,100.00,100.00,10.19
predicted_label: False,90.53,73.47,100.00,0.00,0.00,89.81
true_label: True,20.13,51.02,0.00,100.00,100.00,21.31
true_label: False,79.87,48.98,100.00,0.00,0.00,78.69
true_label: All,96.29,3.49,0.07,0.07,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_pf_classes_gr_6,"(-0.03, 6.2]","(6.2, 12.4]","(12.4, 18.6]","(18.6, 24.8]","(24.8, 31]",All
predicted_label: True,8.52,6.52,13.64,21.43,35.71,9.48
predicted_label: False,91.48,93.48,86.36,78.57,64.29,90.52
true_label: True,18.66,17.39,27.27,39.29,57.14,20.50
true_label: False,81.34,82.61,72.73,60.71,42.86,79.50
true_label: All,68.76,19.25,6.14,3.91,1.95,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

street_transition_in_gr_6  False   True     All
predicted_label: True       5.38  33.33    5.94
predicted_label: False     94.62  66.67   94.06
true_label: True           18.69  52.38   19.37
true_label: False          81.31  47.62   80.63
true_label: All            97.99   2.01  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

humanities_gpa_gr_6,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,66.67,32.08,6.61,1.69,1.76,7.08
predicted_label: False,33.33,67.92,93.39,98.31,98.24,92.92
true_label: True,60.00,45.28,21.49,13.56,11.89,18.55
true_label: False,40.00,54.72,78.51,86.44,88.11,81.45
true_label: All,2.53,8.94,20.40,29.85,38.28,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_wkd_2_gr_7        (-0.005, 1]  (1, 2]  (2, 3]  (3, 4]  (4, 5]     All
predicted_label: True         10.20   10.53    0.00   20.00    0.00   10.19
predicted_label: False        89.80   89.47  100.00   80.00  100.00   89.81
true_label: True              20.98   36.84   20.00   60.00    0.00   21.31
true_label: False             79.02   63.16   80.00   40.00  100.00   78.69
true_label: All               97.86    1.35    0.36    0.36    0.07  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_math_percentile,"(0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,28.50,8.68,3.17,0.41,0.00,6.84
predicted_label: False,71.50,91.32,96.83,99.59,100.00,93.16
true_label: True,33.68,23.97,20.63,11.84,5.79,17.86
true_label: False,66.32,76.03,79.37,88.16,94.21,82.14
true_label: All,15.53,19.47,20.27,19.71,25.02,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

status_gr_7,active,esc,excel,foster,inactive,open_enrollment,All
predicted_label: True,5.38,0.00,13.04,20.00,21.05,5.08,6.13
predicted_label: False,94.62,100.00,86.96,80.00,78.95,94.92,93.87
true_label: True,18.92,100.00,30.43,80.00,36.84,20.34,20.22
true_label: False,81.08,0.00,69.57,20.00,63.16,79.66,79.78
true_label: All,88.47,0.09,2.10,0.46,3.48,5.40,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_wkd_3_gr_6      (-0.002, 1]  (1, 2]     All
predicted_label: True         10.20    0.00   10.19
predicted_label: False        89.80  100.00   89.81
true_label: True              21.26  100.00   21.31
true_label: False             78.74    0.00   78.69
true_label: All               99.93    0.07  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_art_classes_gr_6,"(-0.003, 0.6]","(0.6, 1.2]","(1.2, 1.8]","(1.8, 2.4]","(2.4, 3]",All
predicted_label: True,11.24,5.58,NaN,6.55,1.10,8.89
predicted_label: False,88.76,94.42,NaN,93.45,98.90,91.11
true_label: True,24.09,16.31,NaN,20.24,6.59,20.96
true_label: False,75.91,83.69,NaN,79.76,93.41,79.04
true_label: All,61.95,18.02,0.0,12.99,7.04,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

seventh_read_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,28.00,10.43,3.88,1.10,0.70,7.87
predicted_label: False,72.00,89.57,96.12,98.90,99.30,92.13
true_label: True,37.33,26.52,15.53,12.87,8.74,19.14
true_label: False,62.67,73.48,84.47,87.13,91.26,80.86
true_label: All,17.02,17.40,23.37,20.57,21.63,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_future_prep_classes_gr_6  (-0.001, 0.3]  (0.3, 0.7]  (0.7, 1]     All
predicted_label: True                  8.77         NaN     11.29    8.89
predicted_label: False                91.23         NaN     88.71   91.11
true_label: True                      20.88         NaN     22.58   20.96
true_label: False                     79.12         NaN     77.42   79.04
true_label: All                       95.20         0.0      4.80  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

third_read_percentile,"(0.0004, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,16.95,7.29,2.22,1.02,0.00,5.01
predicted_label: False,83.05,92.71,97.78,98.98,100.00,94.99
true_label: True,32.20,25.52,13.33,11.17,8.41,17.40
true_label: False,67.80,74.48,86.67,88.83,91.59,82.60
true_label: All,17.40,18.88,22.12,19.37,22.22,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_wkd_4_gr_6      (-0.003, 1.5]  (1.5, 3]     All
predicted_label: True           10.20      0.00   10.19
predicted_label: False          89.80    100.00   89.81
true_label: True                21.26    100.00   21.31
true_label: False               78.74      0.00   78.69
true_label: All                 99.93      0.07  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_science_normalized,"(-2.8, -1.6]","(-1.6, -0.4]","(-0.4, 0.8]","(0.8, 2.03]","(2.03, 3.2]",All
predicted_label: True,35.71,14.08,2.74,0.00,0.00,6.83
predicted_label: False,64.29,85.92,97.26,100.00,100.00,93.17
true_label: True,32.14,27.89,15.90,5.91,12.12,17.91
true_label: False,67.86,72.11,84.10,94.09,87.88,82.09
true_label: All,4.50,28.51,43.94,20.40,2.65,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.81,1.31,29.27,59.52,9.55,9.09
predicted_label: False,97.19,98.69,70.73,40.48,90.45,90.91
true_label: True,13.04,10.16,40.65,45.24,23.17,19.59
true_label: False,86.96,89.84,59.35,54.76,76.83,80.41
true_label: All,28.90,22.54,9.09,3.10,36.36,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fourth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.70,0.38,19.21,28.95,8.12,7.40
predicted_label: False,99.30,99.62,80.79,71.05,91.88,92.60
true_label: True,11.27,7.92,33.11,32.89,22.01,18.57
true_label: False,88.73,92.08,66.89,67.11,77.99,81.43
true_label: All,22.83,21.30,12.14,6.11,37.62,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

special_ed_gr_6             0    100      50     All
predicted_label: True    9.88  80.00  100.00   10.19
predicted_label: False  90.12  20.00    0.00   89.81
true_label: True        21.05  80.00  100.00   21.31
true_label: False       78.95  20.00    0.00   78.69
true_label: All         99.57   0.36    0.07  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fourth_read_normalized,"(-3.1, -1.8]","(-1.8, -0.6]","(-0.6, 0.7]","(0.7, 2]","(2, 3.2]",All
predicted_label: True,48.48,14.62,5.65,0.71,0.00,7.40
predicted_label: False,51.52,85.38,94.35,99.29,100.00,92.60
true_label: True,33.33,31.62,16.95,9.29,13.04,18.57
true_label: False,66.67,68.38,83.05,90.71,86.96,81.43
true_label: All,2.65,20.34,52.65,22.51,1.85,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_wkd_3_gr_7,"(-0.006, 1.2]","(1.2, 2.4]","(2.4, 3.6]","(3.6, 4.8]","(4.8, 6]",All
predicted_label: True,10.04,19.05,18.18,0.00,0.00,10.19
predicted_label: False,89.96,80.95,81.82,100.00,100.00,89.81
true_label: True,21.03,28.57,36.36,33.33,33.33,21.31
true_label: False,78.97,71.43,63.64,66.67,66.67,78.69
true_label: All,97.29,1.50,0.78,0.21,0.21,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_wkd_4_gr_7,"(-0.02, 3.4]","(3.4, 6.8]","(6.8, 10.2]","(10.2, 13.6]","(13.6, 17]",All
predicted_label: True,9.40,26.42,28.57,0.00,100.00,10.19
predicted_label: False,90.60,73.58,71.43,100.00,0.00,89.81
true_label: True,20.21,47.17,28.57,0.00,100.00,21.31
true_label: False,79.79,52.83,71.43,100.00,0.00,78.69
true_label: All,95.58,3.78,0.50,0.07,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_consec_gr_6     (-0.004, 2]  (2, 4]     All
predicted_label: True         10.20    0.00   10.19
predicted_label: False        89.80  100.00   89.81
true_label: True              21.26  100.00   21.31
true_label: False             78.74    0.00   78.69
true_label: All               99.93    0.07  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_stem_classes_gr_7,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,16.94,1.32,5.19,23.53,100.00,8.89
predicted_label: False,83.06,98.68,94.81,76.47,0.00,91.11
true_label: True,24.46,13.16,19.26,38.24,100.00,20.96
true_label: False,75.54,86.84,80.74,61.76,0.00,79.04
true_label: All,28.77,5.88,62.65,2.63,0.08,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_wkd_3_gr_7,"(-0.02, 3.2]","(3.2, 6.4]","(6.4, 9.6]","(9.6, 12.8]","(12.8, 16]",All
predicted_label: True,9.28,21.54,50.00,33.33,100.00,10.19
predicted_label: False,90.72,78.46,50.00,66.67,0.00,89.81
true_label: True,19.76,44.62,75.00,33.33,100.00,21.31
true_label: False,80.24,55.38,25.00,66.67,0.00,78.69
true_label: All,94.51,4.63,0.57,0.21,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

stem_gpa_gr_7,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,58.62,21.43,4.82,1.37,0.60,5.65
predicted_label: False,41.38,78.57,95.18,98.63,99.40,94.35
true_label: True,72.41,42.86,23.49,15.75,9.52,19.54
true_label: False,27.59,57.14,76.51,84.25,90.48,80.46
true_label: All,3.15,10.64,18.02,31.70,36.48,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

ethnicity                   A      B      H      M      W     All
predicted_label: True   14.29  26.32  60.00  17.24   9.65   10.24
predicted_label: False  85.71  73.68  40.00  82.76  90.35   89.76
true_label: True        28.57  31.58  60.00  20.69  20.94   21.26
true_label: False       71.43  68.42  40.00  79.31  79.06   78.74
true_label: All          0.50   1.36   0.36   2.08  95.71  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

avg_address_change_to_gr_7,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,5.93,16.88,16.67,20.00,50.00,6.89
predicted_label: False,94.07,83.12,83.33,80.00,50.00,93.11
true_label: True,19.16,29.87,66.67,60.00,50.00,20.39
true_label: False,80.84,70.13,33.33,40.00,50.00,79.61
true_label: All,91.95,6.89,0.54,0.45,0.18,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

discipline_incidents_gr_7,"(-0.01, 2.8]","(2.8, 5.6]","(5.6, 8.4]","(8.4, 11.2]","(11.2, 14]",All
predicted_label: True,9.73,16.13,13.33,42.86,0.00,10.19
predicted_label: False,90.27,83.87,86.67,57.14,100.00,89.81
true_label: True,19.98,40.32,33.33,57.14,66.67,21.31
true_label: False,80.02,59.68,66.67,42.86,33.33,78.69
true_label: All,93.80,4.42,1.07,0.50,0.21,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_read_normalized,"(-3.1, -1.8]","(-1.8, -0.5]","(-0.5, 0.9]","(0.9, 2.2]","(2.2, 3.5]",All
predicted_label: True,59.52,18.58,4.65,1.53,0.00,9.09
predicted_label: False,40.48,81.42,95.35,98.47,100.00,90.91
true_label: True,45.24,34.51,14.69,11.45,2.33,19.59
true_label: False,54.76,65.49,85.31,88.55,97.67,80.41
true_label: All,3.10,25.06,49.30,19.36,3.18,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_socstudies_percentile,"(0.0007, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,23.94,7.26,4.49,1.63,0.34,6.84
predicted_label: False,76.06,92.74,95.51,98.37,99.66,93.16
true_label: True,36.15,23.39,13.88,11.38,8.25,17.78
true_label: False,63.85,76.61,86.12,88.62,91.75,82.22
true_label: All,17.14,19.95,19.71,19.79,23.41,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_consec_gr_7,"(-0.008, 1.6]","(1.6, 3.2]","(3.2, 4.8]","(4.8, 6.4]","(6.4, 8]",All
predicted_label: True,10.03,12.90,33.33,50.00,0.00,10.19
predicted_label: False,89.97,87.10,66.67,50.00,100.00,89.81
true_label: True,20.79,38.71,33.33,50.00,100.00,21.31
true_label: False,79.21,61.29,66.67,50.00,0.00,78.69
true_label: All,97.36,2.21,0.21,0.14,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

spec_instruc_gr_6       (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           10.97      0.00   10.19
predicted_label: False          89.03    100.00   89.81
true_label: True                22.49      6.00   21.31
true_label: False               77.51     94.00   78.69
true_label: All                 92.87      7.13  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_art_classes_gr_7    (-0.005, 1]  (1, 2]  (2, 3]  (3, 4]  (4, 5]     All
predicted_label: True         11.67    3.29    5.48    0.00    0.00    8.89
predicted_label: False        88.33   96.71   94.52  100.00  100.00   91.11
true_label: True              23.21   21.05   15.48   18.75    0.00   20.96
true_label: False             76.79   78.95   84.52   81.25  100.00   79.04
true_label: All               61.64   11.76   23.98    2.47    0.15  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

placement_gr_7          (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True            9.79     16.47   10.19
predicted_label: False          90.21     83.53   89.81
true_label: True                20.56     32.94   21.31
true_label: False               79.44     67.06   78.69
true_label: All                 93.94      6.06  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_pf_classes_gr_7     (-0.01, 2]  (2, 4]  (4, 6]  (6, 8]  (8, 10]     All
predicted_label: True         8.89    2.56   37.50   14.71    16.67    9.48
predicted_label: False       91.11   97.44   62.50   85.29    83.33   90.52
true_label: True             19.63   10.26   75.00   26.47    33.33   20.50
true_label: False            80.37   89.74   25.00   73.53    66.67   79.50
true_label: All              83.12    5.44    1.12    9.48     0.84  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

district_transition_in_gr_6  False   True     All
predicted_label: True         5.41  26.92    5.94
predicted_label: False       94.59  73.08   94.06
true_label: True             18.78  42.31   19.37
true_label: False            81.22  57.69   80.63
true_label: All              97.51   2.49  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

avg_city_change_to_gr_6,"(-0.0005, 0.1]","(0.1, 0.2]","(0.2, 0.4]","(0.4, 0.5]",All
predicted_label: True,5.63,NaN,11.90,40.00,6.36
predicted_label: False,94.37,NaN,88.10,60.00,93.64
true_label: True,18.28,NaN,33.33,46.67,19.27
true_label: False,81.72,NaN,66.67,53.33,80.73
true_label: All,94.67,0.0,3.93,1.40,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

n_addresses_to_gr_6     (1, 1.5]  (1.5, 2]  (2, 2.5]  (2.5, 3]     All
predicted_label: True       5.49     19.70       NaN      0.00    6.36
predicted_label: False     94.51     80.30       NaN    100.00   93.64
true_label: True           18.16     34.85       NaN    100.00   19.27
true_label: False          81.84     65.15       NaN      0.00   80.73
true_label: All            93.73      6.17       0.0      0.09  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

seventh_math_normalized,"(-3.3, -1.8]","(-1.8, -0.3]","(-0.3, 1.2]","(1.2, 2.6]","(2.6, 4.1]",All
predicted_label: True,42.86,16.39,3.28,0.00,0.00,7.87
predicted_label: False,57.14,83.61,96.72,100.00,100.00,92.13
true_label: True,42.86,29.04,14.75,9.63,0.00,19.15
true_label: False,57.14,70.96,85.25,90.37,100.00,80.85
true_label: All,2.12,32.32,50.79,14.16,0.61,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_unexcused_gr_7,"(-0.02, 4.6]","(4.6, 9.2]","(9.2, 13.8]","(13.8, 18.4]","(18.4, 23]",All
predicted_label: True,9.84,21.74,0.00,25.00,0.00,10.19
predicted_label: False,90.16,78.26,100.00,75.00,100.00,89.81
true_label: True,20.49,41.30,22.22,50.00,50.00,21.31
true_label: False,79.51,58.70,77.78,50.00,50.00,78.69
true_label: All,95.65,3.28,0.64,0.29,0.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

sixth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.33,0.00,25.73,24.24,7.49,7.67
predicted_label: False,99.67,100.00,74.27,75.76,92.51,92.33
true_label: True,9.36,9.25,35.09,30.30,20.85,18.76
true_label: False,90.64,90.75,64.91,69.70,79.15,81.24
true_label: All,23.18,13.41,13.26,2.56,47.60,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_wkd_5_gr_7,"(-0.007, 1.4]","(1.4, 2.8]","(2.8, 4.2]","(4.2, 5.6]","(5.6, 7]",All
predicted_label: True,10.14,6.67,15.38,0.00,50.00,10.19
predicted_label: False,89.86,93.33,84.62,100.00,50.00,89.81
true_label: True,21.01,26.67,30.77,50.00,100.00,21.31
true_label: False,78.99,73.33,69.23,50.00,0.00,78.69
true_label: All,97.72,1.07,0.93,0.14,0.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_gr_6,"(-0.08, 15.3]","(15.3, 30.6]","(30.6, 45.9]","(45.9, 61.2]","(61.2, 76.5]",All
predicted_label: True,9.97,13.83,0.00,0.00,0.00,10.19
predicted_label: False,90.03,86.17,100.00,100.00,100.00,89.81
true_label: True,20.48,30.85,66.67,100.00,0.00,21.31
true_label: False,79.52,69.15,33.33,0.00,100.00,78.69
true_label: All,92.94,6.70,0.21,0.07,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

city_transition_in_gr_7  False   True     All
predicted_label: True     5.43  36.00    6.13
predicted_label: False   94.57  64.00   93.87
true_label: True         19.66  44.00   20.22
true_label: False        80.34  56.00   79.78
true_label: All          97.71   2.29  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_consec_gr_7,"(-0.07, 14.8]","(14.8, 29.6]","(29.6, 44.4]","(44.4, 59.2]","(59.2, 74]",All
predicted_label: True,9.72,54.55,100.00,0.00,100.00,10.19
predicted_label: False,90.28,45.45,0.00,100.00,0.00,89.81
true_label: True,20.73,81.82,100.00,0.00,100.00,21.31
true_label: False,79.27,18.18,0.00,100.00,0.00,78.69
true_label: All,99.00,0.78,0.07,0.07,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fourth_math_percentile,"(0.004, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,22.47,11.38,4.50,0.70,0.38,7.40
predicted_label: False,77.53,88.62,95.50,99.30,99.62,92.60
true_label: True,33.04,28.46,14.86,11.27,7.92,18.57
true_label: False,66.96,71.54,85.14,88.73,92.08,81.43
true_label: All,18.25,19.77,17.85,22.83,21.30,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_interventions_classes_gr_6  False   True     All
predicted_label: True            8.89  25.45   10.19
predicted_label: False          91.11  74.55   89.81
true_label: True                20.96  25.45   21.31
true_label: False               79.04  74.55   78.69
true_label: All                 92.16   7.84  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_wkd_1_gr_7,"(-0.006, 1.2]","(1.2, 2.4]","(2.4, 3.6]","(3.6, 4.8]","(4.8, 6]",All
predicted_label: True,9.93,33.33,10.00,0.00,0.00,10.19
predicted_label: False,90.07,66.67,90.00,100.00,100.00,89.81
true_label: True,20.88,38.89,40.00,33.33,50.00,21.31
true_label: False,79.12,61.11,60.00,66.67,50.00,78.69
true_label: All,97.65,1.28,0.71,0.21,0.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_absent_excused_gr_7,"(-0.09, 17.2]","(17.2, 34.4]","(34.4, 51.6]","(51.6, 68.8]","(68.8, 86]",All
predicted_label: True,9.06,25.61,50.00,0.00,100.00,10.19
predicted_label: False,90.94,74.39,50.00,100.00,0.00,89.81
true_label: True,19.56,46.34,75.00,0.00,100.00,21.31
true_label: False,80.44,53.66,25.00,100.00,0.00,78.69
true_label: All,93.66,5.84,0.29,0.14,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

seventh_read_normalized,"(-3.4, -2.1]","(-2.1, -0.9]","(-0.9, 0.4]","(0.4, 1.7]","(1.7, 2.9]",All
predicted_label: True,42.11,26.70,6.68,1.03,0.00,7.87
predicted_label: False,57.89,73.30,93.32,98.97,100.00,92.13
true_label: True,31.58,37.86,20.22,11.09,8.45,19.14
true_label: False,68.42,62.14,79.78,88.91,91.55,80.86
true_label: All,1.44,15.58,40.77,36.84,5.37,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_science_percentile,"(0.003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,28.94,12.97,4.65,2.42,1.04,9.02
predicted_label: False,71.06,87.03,95.35,97.58,98.96,90.98
true_label: True,37.45,24.27,20.93,13.29,7.27,19.60
true_label: False,62.55,75.73,79.07,86.71,92.73,80.40
true_label: All,17.38,17.68,19.08,24.48,21.38,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_absent_gr_6,"(-0.08, 15.3]","(15.3, 30.6]","(30.6, 45.9]","(45.9, 61.2]","(61.2, 76.5]",All
predicted_label: True,9.97,13.83,0.00,0.00,0.00,10.19
predicted_label: False,90.03,86.17,100.00,100.00,100.00,89.81
true_label: True,20.48,30.85,66.67,100.00,0.00,21.31
true_label: False,79.52,69.15,33.33,0.00,100.00,78.69
true_label: All,92.94,6.70,0.21,0.07,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

avg_district_change_to_gr_6,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,5.38,9.68,42.11,NaN,50.00,6.36
predicted_label: False,94.62,90.32,57.89,NaN,50.00,93.64
true_label: True,18.15,27.42,47.37,NaN,50.00,19.27
true_label: False,81.85,72.58,52.63,NaN,50.00,80.73
true_label: All,92.24,5.80,1.78,0.0,0.19,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_future_prep_classes_gr_7  (-0.001, 0.3]  (0.3, 0.7]  (0.7, 1]     All
predicted_label: True                  9.51         NaN      4.08    8.89
predicted_label: False                90.49         NaN     95.92   91.11
true_label: True                      21.64         NaN     15.65   20.96
true_label: False                     78.36         NaN     84.35   79.04
true_label: All                       88.63         0.0     11.37  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_math_normalized,"(-2.5, -1.4]","(-1.4, -0.3]","(-0.3, 0.8]","(0.8, 1.9]","(1.9, 3.0006]",All
predicted_label: True,39.08,16.48,2.84,0.77,0.00,9.1
predicted_label: False,60.92,83.52,97.16,99.23,100.00,90.9
true_label: True,51.72,27.69,12.67,11.97,2.50,19.6
true_label: False,48.28,72.31,87.33,88.03,97.50,80.4
true_label: All,6.43,32.32,39.13,19.16,2.96,100.0

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

sixth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.07,0.71,23.08,38.10,6.57,7.70
predicted_label: False,98.93,99.29,76.92,61.90,93.43,92.30
true_label: True,13.93,8.31,33.85,41.90,22.57,18.74
true_label: False,86.07,91.69,66.15,58.10,77.43,81.26
true_label: All,21.77,32.74,10.11,8.16,27.22,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

n_addresses_to_gr_7,"(1, 1.6]","(1.6, 2.2]","(2.2, 2.8]","(2.8, 3.4]","(3.4, 4]",All
predicted_label: True,5.93,18.52,NaN,12.50,0.00,6.89
predicted_label: False,94.07,81.48,NaN,87.50,100.00,93.11
true_label: True,19.16,30.86,NaN,75.00,0.00,20.39
true_label: False,80.84,69.14,NaN,25.00,100.00,79.61
true_label: All,91.95,7.25,0.0,0.72,0.09,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

seventh_math_percentile,"(-0.0005, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,25.60,8.91,4.30,2.46,0.00,7.87
predicted_label: False,74.40,91.09,95.70,97.54,100.00,92.13
true_label: True,36.80,25.10,18.75,10.53,7.42,19.15
true_label: False,63.20,74.90,81.25,89.47,92.58,80.85
true_label: All,18.93,18.70,19.38,21.57,21.42,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

school_program_gr_7     (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           10.22      0.00   10.19
predicted_label: False          89.78    100.00   89.81
true_label: True                21.37      0.00   21.31
true_label: False               78.63    100.00   78.69
true_label: All                 99.71      0.29  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_present_gr_6,"(-0.2, 36]","(36, 72]","(72, 108]","(108, 144]","(144, 180]",All
predicted_label: True,6.25,6.25,16.00,36.36,9.74,10.19
predicted_label: False,93.75,93.75,84.00,63.64,90.26,89.81
true_label: True,43.75,37.50,36.00,50.00,20.09,21.31
true_label: False,56.25,62.50,64.00,50.00,79.91,78.69
true_label: All,1.14,1.14,1.78,1.57,94.37,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_read_percentile,"(0.0007, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,21.95,8.58,6.28,1.12,0.34,6.83
predicted_label: False,78.05,91.42,93.72,98.88,99.66,93.17
true_label: True,32.68,22.01,18.84,11.19,9.43,17.91
true_label: False,67.32,77.99,81.16,88.81,90.57,82.09
true_label: All,16.47,21.53,16.63,21.53,23.86,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

seventh_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.00,18.50,34.78,6.00,7.87
predicted_label: False,100.00,100.00,81.50,65.22,94.00,92.13
true_label: True,5.98,9.23,33.00,36.96,20.58,19.15
true_label: False,94.02,90.77,67.00,63.04,79.42,80.85
true_label: All,19.00,14.76,15.14,6.96,44.13,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_socstudies_normalized,"(-3.2, -1.9]","(-1.9, -0.6]","(-0.6, 0.7]","(0.7, 2]","(2, 3.3]",All
predicted_label: True,38.10,17.75,4.51,0.32,0.00,6.84
predicted_label: False,61.90,82.25,95.49,99.68,100.00,93.16
true_label: True,28.57,30.80,17.36,7.35,8.82,17.78
true_label: False,71.43,69.20,82.64,92.65,91.18,82.22
true_label: All,1.69,22.20,48.19,25.18,2.74,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

oss_gr_6,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,9.59,28.95,25.00,0.00,0.00,10.19
predicted_label: False,90.41,71.05,75.00,100.00,100.00,89.81
true_label: True,19.93,63.16,50.00,0.00,100.00,21.31
true_label: False,80.07,36.84,50.00,100.00,0.00,78.69
true_label: All,96.58,2.71,0.57,0.07,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

future_prep_gpa_gr_6,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,40.00,NaN,0.00,0.00,11.36,11.29
predicted_label: False,60.00,NaN,100.00,100.00,88.64,88.71
true_label: True,40.00,NaN,0.00,20.00,22.73,22.58
true_label: False,60.00,NaN,100.00,80.00,77.27,77.42
true_label: All,8.06,0.0,4.84,16.13,70.97,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

oss_gr_7,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,9.56,14.04,45.45,60.00,0.00,10.19
predicted_label: False,90.44,85.96,54.55,40.00,100.00,89.81
true_label: True,19.71,40.35,81.82,80.00,100.00,21.31
true_label: False,80.29,59.65,18.18,20.00,0.00,78.69
true_label: All,94.73,4.06,0.78,0.36,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_read_percentile,"(0.0003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,30.04,11.11,5.71,1.61,1.31,9.09
predicted_label: False,69.96,88.89,94.29,98.39,98.69,90.91
true_label: True,39.48,24.36,18.02,10.08,10.16,19.59
true_label: False,60.52,75.64,81.98,89.92,89.84,80.41
true_label: All,17.22,17.29,24.61,18.33,22.54,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

n_cities_to_gr_6        (1, 1.3]  (1.3, 1.7]  (1.7, 2]     All
predicted_label: True       5.63         NaN     19.30    6.36
predicted_label: False     94.37         NaN     80.70   93.64
true_label: True           18.28         NaN     36.84   19.27
true_label: False          81.72         NaN     63.16   80.73
true_label: All            94.67         0.0      5.33  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

mid_year_withdraw_gr_6  False   True     All
predicted_label: True    5.00  54.55   22.58
predicted_label: False  95.00  45.45   77.42
true_label: True        30.00  54.55   38.71
true_label: False       70.00  45.45   61.29
true_label: All         64.52  35.48  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

health_gpa_gr_7,"(-0.004, 0.8]","(0.8, 1.6]","(1.6, 2.4]","(2.4, 3.2]","(3.2, 4]",All
predicted_label: True,25.00,5.00,15.15,7.83,2.17,4.44
predicted_label: False,75.00,95.00,84.85,92.17,97.83,95.56
true_label: True,41.67,30.00,33.33,25.22,14.55,18.37
true_label: False,58.33,70.00,66.67,74.78,85.45,81.63
true_label: All,1.48,2.47,8.14,14.18,73.74,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_interventions_classes_gr_7  False   True     All
predicted_label: True            8.89  25.45   10.19
predicted_label: False          91.11  74.55   89.81
true_label: True                20.96  25.45   21.31
true_label: False               79.04  74.55   78.69
true_label: All                 92.16   7.84  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_wkd_2_gr_6      (-0.002, 1]  (1, 2]     All
predicted_label: True         10.20    0.00   10.19
predicted_label: False        89.80  100.00   89.81
true_label: True              21.26  100.00   21.31
true_label: False             78.74    0.00   78.69
true_label: All               99.93    0.07  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.89,0.00,18.47,50.00,4.58,6.83
predicted_label: False,98.11,100.00,81.53,50.00,95.42,93.17
true_label: True,12.03,6.14,29.27,40.91,22.89,17.91
true_label: False,87.97,93.86,70.73,59.09,77.11,82.09
true_label: All,34.06,18.31,23.05,1.77,22.81,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

titlei_gr_6             (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           10.79      4.93   10.19
predicted_label: False          89.21     95.07   89.81
true_label: True                22.20     13.38   21.31
true_label: False               77.80     86.62   78.69
true_label: All                 89.88     10.12  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

discipline_incidents_gr_6,"(-0.03, 5]","(5, 10]","(10, 15]","(15, 20]","(20, 25]",All
predicted_label: True,9.99,37.50,11.11,0.00,50.00,10.19
predicted_label: False,90.01,62.50,88.89,100.00,50.00,89.81
true_label: True,20.84,62.50,55.56,0.00,50.00,21.31
true_label: False,79.16,37.50,44.44,100.00,50.00,78.69
true_label: All,98.50,0.57,0.64,0.14,0.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_absent_unexcused_gr_6,"(-0.02, 3.4]","(3.4, 6.8]","(6.8, 10.2]","(10.2, 13.6]","(13.6, 17]",All
predicted_label: True,10.17,12.12,14.29,0.00,0.00,10.19
predicted_label: False,89.83,87.88,85.71,100.00,100.00,89.81
true_label: True,20.71,45.45,28.57,0.00,33.33,21.31
true_label: False,79.29,54.55,71.43,100.00,66.67,78.69
true_label: All,96.72,2.35,0.50,0.21,0.21,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

sixth_read_normalized,"(-3.2, -1.8]","(-1.8, -0.4]","(-0.4, 1.008]","(1.008, 2.4]","(2.4, 3.8]",All
predicted_label: True,30.77,22.06,2.49,0.00,0.00,7.67
predicted_label: False,69.23,77.94,97.51,100.00,100.00,92.33
true_label: True,38.46,31.81,14.82,9.05,14.29,18.76
true_label: False,61.54,68.19,85.18,90.95,85.71,81.24
true_label: All,1.01,27.05,55.97,15.43,0.54,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

avg_address_change_to_gr_6,"(-0.001, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,5.49,12.24,37.50,NaN,50.00,6.36
predicted_label: False,94.51,87.76,62.50,NaN,50.00,93.64
true_label: True,18.16,32.65,43.75,NaN,50.00,19.27
true_label: False,81.84,67.35,56.25,NaN,50.00,80.73
true_label: All,93.73,4.58,1.50,0.0,0.19,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

street_transition_in_gr_7  False   True     All
predicted_label: True       5.48  25.71    6.13
predicted_label: False     94.52  74.29   93.87
true_label: True           19.57  40.00   20.22
true_label: False          80.43  60.00   79.78
true_label: All            96.80   3.20  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,2.72,0.00,27.91,44.23,4.81,9.1
predicted_label: False,97.28,100.00,72.09,55.77,95.19,90.9
true_label: True,10.88,10.91,31.16,53.85,18.94,19.6
true_label: False,89.12,89.09,68.84,46.15,81.06,80.4
true_label: All,24.48,8.14,15.90,3.85,47.63,100.0

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

disadvantagement_gr_6   economic   none     All
predicted_label: True      10.23  10.18   10.19
predicted_label: False     89.77  89.82   89.81
true_label: True           27.73  18.38   21.31
true_label: False          72.27  81.62   78.69
true_label: All            31.36  68.64  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

status_gr_6,active,esc,excel,foster,inactive,open_enrollment,All
predicted_label: True,5.26,0.0,0.00,25.00,27.91,0.00,5.94
predicted_label: False,94.74,100.0,100.00,75.00,72.09,100.00,94.06
true_label: True,18.26,100.0,17.65,75.00,41.86,14.89,19.37
true_label: False,81.74,0.0,82.35,25.00,58.14,85.11,80.63
true_label: All,89.26,0.1,1.63,0.38,4.12,4.51,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

n_records_to_gr_6,"(1, 1.8]","(1.8, 2.6]","(2.6, 3.4]","(3.4, 4.2]","(4.2, 5]",All
predicted_label: True,19.51,6.82,5.35,12.77,0.00,6.36
predicted_label: False,80.49,93.18,94.65,87.23,100.00,93.64
true_label: True,29.27,21.21,17.60,25.53,75.00,19.27
true_label: False,70.73,78.79,82.40,74.47,25.00,80.73
true_label: All,3.84,12.35,78.67,4.40,0.75,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

third_math_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,0.00,0.37,10.81,20.00,6.57,4.74
predicted_label: False,100.00,99.63,89.19,80.00,93.43,95.26
true_label: True,9.48,6.96,28.38,44.44,22.39,17.39
true_label: False,90.52,93.04,71.62,55.56,77.61,82.61
true_label: All,20.85,26.98,14.62,4.45,33.10,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

city_transition_in_gr_6  False   True     All
predicted_label: True     5.47  30.00    5.94
predicted_label: False   94.53  70.00   94.06
true_label: True         18.77  50.00   19.37
true_label: False        81.23  50.00   80.63
true_label: All          98.08   1.92  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

absence_wkd_1_gr_7,"(-0.02, 3.4]","(3.4, 6.8]","(6.8, 10.2]","(10.2, 13.6]","(13.6, 17]",All
predicted_label: True,9.36,23.64,36.36,NaN,100.00,10.19
predicted_label: False,90.64,76.36,63.64,NaN,0.00,89.81
true_label: True,19.91,45.45,63.64,NaN,100.00,21.31
true_label: False,80.09,54.55,36.36,NaN,0.00,78.69
true_label: All,95.22,3.92,0.78,0.0,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

third_math_normalized,"(-3.2, -1.9]","(-1.9, -0.5]","(-0.5, 0.8]","(0.8, 2.08]","(2.08, 3.4]",All
predicted_label: True,17.65,10.92,3.21,0.43,0.00,4.74
predicted_label: False,82.35,89.08,96.79,99.57,100.00,95.26
true_label: True,47.06,28.15,15.85,6.38,10.53,17.39
true_label: False,52.94,71.85,84.15,93.62,89.47,82.61
true_label: All,3.36,23.52,46.15,23.22,3.75,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

extracurr_program_gr_7  (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           10.49      0.00   10.19
predicted_label: False          89.51    100.00   89.81
true_label: True                21.50     15.00   21.31
true_label: False               78.50     85.00   78.69
true_label: All                 97.15      2.85  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

third_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.20,0.55,12.12,18.95,6.74,5.01
predicted_label: False,98.80,99.45,87.88,81.05,93.26,94.99
true_label: True,10.84,9.92,30.30,29.47,25.84,17.40
true_label: False,89.16,90.08,69.70,70.53,74.16,82.60
true_label: All,24.48,35.69,12.98,9.34,17.50,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

atheletics_gr_7         (-0.001, 0.5]  (0.5, 1]     All
predicted_label: True           13.12      4.15   10.19
predicted_label: False          86.88     95.85   89.81
true_label: True                25.61     12.45   21.31
true_label: False               74.39     87.55   78.69
true_label: All                 67.36     32.64  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

tardy_wkd_4_gr_7,"(-0.006, 1.2]","(1.2, 2.4]","(2.4, 3.6]","(3.6, 4.8]","(4.8, 6]",All
predicted_label: True,10.07,12.50,18.18,0.00,33.33,10.19
predicted_label: False,89.93,87.50,81.82,100.00,66.67,89.81
true_label: True,20.88,33.33,36.36,20.00,66.67,21.31
true_label: False,79.12,66.67,63.64,80.00,33.33,78.69
true_label: All,96.94,1.71,0.78,0.36,0.21,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

sixth_math_percentile,"(0.003, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,31.36,5.93,4.41,1.21,0.32,7.70
predicted_label: False,68.64,94.07,95.59,98.79,99.68,92.30
true_label: True,39.09,22.88,19.85,10.12,7.07,18.74
true_label: False,60.91,77.12,80.15,89.88,92.93,81.26
true_label: All,17.11,18.35,21.15,19.21,24.18,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_math_percentile,"(0.002, 0.2]","(0.2, 0.4]","(0.4, 0.6]","(0.6, 0.8]","(0.8, 1]",All
predicted_label: True,31.90,10.96,1.76,4.08,0.67,9.1
predicted_label: False,68.10,89.04,98.24,95.92,99.33,90.9
true_label: True,37.07,27.40,11.97,13.47,10.70,19.6
true_label: False,62.93,72.60,88.03,86.53,89.30,80.4
true_label: All,17.16,21.60,21.01,18.12,22.12,100.0

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_absent_unexcused_gr_7,"(-0.02, 4.5]","(4.5, 9]","(9, 13.5]","(13.5, 18]","(18, 22.5]",All
predicted_label: True,10.08,7.84,25.00,25.00,0.00,10.19
predicted_label: False,89.92,92.16,75.00,75.00,100.00,89.81
true_label: True,20.00,33.33,75.00,50.00,100.00,21.31
true_label: False,80.00,66.67,25.00,50.00,0.00,78.69
true_label: All,94.80,3.64,1.14,0.29,0.14,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

section_504_plan_gr_7       N      Y     All
predicted_label: True    6.01  18.18    6.13
predicted_label: False  93.99  81.82   93.87
true_label: True        20.24  18.18   20.22
true_label: False       79.76  81.82   79.78
true_label: All         98.99   1.01  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

future_prep_gpa_gr_7,"(0.7, 1.4]","(1.4, 2.02]","(2.02, 2.7]","(2.7, 3.3]","(3.3, 4]",All
predicted_label: True,20.0,11.11,0.00,7.14,1.94,4.08
predicted_label: False,80.0,88.89,100.00,92.86,98.06,95.92
true_label: True,40.0,33.33,100.00,17.86,10.68,15.65
true_label: False,60.0,66.67,0.00,82.14,89.32,84.35
true_label: All,3.4,6.12,1.36,19.05,70.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fifth_math_normalized,"(-2.6, -1.2]","(-1.2, 0.2]","(0.2, 1.6]","(1.6, 3]","(3, 4.4]",All
predicted_label: True,30.25,8.47,0.20,0.00,0.00,6.84
predicted_label: False,69.75,91.53,99.80,100.00,100.00,93.16
true_label: True,32.77,23.81,8.38,10.94,0.00,17.86
true_label: False,67.23,76.19,91.62,89.06,100.00,82.14
true_label: All,9.57,45.62,39.34,5.15,0.32,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

n_cities_to_gr_7        (1, 1.5]  (1.5, 2]  (2, 2.5]  (2.5, 3]     All
predicted_label: True       6.03     18.31       NaN     33.33    6.89
predicted_label: False     93.97     81.69       NaN     66.67   93.11
true_label: True           19.35     33.80       NaN     66.67   20.39
true_label: False          80.65     66.20       NaN     33.33   79.61
true_label: All            93.38      6.35       0.0      0.27  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_language_classes_gr_7  False   True     All
predicted_label: True       8.89  25.45   10.19
predicted_label: False     91.11  74.55   89.81
true_label: True           20.96  25.45   21.31
true_label: False          79.04  74.55   78.69
true_label: All            92.16   7.84  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

eighth_science_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.62,1.19,22.70,50.00,5.05,9.02
predicted_label: False,98.38,98.81,77.30,50.00,94.95,90.98
true_label: True,9.72,7.94,32.52,46.88,20.20,19.60
true_label: False,90.28,92.06,67.48,53.13,79.80,80.40
true_label: All,18.27,18.64,24.11,2.37,36.61,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

num_health_classes_gr_6  (-0.002, 0.5]  (0.5, 1]  (1, 1.5]  (1.5, 2]     All
predicted_label: True             9.94     13.33       NaN      2.08    8.89
predicted_label: False           90.06     86.67       NaN     97.92   91.11
true_label: True                 22.73     28.89       NaN      9.38   20.96
true_label: False                77.27     71.11       NaN     90.62   79.04
true_label: All                  81.67      3.48       0.0     14.85  100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

iss_gr_7,"(-0.01, 2.2]","(2.2, 4.4]","(4.4, 6.6]","(6.6, 8.8]","(8.8, 11]",All
predicted_label: True,10.09,7.69,100.00,NaN,100.00,10.19
predicted_label: False,89.91,92.31,0.00,NaN,0.00,89.81
true_label: True,20.97,46.15,100.00,NaN,100.00,21.31
true_label: False,79.03,53.85,0.00,NaN,0.00,78.69
true_label: All,98.93,0.93,0.07,0.0,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_absent_gr_7,"(-0.09, 17.2]","(17.2, 34.4]","(34.4, 51.6]","(51.6, 68.8]","(68.8, 86]",All
predicted_label: True,9.00,21.55,33.33,0.00,100.00,10.19
predicted_label: False,91.00,78.45,66.67,100.00,0.00,89.81
true_label: True,18.78,46.55,66.67,0.00,100.00,21.31
true_label: False,81.22,53.45,33.33,100.00,0.00,78.69
true_label: All,91.09,8.27,0.43,0.14,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

fourth_read_pl,Accelerated,Advanced,Basic,Limited,Proficient,All
predicted_label: True,1.56,0.00,11.71,31.17,9.84,7.40
predicted_label: False,98.44,100.00,88.29,68.83,90.16,92.60
true_label: True,9.80,7.56,32.43,33.77,23.77,18.57
true_label: False,90.20,92.44,67.57,66.23,76.23,81.43
true_label: All,36.09,9.57,8.92,6.19,39.23,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_absent_excused_gr_6,"(-0.08, 15.3]","(15.3, 30.6]","(30.6, 45.9]","(45.9, 61.2]","(61.2, 76.5]",All
predicted_label: True,10.06,12.99,0.00,0.00,0.00,10.19
predicted_label: False,89.94,87.01,100.00,100.00,100.00,89.81
true_label: True,20.80,28.57,50.00,100.00,0.00,21.31
true_label: False,79.20,71.43,50.00,0.00,100.00,78.69
true_label: All,94.23,5.49,0.14,0.07,0.07,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val

days_present_gr_7,"(-0.2, 36]","(36, 72]","(72, 108]","(108, 144]","(144, 180]",All
predicted_label: True,25.00,7.14,20.00,16.67,9.76,10.19
predicted_label: False,75.00,92.86,80.00,83.33,90.24,89.81
true_label: True,43.75,35.71,46.67,63.89,19.44,21.31
true_label: False,56.25,64.29,53.33,36.11,80.56,78.69
true_label: All,1.14,1.00,1.07,2.57,94.23,100.00

08_09_2016_grade_8_param_set_13_RF_ht_13254 RF not_on_time val