In [7]:
import os, sys
pathname = os.path.dirname(sys.argv[0])
full_pathname = os.path.abspath(pathname)
split_pathname = full_pathname.split(sep="mvesc")
base_pathname = os.path.join(split_pathname[0], "mvesc")
parentdir = os.path.join(base_pathname, "ETL")
sys.path.insert(0,parentdir)
from mvesc_utility_functions import *
import numpy as np
import pandas as pd
import operator

In [6]:
sys.path.insert(0,'/home/xcheng/mvesc/ETL/')
from mvesc_utility_functions import *

In [8]:
table = 'oaa_normalized_test2'
schema = 'model'
def wordGrade_to_numGrade(column):
    """ mapping from clumn name with word-number to numeric number, 
    e.g. third_read_ss->read_ss_gr_3
    
    :param str column: column name
    :return str new_column: new column name
    :rtype str
    """
    grade = column.split('_')[0]
    word2num = {'eighth':8, 'fifth':5, 'fourth':4, 'seventh':7, 'sixth':6, 'third':3}
    if grade in word2num:
        subject = column.split('_')[1:]
        new_column = '_'.join(subject)+'_gr_'+str(word2num[grade])
        return(new_column)
    else:
        return('')
    
with postgres_pgconnection_generator() as conn:
    conn.autocommit = True
    with conn.cursor() as cursor:
        oaa  = read_table_to_df(conn, table_name=table, schema=schema)
        columns = oaa.columns[1:]
        dict_newcolumns = {c:wordGrade_to_numGrade(c) for c in columns}
        for c in dict_newcolumns:
            sqlcmd = """ALTER TABLE {s}.{t} RENAME COLUMN {c} TO {nc};
            """.format(s=schema, t=table, c=c, nc=dict_newcolumns[c])
            #print(sqlcmd)
            cursor.execute(sqlcmd)
        conn.commit()

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN third_math_percentile TO math_percentile_gr_3;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_socstudies_percentile TO socstudies_percentile_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN seventh_math_percentile TO math_percentile_gr_7;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN sixth_math_pl TO math_pl_gr_6;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_science_normalized TO science_normalized_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_read_percentile TO read_percentile_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fourth_math_normalized TO math_normalized_gr_4;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_read_percentile TO read_percentile_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_read_pl TO read_pl_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN sixth_math_normalized TO math_normalized_gr_6;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fourth_read_percentile TO read_percentile_gr_4;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_socstudies_pl TO socstudies_pl_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_math_normalized TO math_normalized_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN seventh_read_normalized TO read_normalized_gr_7;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fourth_read_normalized TO read_normalized_gr_4;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_math_pl TO math_pl_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_science_percentile TO science_percentile_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN third_read_normalized TO read_normalized_gr_3;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_science_pl TO science_pl_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fourth_math_pl TO math_pl_gr_4;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN sixth_read_normalized TO read_normalized_gr_6;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN seventh_math_normalized TO math_normalized_gr_7;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN third_math_pl TO math_pl_gr_3;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fourth_read_pl TO read_pl_gr_4;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN third_math_normalized TO math_normalized_gr_3;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN sixth_read_pl TO read_pl_gr_6;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_science_pl TO science_pl_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN third_read_pl TO read_pl_gr_3;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN sixth_math_percentile TO math_percentile_gr_6;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN seventh_read_pl TO read_pl_gr_7;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_science_percentile TO science_percentile_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_read_normalized TO read_normalized_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN seventh_math_pl TO math_pl_gr_7;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN seventh_read_percentile TO read_percentile_gr_7;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_math_percentile TO math_percentile_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN eighth_read_normalized TO read_normalized_gr_8;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_math_pl TO math_pl_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_socstudies_normalized TO socstudies_normalized_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN third_read_percentile TO read_percentile_gr_3;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_read_pl TO read_pl_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_science_normalized TO science_normalized_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_math_normalized TO math_normalized_gr_5;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN sixth_read_percentile TO read_percentile_gr_6;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fourth_math_percentile TO math_percentile_gr_4;

ALTER TABLE model.oaa_normalized_test2 RENAME COLUMN fifth_math_percentile TO math_percentile_gr_5;

In [103]:
with postgres_pgconnection_generator() as conn:
    conn.autocommit = True
    with conn.cursor() as cursor:
        oaa  = read_table_to_df(conn, table_name=table, schema=schema)

In [104]:
dict_newcolumns

{'math_normalized_gr_3': None,
 'math_normalized_gr_4': None,
 'math_normalized_gr_5': None,
 'math_normalized_gr_6': None,
 'math_normalized_gr_7': None,
 'math_normalized_gr_8': None,
 'math_percentile_gr_3': None,
 'math_percentile_gr_4': None,
 'math_percentile_gr_5': None,
 'math_percentile_gr_6': None,
 'math_percentile_gr_7': None,
 'math_percentile_gr_8': None,
 'math_pl_gr_3': None,
 'math_pl_gr_4': None,
 'math_pl_gr_5': None,
 'math_pl_gr_6': None,
 'math_pl_gr_7': None,
 'math_pl_gr_8': None,
 'none': None,
 'read_normalized_gr_3': None,
 'read_normalized_gr_4': None,
 'read_normalized_gr_5': None,
 'read_normalized_gr_6': None,
 'read_normalized_gr_7': None,
 'read_normalized_gr_8': None,
 'read_percentile_gr_3': None,
 'read_percentile_gr_4': None,
 'read_percentile_gr_6': None,
 'read_percentile_gr_7': None,
 'read_percentile_gr_8': None,
 'read_pl_gr_3': None,
 'read_pl_gr_4': None,
 'read_pl_gr_5': None,
 'read_pl_gr_6': None,
 'read_pl_gr_7': None,
 'read_pl_gr_8': None,
 'science_normalized_gr_5': None,
 'science_normalized_gr_8': None,
 'science_percentile_gr_5': None,
 'science_percentile_gr_8': None,
 'science_pl_gr_5': None,
 'science_pl_gr_8': None,
 'socstudies_normalized_gr_5': None,
 'socstudies_percentile_gr_5': None,
 'socstudies_pl_gr_5': None}

In [105]:
oaa.columns=='none'

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False], dtype=bool)