### Development of OAAOGT cleaning

In [1]:
from mvesc_utility_functions import postgres_pgconnection_generator
import pandas as pd
import json

In [80]:
# Script to upload IRN_DORP_GRAD_RATE1415.xls
import pandas as pd
irn_file = "/mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.xls"
irn_df = pd.read_excel(irn_file, sheetname=0)
raw_irn_newoldcol_dict = {old:'_'.join(old.lower().split(' '))\
 .replace('graduation', 'grad').replace('-_class_of_', 'class').replace('class_of_', 'class')\
 .replace('percent', 'pct').replace('of_', '')\
 .replace('(','').replace(')','')\
 for old in irn_df.columns}
raw_irn_newoldcol_dict['Percent of 4 Year Graduation Cohort (Class of 2014) Earning 3 or More Dual Enrollment Credits']\
= 'pct_4year_grad_class2014_earning_3_or_more_credits'
raw_irn_newoldcol_dict['Percent of 4 Year Graduation Cohort (Class of 2014) Earning Industry Recognized Credentials']\
= 'pct_4_year_grad_class2014_earning_industry_recog_credentials'
raw_irn_newoldcol_dict['Phone #'] = 'phone'

new_irn_df = irn_df.rename(columns=raw_irn_newoldcol_dict)
new_irn_df.to_csv(irn_file.split('.')[0]+'.csv')

In [61]:
'(abc)'.replace('(', '')

'abc)'

In [96]:
""" Script to process and upload excel files to postgres
- will be updated regularly
- each section marked by '#++++++' is for one excel file
- procedure is commented briefly in script and more in ETL_README (coming after Jul 8)
""" 
import pandas as pd
import os
import re
from sqlalchemy import create_engine
from csv2postgres_mvesc import postgresql_engine_generator_mvesc

#++++++ Functions only for the Excel files ++++++#
def combine_colnames(col1, col2):
    """combine the colnames from 2 rows: !! Only works in this specific case
    :param str col1: first column-name
    :param str col2: second column-name
    :return str new_col: combined new column name
    :return str
    """
    new_col = "pct_same_"
    schoolyear = col2[2:4] + col2[7:9]
    if "district" in col1.lower():
        dist_school = "district_"
    else:
        dist_school = "school_"
    
    if "less" in col1.lower():
        more_less = "less_"
    else:
        more_less = "more_"
    new_col = new_col+dist_school+more_less+'a_year_'+schoolyear  
    return new_col



def df2postgres(df, table_name, nrows=-1, if_exists='fail', schema='raw'):
    """ dump dataframe object to postgres database
    
    :param pandas.DataFrame df: dataframe
    :param int nrows: number of rows to write to table;
    :return str table_name: table name of the sql table
    :rtype str
    """
    # create a postgresql engine to wirte to postgres
    engine = postgresql_engine_generator_mvesc()
    
    #write the data frame to postgres
    if nrows==-1:
        df.to_sql(table_name, engine, schema=schema, index=False, if_exists=if_exists)
    else:
        df.iloc[:nrows, :].to_sql(table_name, engine, schema=schema, index=False, if_exists=if_exists)
    return table_name


#++++++ ~/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.xls ++++++#
# -1. produce a `.csv` file with correct column names
# -2. call terminal command to use `csv2postgres_mvesc.py` in python
irn_file = "/mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.xls"
print('\n--- processing: ', irn_file)
irn_df = pd.read_excel(irn_file, sheetname=0)
raw_irn_newoldcol_dict = {old:'_'.join(old.lower().split(' '))\
 .replace('graduation', 'grad').replace('-_class_of_', 'class').replace('class_of_', 'class')\
 .replace('percent', 'pct').replace('of_', '')\
 .replace('(','').replace(')','')\
 for old in irn_df.columns}
raw_irn_newoldcol_dict['Percent of 4 Year Graduation Cohort (Class of 2014) Earning 3 or More Dual Enrollment Credits']\
= 'pct_4year_grad_class2014_earning_3_or_more_credits'
raw_irn_newoldcol_dict['Percent of 4 Year Graduation Cohort (Class of 2014) Earning Industry Recognized Credentials']\
= 'pct_4_year_grad_class2014_earning_industry_recog_credentials'
raw_irn_newoldcol_dict['Phone #'] = 'phone'

new_irn_df = irn_df.rename(columns=raw_irn_newoldcol_dict)
new_irn_csv_name = irn_file.split('.')[0]+'.csv'
new_irn_df.to_csv(new_irn_csv_name)
print('Excel file column names corrected and saved as ', new_irn_csv_name)
print(os.popen("/home/jgutman/env/bin/python csv2postgres_mvesc.py -f\
/mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.csv -s public").read())
print(os.popen("/home/jgutman/env/bin/python csv2postgres_mvesc.py -f\
/mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.csv -s raw").read())


#++++++ ~/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.xls ++++++#
# -1. read Excel parser 
# -2. upload sheets one by one
filepath = '/mnt/data/mvesc/PartnerData/MVESC_DistrictRatings.xlsx'
excel_name = "DistrictRating"
schema='raw'
print('\n--- processing: ', filepath)
xl = pd.ExcelFile(filepath)
for sheet_name in xl.sheet_names:
    tab_name = excel_name + sheet_name[-4:]
    df = xl.parse(sheet_name)
    names = list(df.columns)
    newnames = ['_'.join(re.split('[, _\-#\(\)]+', name)).replace("%", 'pct').lower() for name in names ]
    def check_name_long(names, length=63):
        long_names = filter(lambda x: len(x)>length, names)
        return list(long_names)
    #print("Long column names:\n", check_name_long(newnames))
    newnames = [name[:63] for name in newnames]
    newnames_dict={names[i]:newnames[i] for i in range(len(names))}
    df = df.rename(columns=newnames_dict)
    table_name = df2postgres(df, tab_name, nrows=-1, if_exists='replace', schema=schema)
    print("sheet-table uploaded to mvesc: ", table_name)


#++++++ ~/PartnerData/MVESC_Mobility.xlsx ++++++#
# -1. read Excel parser 
# -2. upload sheets one by one
filepath='/mnt/data/mvesc/PartnerData/MVESC_Mobility.xlsx'
schema = 'raw'
print('\n--- processing: ', filepath)
df_Mobility = pd.read_excel(filepath, skiprows=1)
df_Mobility2 = pd.read_excel(filepath)
first3cols = ['district_code', 'district', 'metrics']
col1=df_Mobility.columns[3:] # only columns which need to be combined
col2=df_Mobility2.columns[3:]

new_colnames = first3cols + [combine_colnames(col1[i], col2[i]) for i in range(len(col1)) ]
new_colnames_dict = {df_Mobility.columns[i]:new_colnames[i] for i in range(len(new_colnames))}
df_Mobility=df_Mobility.rename(columns=new_colnames_dict)
df_Mobility=df_Mobility.drop('metrics', axis=1)
table_name = df2postgres(df_Mobility, "Mobility_2010_2015", nrows=-1, if_exists='replace', schema=schema)
print("table uploaded to mvesc: ", table_name)

--- processing:  /mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.xls
Excel file column names corrected and saved as  /mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.csv
Preparing file /mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.csv to upload to postgresql
File "IRN_DORP_GRAD_RATE1415.csv" already in json with table name "IRN_DORP_GRAD_RATE1415"
uploading data file "IRN_DORP_GRAD_RATE1415.csv"
Table already in mvesc: IRN_DORP_GRAD_RATE1415
Table uploaded: IRN_DORP_GRAD_RATE1415

Preparing file /mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.csv to upload to postgresql
File "IRN_DORP_GRAD_RATE1415.csv" already in json with table name "IRN_DORP_GRAD_RATE1415"
uploading data file "IRN_DORP_GRAD_RATE1415.csv"
Table already in mvesc: IRN_DORP_GRAD_RATE1415
Table uploaded: IRN_DORP_GRAD_RATE1415


--- processing:  /mnt/data/mvesc/PartnerData/MVESC_DistrictRatings.xlsx
sheet-table uploaded to mvesc:  DistrictRating1415
sheet-table uploaded to mvesc:  DistrictRating1314
sheet-table uploaded to mvesc:  DistrictRating1213
sheet-table uploaded to mvesc:  DistrictRating1112
sheet-table uploaded to mvesc:  DistrictRating1011

--- processing:  /mnt/data/mvesc/PartnerData/MVESC_Mobility.xlsx
table uploaded to mvesc:  Mobility_2010_2015

In [94]:
print(os.popen("/home/jgutman/env/bin/python csv2postgres_mvesc.py -f /mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.csv -s public").read())

Preparing file /mnt/data/mvesc/PartnerData/IRNSandWithdrawalCodes/IRN_DORP_GRAD_RATE1415.csv to upload to postgresql
File "IRN_DORP_GRAD_RATE1415.csv" already in json with table name "IRN_DORP_GRAD_RATE1415"
uploading data file "IRN_DORP_GRAD_RATE1415.csv"
Table already in mvesc: IRN_DORP_GRAD_RATE1415
Table uploaded: IRN_DORP_GRAD_RATE1415

In [3]:
def fetch_or_add_file2table_jsonfile(datafile, jsonfile='file_to_table_name_test.json'):
    """ Fetch table name from json file OR Add file:table to json
    
    step 1: check whether file and table exist in json file;
    step 2: if exist, return table_name; 
    if not exist, add file:table to json, then return table_name
    
    :param str datafile: datafile name, either absolute or relative path
    :param str jsonfile: json file name, default: 'file_to_table_name.json'
    :return str table_name
    :rtype str
    """
    # load json, keys, values
    with open(jsonfile, 'r') as f:
        file_table_names = json.load(f)
    existing_keys = list(file_table_names.keys())
    existing_values = list(file_table_names.values())
    
    # check datafile in json
    if '/' in datafile:
        datafile = datafile.split('/')[-1]
    if datafile in existing_keys:
        print("""File "{}" already in json with table name "{}" """.format(datafile, file_table_names[datafile]))
        return(file_table_names[datafile])
    else:
        table_name = datafile.split('.')[0]
        if table_name in existing_values:
            print("""Table "{}" already in json for a file """.format(table_name))
            return(None)
        else:
            file_table_names[datafile] = table_name
            with open(jsonfile, 'w') as f:
                json.dump(file_table_names, f, ensure_ascii=True, sort_keys=True, indent=4)
            print("""file:table "{}":"{}" added to json file """.format(datafile, file_table_names[datafile]))
            return table_name
    return(None)

In [1]:
import numpy as np
import pandas as pd
import psycopg2 as pg
import re
from sqlalchemy import create_engine
import sqlalchemy
import sys
import os

#import matplotlib.pyplot as plt
#%matplotlib inline

### Note before use:
The code is using 2 python-SQL connection interfaces: psycopg2 and sqlalchemy
    * In the functions, no worries because the function will look for credential and connections itself
    * In the scripts, run the script of "connection to database" first to set up the connections

### Connect to database
Just a test the connection; not necessary to run the csv-to-sql dump

In [47]:
# Connect to database; doesn't required for the next session of dumping csv to sql
pass_file = "/mnt/data/mvesc/pgpass" # username, db information
with open(pass_file, 'r') as f:
    passinfo = f.read()
passinfo = passinfo.strip().split(':')

host_address = passinfo[0]
port = passinfo[1]
user_name = passinfo[2]
name_of_database = passinfo[3]
user_password = passinfo[4]
sqlcmd_table_names = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"
connection = pg.connect(host=host_address, database=name_of_database, user=user_name, password=user_password)
all_table_names = pd.read_sql(sqlcmd_table_names, connection)
cursor = connection.cursor()
#sql alchemy format: dialect+driver://username:password@host:port/database
                  # 'postgresql://scott:tiger@localhost:5432/mydatabase'
sqlalchemy_eng = "postgresql://"+user_name+":"+user_password+"@"+host_address+'/'+name_of_database
engine = create_engine(sqlalchemy_eng)
print(all_table_names)

                    table_name
0            DistrictSchoolIDs
1                   all_lookup
2       CoshoctonGrades2006_16
3           Mobility_2010_2015
4     Ridgewoodgrades2007_2016
5   WestMuskingumgrades2006_16
6                  OAAOGT_0616
7        Franklingrades2006_16
8           MATVWMAbsences1415
9         CCFRRWRVabsence09_16
10          MATVWMAbsences1516
11      TriValleyGrades2006_16
12               Districts0607
13               Districts0708
14               Districts0809
15               Districts0910
16          DistrictRating1314
17          DistrictRating1011
18               Districts1011
19               Districts1112
20               Districts1213
21             CurrentMobility
22             CurrentStudents
23               ASQ_Preschool
24                   ActScores
25            AllDistricts1112
26                    HSGrades
27            AllDistricts1213
28               Districts1314
29                   AIRScores
30            AllDistricts1314
31    CurrentAbsenceDiscipline
32                    DIBELSv2
33            AllDistricts1415
34               AllGradsTotal
35                      OAAOGT
36                       PARCC
37                    StarRead
38                      StarEL
39                    StarMath
40                   TerraNova
41               Districts1415
42               Districts1516
43      Maysvillegrades2006_16
44      RiverViewgrades2006_16
45          DistrictRating1213
46          DistrictRating1415
47          DistrictRating1112

## Dumping CSV to postgresql
No column names changed

In [48]:
# functions to read and dump csv to sql server
def postgresql_engine_generator_mvesc():
    """ generate a string to create postgres engine
    Note: you can only run it on the mvesc-AWS-server
    :param None: None
    :return str sql_eng_str: string for function create_engine() in sqlalchemy
    :rtype str
    """
    pass_file = "/mnt/data/mvesc/pgpass" # username, db information
    with open(pass_file, 'r') as f:
        passinfo = f.read()
    passinfo = passinfo.strip().split(':')
    host_address = passinfo[0]
    port = passinfo[1]
    user_name = passinfo[2]
    name_of_database = passinfo[3]
    user_password = passinfo[4]
    sql_eng_str = "postgresql://"+user_name+":"+user_password+"@"+host_address+'/'+name_of_database
    return sql_eng_str

def read_csv_noheader(filepath):
    """ read a csv file with no header
    
    :param str filepath: file path name
    :return pandas.DataFrame with header 'col1', 'col2', ...
    :rtype pandas.DataFrame
    """
    df = pd.read_csv(filepath, header=None, low_memory=False) # read csv data with no header
    colnames = {i:'col'+str(i) for i in df.columns} # column names of col0, col1, col2, ... 
    df = df.rename(columns=colnames)
    return df

def csv2postgres_file(filepath, header=False, nrows=-1, if_exists='fail', schema="raw"):
    """ upload csv file to postgres database
    
    :param str filepath: file path name
    :param bool header: True means there is header;
    :return str table_name: table name of the sql table
    :rtype str
    """
    # read the data frame 
    if header:
        df = pd.read_csv(filepath, low_memory=False)
    else:
        df = read_csv_noheader(filepath) # header: col0, col1, col2
    
    # create a postgresql engine to wirte to postgres
    from sqlalchemy import create_engine
    import json
    sqlalchemy_eng = postgresql_engine_generator_mvesc() # a string with info to create engine
    engine = create_engine(sqlalchemy_eng)
    
    sqlcmd_table_names = "SELECT table_name FROM information_schema.tables WHERE table_schema = '%s'" % schema
    connection = pg.connect(host=host_address, database=name_of_database, user=user_name, password=user_password)
    all_table_names = list(pd.read_sql(sqlcmd_table_names, connection).table_name)
    
    #write the data frame to postgres
    file_name = filepath.split('/')[-1]
    file_table_names = json.load(open('file_to_table_name.json','r'))
    #table_name = filepath.split('/')[-1].split('.')[0] # table name is filename without .txt or other extension
    table_name = file_table_names[file_name]
    
    # check existing tables in sql first to avoid errors
    if table_name not in all_table_names or if_exists=='replace':
        if nrows==-1:
            df.to_sql(table_name, engine, schema=schema, index=False, if_exists=if_exists)
        else:
            df.iloc[:nrows, :].to_sql(table_name, engine, schema=schema, index=False, if_exists=if_exists)
    else:
        print("Table already in mvesc: ", table_name)
    return table_name


def csv2postgres_dir(directory, header=False, nrows=-1, if_exists='fail', schema='raw'):
    """ upload a directory of csv files to postgres database
    
    :param str filepath: file path name
    :param bool header: True means there is header;
    :return str table_name: table name of the sql table
    :rtype str
    """
    data_dir = directory
    data_file_names = os.listdir(data_dir)
    # full path name of filenames
    fnames = [data_dir + fn for fn in data_file_names]
    table_names = []
    for filepath in fnames:
        print("working on ", filepath)
        tab_name = csv2postgres_file(filepath, header=header, nrows=nrows, if_exists=if_exists, schema=schema)
        table_names.append(tab_name)
    return table_names

In [49]:
data_dir = '/mnt/data/mvesc/PartnerData/AbsenceDaysDetail/'
abs_table_names = csv2postgres_dir(data_dir, header=False, nrows=-1, if_exists='fail', schema='raw')  
print(abs_table_names)

data_dir = '/mnt/data/mvesc/PartnerData/DistrictGrades2006_16/'
grade_talbe_names = csv2postgres_dir(data_dir, header=True, nrows=-1, if_exists='fail', schema='raw')
print(grade_talbe_names)

### dump csv file by file
# data_dir = '/mnt/data/mvesc/PartnerData/AbsenceDaysDetail/' # top level data directory
# data_file_names = os.listdir(data_dir)
# # full path name of filenames
# fnames = [data_dir + fn for fn in data_file_names]
# table_names = []
# for filepath in fnames:
#     print("working on ", filepath)
#     tab_name = csv2postgres_file(filepath, header=False, nrows=-1, if_exists='replace')
#     table_names.append(tab_name)
    
# table_names

working on  /mnt/data/mvesc/PartnerData/AbsenceDaysDetail/MATVWMAbsences1415.txt
Table already in mvesc:  MATVWMAbsences1415
working on  /mnt/data/mvesc/PartnerData/AbsenceDaysDetail/CCFRRWRVabsence09_16.txt
Table already in mvesc:  CCFRRWRVabsence09_16
working on  /mnt/data/mvesc/PartnerData/AbsenceDaysDetail/MATVWMAbsences1516.txt
Table already in mvesc:  MATVWMAbsences1516
['MATVWMAbsences1415', 'CCFRRWRVabsence09_16', 'MATVWMAbsences1516']
working on  /mnt/data/mvesc/PartnerData/DistrictGrades2006_16/Maysvillegrades2006_16.txt
Table already in mvesc:  Maysvillegrades2006_16
working on  /mnt/data/mvesc/PartnerData/DistrictGrades2006_16/CoshoctonGrades2006_16.txt
Table already in mvesc:  CoshoctonGrades2006_16
working on  /mnt/data/mvesc/PartnerData/DistrictGrades2006_16/TriValleyGrades2006_16.txt
Table already in mvesc:  TriValleyGrades2006_16
working on  /mnt/data/mvesc/PartnerData/DistrictGrades2006_16/Ridgewoodgrades2007_2016.txt
Table already in mvesc:  Ridgewoodgrades2007_2016
working on  /mnt/data/mvesc/PartnerData/DistrictGrades2006_16/WestMuskingumgrades2006_16.txt
Table already in mvesc:  WestMuskingumgrades2006_16
working on  /mnt/data/mvesc/PartnerData/DistrictGrades2006_16/RiverViewgrades2006_16.txt
Table already in mvesc:  RiverViewgrades2006_16
working on  /mnt/data/mvesc/PartnerData/DistrictGrades2006_16/Franklingrades2006_16.txt
Table already in mvesc:  Franklingrades2006_16
['Maysvillegrades2006_16', 'CoshoctonGrades2006_16', 'TriValleyGrades2006_16', 'Ridgewoodgrades2007_2016', 'WestMuskingumgrades2006_16', 'RiverViewgrades2006_16', 'Franklingrades2006_16']

### OAAOGT_0616.txt upload 
p.s. Ric said to replace the old OAAOGT table, but they are different

In [51]:
filepath = '/mnt/data/mvesc/PartnerData/OAAOGT_0616.txt'
csv2postgres_file(filepath, header=True, nrows=-1, if_exists='fail', schema='raw')

Table already in mvesc:  OAAOGT_0616

'OAAOGT_0616'

## Change column names
##### 1. Only for tables with column names of col0, col1, col2
##### 2. No function is written because we need to rename the columns names manually

In [52]:
schema = 'raw'
all_table_names = pd.read_sql(sqlcmd_table_names, connection)
cursor = connection.cursor()
tab_names = ['MATVWMAbsences1415', 'CCFRRWRVabsence09_16', 'MATVWMAbsences1516']

def read_sql_topN(table, conn, N=10, schema='raw'):
    sqlcmd = "SELECT * FROM %s.\"%s\" LIMIT %d;" % (schema, table, N);
    df = pd.read_sql(sqlcmd, conn)
    return df

# Change column names of a specific table
tab_name = tab_names[1] # table name
df = read_sql_topN(tab_name, connection, 5, schema=schema) # read the top N line to see the columns
oldcol = list(df.columns) # list of column names
newcol = ['StudentLookup', 'Date', 'AbsenceLength', 'AbsenceCode', 'AbsenceDesc', 'School'] # new names after checing df
sqlcmds = ['alter table %s.\"%s\" rename column \"%s\" to \"%s\";' % (schema, tab_name, oldcol[i], newcol[i]) for i in range(len(oldcol))]
#print(sqlcmds)
print("old table:\n", df)
if set(newcol) != set(oldcol):
    for sql in sqlcmds:
        cursor.execute(sql)
else:
    print("\nName already changed!\n")
connection.commit() # commit the column name change
print("new table:")
read_sql_topN(tab_name, connection, N=5)

old table:
    StudentLookup                 Date  AbsenceLength AbsenceCode  \
0           2540  2016-01-20 00:00:00            1.0           A
1           2540  2016-02-02 00:00:00            1.0           A
2           2540  2015-12-03 00:00:00            1.0           A
3           2540  2016-02-18 00:00:00            1.0           A
4           2540  2016-02-23 00:00:00            1.0           A

       AbsenceDesc School
0  Excused Absence   RWAR
1  Excused Absence   RWAR
2  Excused Absence   RWAR
3  Excused Absence   RWAR
4  Excused Absence   RWAR

Name already changed!

new table:

,StudentLookup,Date,AbsenceLength,AbsenceCode,AbsenceDesc,School
0,2540,2016-01-20 00:00:00,1.0,A,Excused Absence,RWAR
1,2540,2016-02-02 00:00:00,1.0,A,Excused Absence,RWAR
2,2540,2015-12-03 00:00:00,1.0,A,Excused Absence,RWAR
3,2540,2016-02-18 00:00:00,1.0,A,Excused Absence,RWAR
4,2540,2016-02-23 00:00:00,1.0,A,Excused Absence,RWAR

In [53]:
# Change column names of a specific table
tab_name = tab_names[0]
df = read_sql_topN(tab_name, connection, 5, schema='raw')
oldcol = list(df.columns)
newcol = ['StudentLookup', 'Date', 'AbsenceLength', 'AbsenceCode', 'AbsenceDesc', 'School', 'District']
sqlcmds = ['alter table %s.\"%s\" rename column \"%s\" to \"%s\";' % (schema, tab_name, oldcol[i], newcol[i]) for i in range(len(oldcol))]
#print(sqlcmds)
print("old table:\n", df)
if set(newcol) != set(oldcol):
    for sql in sqlcmds:
        cursor.execute(sql)
else:
    print("\nName already changed!\n")
connection.commit()
print("new table:")
read_sql_topN(tab_name, connection, N=5)

old table:
    StudentLookup                 Date  AbsenceLength AbsenceCode  \
0           5672  2014-09-02 00:00:00            0.0           R
1           5672  2014-11-04 00:00:00            0.5           A
2           5672  2014-11-05 00:00:00            1.0           A
3           5672  2014-12-17 00:00:00            0.5           A
4           5672  2015-02-23 00:00:00            1.0           A

       AbsenceDesc School   District
0  UNEXCUSED TARDY   MAES  Maysville
1  EXCUSED ABSENCE   MAES  Maysville
2  EXCUSED ABSENCE   MAES  Maysville
3  EXCUSED ABSENCE   MAES  Maysville
4  EXCUSED ABSENCE   MAES  Maysville

Name already changed!

new table:

,StudentLookup,Date,AbsenceLength,AbsenceCode,AbsenceDesc,School,District
0,5672,2014-09-02 00:00:00,0.0,R,UNEXCUSED TARDY,MAES,Maysville
1,5672,2014-11-04 00:00:00,0.5,A,EXCUSED ABSENCE,MAES,Maysville
2,5672,2014-11-05 00:00:00,1.0,A,EXCUSED ABSENCE,MAES,Maysville
3,5672,2014-12-17 00:00:00,0.5,A,EXCUSED ABSENCE,MAES,Maysville
4,5672,2015-02-23 00:00:00,1.0,A,EXCUSED ABSENCE,MAES,Maysville

In [54]:
# Change column names of a specific table
tab_name = tab_names[2]
df = read_sql_topN(tab_name, connection, 5,schema=schema)
oldcol = list(df.columns)
newcol = ['StudentLookup', 'Date', 'AbsenceLength', 'AbsenceCode', 'AbsenceDesc', 'School', 'District']
sqlcmds = ['alter table %s.\"%s\" rename column \"%s\" to \"%s\";' % (schema, tab_name, oldcol[i], newcol[i]) for i in range(len(oldcol))]
#print(sqlcmds)
print("old table:\n", df)
if set(newcol) != set(oldcol):
    for sql in sqlcmds:
        cursor.execute(sql)
else:
    print("\nName already changed!\n")
connection.commit()
print("new table:")
read_sql_topN(tab_name, connection, N=5)

old table:
    StudentLookup                 Date  AbsenceLength AbsenceCode  \
0           9885  2015-11-06 00:00:00            1.0           A
1           9885  2015-11-10 00:00:00            1.0           A
2           9885  2015-11-17 00:00:00            1.0           A
3           9885  2016-02-05 00:00:00            1.0           A
4           9885  2016-02-29 00:00:00            0.5           A

       AbsenceDesc School   District
0  EXCUSED ABSENCE   MAES  Maysville
1  EXCUSED ABSENCE   MAES  Maysville
2  EXCUSED ABSENCE   MAES  Maysville
3  EXCUSED ABSENCE   MAES  Maysville
4  EXCUSED ABSENCE   MAES  Maysville

Name already changed!

new table:

,StudentLookup,Date,AbsenceLength,AbsenceCode,AbsenceDesc,School,District
0,9885,2015-11-06 00:00:00,1.0,A,EXCUSED ABSENCE,MAES,Maysville
1,9885,2015-11-10 00:00:00,1.0,A,EXCUSED ABSENCE,MAES,Maysville
2,9885,2015-11-17 00:00:00,1.0,A,EXCUSED ABSENCE,MAES,Maysville
3,9885,2016-02-05 00:00:00,1.0,A,EXCUSED ABSENCE,MAES,Maysville
4,9885,2016-02-29 00:00:00,0.5,A,EXCUSED ABSENCE,MAES,Maysville

### Excel files processing

In [55]:
data_dir = '/mnt/data/mvesc/PartnerData/' # top level data directory
filepaths = filter(lambda x: ('.xlsx' in x) or ('.xls' in x), os.listdir(data_dir))
filepaths=[data_dir+f for f in filepaths]
filepaths

['/mnt/data/mvesc/PartnerData/MVESC_DistrictRatings.xlsx',
 '/mnt/data/mvesc/PartnerData/DistrictSchoolIDs.xls',
 '/mnt/data/mvesc/PartnerData/MVESC_Mobility.xlsx']

### 1. Mobility file: MVESC_Mobility.xlsx

In [45]:
def combine_colnames(col1, col2):
    """combine the colnames from 2 rows: !! Only works in this specific case
    :param str col1: first column-name
    :param str col2: second column-name
    :return str new_col: combined new column name
    :return str
    """
    new_col = "pct_same_"
    schoolyear = col2[2:4] + col2[7:9]
    if "district" in col1.lower():
        dist_school = "district_"
    else:
        dist_school = "school_"
    
    if "less" in col1.lower():
        more_less = "less_"
    else:
        more_less = "more_"
    new_col = new_col+dist_school+more_less+'a_year_'+schoolyear  
    return new_col



def df2postgres(df, table_name, nrows=-1, if_exists='fail', schema='raw'):
    """ dump dataframe object to postgres database
    
    :param pandas.DataFrame df: dataframe
    :param int nrows: number of rows to write to table;
    :return str table_name: table name of the sql table
    :rtype str
    """
    # create a postgresql engine to wirte to postgres
    from sqlalchemy import create_engine
    sqlalchemy_eng = postgresql_engine_generator_mvesc()
    engine = create_engine(sqlalchemy_eng)
    
    #write the data frame to postgres
    if nrows==-1:
        df.to_sql(table_name, engine, schema=schema, index=False, if_exists=if_exists)
    else:
        df.iloc[:nrows, :].to_sql(table_name, engine, schema=schema, index=False, if_exists=if_exists)
    return table_name

schema = 'raw'
df_Mobility = pd.read_excel(filepaths[1], skiprows=1)
df_Mobility2 = pd.read_excel(filepaths[1])
first3cols = ['district_code', 'district', 'metrics'] 
col1=df_Mobility.columns[3:] # only columns which need to be combined
col2=df_Mobility2.columns[3:]

new_colnames = first3cols + [combine_colnames(col1[i], col2[i]) for i in range(len(col1)) ]
new_colnames_dict = {df_Mobility.columns[i]:new_colnames[i] for i in range(len(new_colnames))}
df_Mobility=df_Mobility.rename(columns=new_colnames_dict)
df_Mobility=df_Mobility.drop('metrics', axis=1)
table_name = df2postgres(df_Mobility, "Mobility_2010_2015", nrows=-1, if_exists='replace', schema=schema)
print("table uploaded to mvesc: ", table_name)

table uploaded to mvesc:  Mobility_2010_2015

### 2. DistrictRatings: MVESC_DistrictRatings.xlsx
Small tables;
You may replace all tables by setting `if_exists='replace'`

In [46]:
excel_name = "DistrictRating"
schema='raw'
xl = pd.ExcelFile(filepaths[0])
for sheet_name in xl.sheet_names:
    tab_name = excel_name + sheet_name[-4:]
    df = xl.parse(sheet_name)
    names = list(df.columns)
    newnames = ['_'.join(re.split('[, _\-#\(\)]+', name)).replace("%", 'pct').lower() for name in names ]
    def check_name_long(names, length=63):
        long_names = filter(lambda x: len(x)>length, names)
        return list(long_names)
    print("Long column names:\n", check_name_long(newnames))
    newnames = [name[:63] for name in newnames]
    newnames_dict={names[i]:newnames[i] for i in range(len(names))}
    df = df.rename(columns=newnames_dict)
    table_name = df2postgres(df, tab_name, nrows=-1, if_exists='replace', schema=schema)
    print("table uploaded to mvesc: ", table_name, "\n")

Long column names:
 ['social_studies_11th_grade_ogt_2014_15_pct_at_or_above_proficient', 'social_studies_11th_grade_ogt_2013_14_pct_at_or_above_proficient', 'social_studies_11th_grade_ogt_2012_13_pct_at_or_above_proficient']
table uploaded to mvesc:  DistrictRating1415

Long column names:
 []
table uploaded to mvesc:  DistrictRating1314

Long column names:
 []
table uploaded to mvesc:  DistrictRating1213

Long column names:
 []
table uploaded to mvesc:  DistrictRating1112

Long column names:
 []
table uploaded to mvesc:  DistrictRating1011